<div _ngcontent-c8="" class="main">
  <div _ngcontent-c8="" class="inner">


  <div _ngcontent-c8="">
    <div _ngcontent-c8="" class="Block Breadcrumb Moveable Panel">
      <ul _ngcontent-c8="" class="last">
        <li _ngcontent-c8=""><a _ngcontent-c8="" routerlink="/" routerlinkactive="active" ng-reflect-router-link="/" ng-reflect-router-link-active="active" href="/" class="active">Home</a></li>
        <li _ngcontent-c8=""><a _ngcontent-c8="" href="javascript:history.go(-1)">... Previous Page</a></li>
      </ul>
    </div>
    <h1 _ngcontent-c8="" class="TitleHeading">Thank you! Your order is complete.</h1>

    <div _ngcontent-c8="" _ngcontent-c6="" class="CreateAccount">
      <h3 _ngcontent-c8="" _ngcontent-c6="">Order number is: {{order.id}}</h3>
      <div _ngcontent-c8="" _ngcontent-c6="" style="display: ">
        <p _ngcontent-c8="" _ngcontent-c6="">Your order is being processed and you will shortly receive a confirmation email to {{order.email}}</p>
        <ul _ngcontent-c8="" _ngcontent-c6="">
          <li _ngcontent-c8="" _ngcontent-c6="">MTC Kitchen </li>
          <li _ngcontent-c8="" _ngcontent-c6="">Japanese Chef Knives, Japanese Tableware and Kitchenware </li>
          <hr>
          <p>© 2017 MTC Kitchen.</p>
        </ul>
        <button type="button" class="btn btn-default" routerLink="/products" routerLinkActive="active">Continue Shopping</button>
      </div>

      <hr _ngcontent-c8="">
      <div _ngcontent-c8="" class="box">
        <p _ngcontent-c8="">
          <!--<button _ngcontent-c8="" class="btn btn-default" routerlink="/login" routerlinkactive="active" tabindex="0" ng-reflect-router-link="/login" ng-reflect-router-link-active="active">-->
            <!--Sign In-->
          <!--</button>-->
          <button type="button" class="btn btn-default" routerLink="/" routerLinkActive="active">Return to store</button>
        </p>
      </div>
    </div>
  </div>
  </div>
</div>
