<div class="main">
  <div class="inner">

    <div class="Breadcrumb" id="ProductBreadcrumb">
      <ul class="last">
        <li><a href="https://www.mtckitchen.com">Home</a></li><li><a href="https://www.mtckitchen.com/japanese-knives/">Japanese Knives</a></li><li><a href="https://www.mtckitchen.com/japanese-knives/japanese-style/">Japanese Style</a></li><li><a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/">Yanagi (Sushi Knife)</a></li><li>Tsukiji Masamoto Honyaki White Steel Yanagi Knife 270mm (10.6")</li>
      </ul>

    </div>

    <link rel="stylesheet" type="text/css" href="https://cdn6.bigcommerce.com/r-f27826d477bd671c1e6fa1e4e23fe0818f7822aa/javascript/jquery/themes/cupertino/ui.all.css?">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn5.bigcommerce.com/r-de362a881829f428d7c6c20159e24db4a9c0a751/themes/__master/Styles/product.attributes.css?">
    <script type="text/javascript" src="https://cdn5.bigcommerce.com/r-f27826d477bd671c1e6fa1e4e23fe0818f7822aa/javascript/jquery/plugins/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn6.bigcommerce.com/r-f27826d477bd671c1e6fa1e4e23fe0818f7822aa/javascript/jquery/plugins/jquery.form.js?"></script>
    <script type="text/javascript" src="https://cdn6.bigcommerce.com/r-f27826d477bd671c1e6fa1e4e23fe0818f7822aa/javascript/product.attributes.js?"></script>
    <script type="text/javascript" src="https://cdn6.bigcommerce.com/r-f27826d477bd671c1e6fa1e4e23fe0818f7822aa/javascript/jquery/plugins/jCarousel/jCarousel.js?"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/js/cloudzoom/cloudzoom.css?">
    <script type="text/javascript" src="https://cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/js/cloudzoom/cloudzoom.js?"></script>
    <script type="text/javascript">//<![CDATA[
    var ZoomImageURLs = new Array();

    ZoomImageURLs[0] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42112\/90524__03837.1477409487.1280.1280.jpg?c=2";

    ZoomImageURLs[1] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42113\/90524_2___50055.1477409488.1280.1280.jpg?c=2";

    ZoomImageURLs[2] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42114\/90524_4___47621.1477409492.1280.1280.jpg?c=2";

    ZoomImageURLs[3] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42115\/90524_5___48390.1477409494.1280.1280.jpg?c=2";

    ZoomImageURLs[4] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42116\/90524_6___16749.1477409494.1280.1280.jpg?c=2";

    ZoomImageURLs[5] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42117\/90524_7___18359.1477409495.1280.1280.jpg?c=2";

    ZoomImageURLs[6] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42118\/90524_8___52367.1477409495.1280.1280.jpg?c=2";

    //]]></script>


    <script type="text/javascript">//<![CDATA[
    var ThumbURLs = new Array();
    var ProductImageDescriptions = new Array();
    var CurrentProdThumbImage = 0;
    var ShowVariationThumb =false;
    var ProductThumbWidth = 500;
    var ProductThumbHeight =  750;
    var ProductMaxZoomWidth = 1280;
    var ProductMaxZoomHeight =  1280;
    var ProductTinyWidth = 60;
    var ProductTinyHeight =  90;


    ThumbURLs[0] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42112\/90524__03837.1477409487.500.750.jpg?c=2";
    ProductImageDescriptions[0] = "Image 1";

    ThumbURLs[1] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42113\/90524_2___50055.1477409488.500.750.jpg?c=2";
    ProductImageDescriptions[1] = "Image 2";

    ThumbURLs[2] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42114\/90524_4___47621.1477409492.500.750.jpg?c=2";
    ProductImageDescriptions[2] = "Image 3";

    ThumbURLs[3] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42115\/90524_5___48390.1477409494.500.750.jpg?c=2";
    ProductImageDescriptions[3] = "Image 4";

    ThumbURLs[4] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42116\/90524_6___16749.1477409494.500.750.jpg?c=2";
    ProductImageDescriptions[4] = "Image 5";

    ThumbURLs[5] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42117\/90524_7___18359.1477409495.500.750.jpg?c=2";
    ProductImageDescriptions[5] = "Image 6";

    ThumbURLs[6] = "https:\/\/cdn6.bigcommerce.com\/s-ih7nl5lym4\/products\/23236\/images\/42118\/90524_8___52367.1477409495.500.750.jpg?c=2";
    ProductImageDescriptions[6] = "Image 7";


    //Don't enable Cloud Zoom (product image zoom) on touch device
    //Mouseenter/Mouseover events are not ideal for touch devices
    //for more info search for this code in /script/main.js
    if (('ontouchstart' in window) || (navigator.msMaxTouchPoints > 0)) {
      var ShowImageZoomer = false;
    } else {
      var ShowImageZoomer = 1;
    }

    var productId = 23236;
    //]]></script>


    <!--For Klaviyo-->
    <script type="text/javascript">
      var _learnq = _learnq || [];

      var item = {
        Name: "Tsukiji Masamoto Honyaki White Steel Yanagi Knife 270mm (10.6&quot;)",
        ProductID: 23236,
        ImageURL: ThumbURLs[0], // or ZoomImageURLs[0] if you'd like to use 1280x1280 images.
        URL: window.location.origin + window.location.pathname,
        Brand: "https://www.mtckitchen.com/brands/Tsukiji-Masamoto.html",
        Price: "920",
        CompareAtPrice: ""
      };

      _learnq.push(['track', 'Viewed Product', item]);

      _learnq.push(['trackViewedItem', {
        Title: item.Name,
        ItemId: item.ProductID,
        ImageUrl: item.ImageURL,
        Url: item.URL,

        Metadata: {
          Brand: item.Brand,
          Price: item.Price,
          CompareAtPrice: item.CompareAtPrice
        }
      }]);
    </script>
    <!--End Klaviyo-->


    <div class="Block Moveable Panel PrimaryProductDetails no-ptop" id="ProductDetails" itemscope="" itemtype="http://schema.org/Product">
      <div class="BlockContent">

        <!-- left-content -->
        <div class="left-content">
          <div class="ProductThumb" style="width: 520px; height: 877px;">
            <script type="text/javascript" src="https://cdn6.bigcommerce.com/r-f27826d477bd671c1e6fa1e4e23fe0818f7822aa/javascript/jquery/plugins/fancybox/fancybox.js?"></script>

            <link rel="stylesheet" type="text/css" href="https://cdn6.bigcommerce.com/r-f27826d477bd671c1e6fa1e4e23fe0818f7822aa/javascript/jquery/plugins/fancybox/fancybox.css" media="screen">

            <div id="LightBoxImages" style="display: none;"><!--  -->
              <a class="iframe" href="https://www.mtckitchen.com/productimage.php?product_id=23236"></a>
            </div>

            <script type="text/javascript">
              //<![CDATA[
              var originalImages = '';
              function showProductImageLightBox(TargetedImage) {
                var currentImage=0;
                if(TargetedImage) {
                  currentImage = TargetedImage;
                } else if(CurrentProdThumbImage!='undefined'){
                  currentImage = CurrentProdThumbImage;
                }
                if(ShowVariationThumb) {
                  var url = "https://www.mtckitchen.com/productimage.php?product_id=23236&image_rule_id=" + encodeURIComponent(ShowVariationThumb);
                } else {
                  var url = "https://www.mtckitchen.com/productimage.php?product_id=23236&current_image="+currentImage;
                }
                $('#LightBoxImages a').attr("href", url);

                initProductLightBox();

                $('#LightBoxImages a').trigger('click');
              }

              function initProductLightBox() {

                var w = $(window).width();
                var h = $(window).height();

                // tiny image box width plus 3 px margin, times the number of tiny images, plus the arrows width
                var carouselWidth = (64 + 3) * Math.min(10, 8) + 70;

                //the width of the prev and next link
                var navLinkWidth = 250;

                var requiredNavWidth = Math.max(carouselWidth, navLinkWidth);

                // calculate the width of the widest image after resized to fit the screen.
                // 200 is the space betewn the window frame and the light box frame.
                var wr = Math.min(w-200, 1280) / 1280;
                var hr = Math.min(h-200, 1280) / 1280;

                var r = Math.min(wr, hr);

                var imgResizedWidth = Math.round(r * 1280);
                var imgResizedHeight = Math.round(r * 1280);

                //calculate the width required for lightbox window
                var horizontalPadding = 100;
                var width = Math.min(w-100, Math.max(requiredNavWidth, imgResizedWidth+ horizontalPadding));
                var height = h-100;

                $('#LightBoxImages a').fancybox({
                  'frameWidth'	: width,
                  'frameHeight'	: height,
                  callbackOnStart : function(){
                    $('.zoomPad').css('z-index',0);
                  },
                  callbackOnClose : function(){
                    $('.zoomPad').css('z-index',90);
                  }
                });
              }

              $(document).ready(function() { originalImages = $('#LightBoxImages').html(); });
              //]]>
            </script>

            <div class="ProductThumbImage">
              <a rel="prodImage" style="margin:auto;" onclick="showProductImageLightBox(); return false; return false;">
                <img src={{selProduct.pro_SRC}} alt="Image 1" title="Image 1">
              </a>
            </div>

            <div class="ImageCarouselBox clearfix" style="margin: 0px auto; padding-left: 8px;">
              <a id="ImageScrollPrev" class="prev" href="#" style="display: inline;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/LeftArrow.png?t=1510584784" alt="" width="20" height="20"></a>
              <div class="ProductTinyImageList" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 444px;">
                <ul style="margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 518px; left: 0px;">
                  <li style="height: 94px; width: 64px; border: 1px solid rgb(7, 88, 153); opacity: 0.5; overflow: hidden; float: left;" onclick="showProductImageLightBox(0); return false;" onmouseover="showProductThumbImage(0, this)" id="TinyImageBox_0">
                    <div class="TinyOuterDiv" style="height: 90px; width: 60px; border: 2px solid rgb(7, 88, 153);">
                      <div style="height:90px; width:60px;">
                        <a href="javascript:void(0);" rel="{&quot;gallery&quot;: &quot;prodImage&quot;, &quot;smallimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42112/90524__03837.1477409487.500.750.jpg?c=2&quot;, &quot;largeimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42112/90524__03837.1477409487.1280.1280.jpg?c=2&quot;}"><img id="TinyImage_0" style="padding-top:15px;" width="60" height="60" src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42112/90524__03837.1477409487.60.90.jpg?c=2" alt="Image 1" title="Image 1"></a>
                      </div>
                    </div>
                  </li>
                  <li style="height: 94px; width: 64px; border: 1px solid gray; opacity: 1; overflow: hidden; float: left;" onclick="showProductImageLightBox(1); return false;" onmouseover="showProductThumbImage(1, this)" id="TinyImageBox_1">
                    <div class="TinyOuterDiv" style="height: 90px; width: 60px; border: 2px solid white;">
                      <div style="height:90px; width:60px;">
                        <a href="javascript:void(0);" rel="{&quot;gallery&quot;: &quot;prodImage&quot;, &quot;smallimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42113/90524_2___50055.1477409488.500.750.jpg?c=2&quot;, &quot;largeimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42113/90524_2___50055.1477409488.1280.1280.jpg?c=2&quot;}"><img id="TinyImage_1" style="padding-top:15px;" width="60" height="60" src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42113/90524_2___50055.1477409488.60.90.jpg?c=2" alt="Image 2" title="Image 2"></a>
                      </div>
                    </div>
                  </li>
                  <li style="height: 94px; width: 64px; border: 1px solid gray; opacity: 1; overflow: hidden; float: left;" onclick="showProductImageLightBox(2); return false;" onmouseover="showProductThumbImage(2, this)" id="TinyImageBox_2">
                    <div class="TinyOuterDiv" style="height: 90px; width: 60px; border: 2px solid white;">
                      <div style="height:90px; width:60px;">
                        <a href="javascript:void(0);" rel="{&quot;gallery&quot;: &quot;prodImage&quot;, &quot;smallimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42114/90524_4___47621.1477409492.500.750.jpg?c=2&quot;, &quot;largeimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42114/90524_4___47621.1477409492.1280.1280.jpg?c=2&quot;}"><img id="TinyImage_2" style="padding-top:15px;" width="60" height="60" src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42114/90524_4___47621.1477409492.60.90.jpg?c=2" alt="Image 3" title="Image 3"></a>
                      </div>
                    </div>
                  </li>
                  <li style="height: 94px; width: 64px; border: 1px solid gray; opacity: 1; overflow: hidden; float: left;" onclick="showProductImageLightBox(3); return false;" onmouseover="showProductThumbImage(3, this)" id="TinyImageBox_3">
                    <div class="TinyOuterDiv" style="height: 90px; width: 60px; border: 2px solid white;">
                      <div style="height:90px; width:60px;">
                        <a href="javascript:void(0);" rel="{&quot;gallery&quot;: &quot;prodImage&quot;, &quot;smallimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42115/90524_5___48390.1477409494.500.750.jpg?c=2&quot;, &quot;largeimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42115/90524_5___48390.1477409494.1280.1280.jpg?c=2&quot;}"><img id="TinyImage_3" style="padding-top:15px;" width="60" height="60" src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42115/90524_5___48390.1477409494.60.90.jpg?c=2" alt="Image 4" title="Image 4"></a>
                      </div>
                    </div>
                  </li>
                  <li style="height: 94px; width: 64px; border: 1px solid gray; opacity: 1; overflow: hidden; float: left;" onclick="showProductImageLightBox(4); return false;" onmouseover="showProductThumbImage(4, this)" id="TinyImageBox_4">
                    <div class="TinyOuterDiv" style="height: 90px; width: 60px; border: 2px solid white;">
                      <div style="height:90px; width:60px;">
                        <a href="javascript:void(0);" rel="{&quot;gallery&quot;: &quot;prodImage&quot;, &quot;smallimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42116/90524_6___16749.1477409494.500.750.jpg?c=2&quot;, &quot;largeimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42116/90524_6___16749.1477409494.1280.1280.jpg?c=2&quot;}"><img id="TinyImage_4" style="padding-top:15px;" width="60" height="60" src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42116/90524_6___16749.1477409494.60.90.jpg?c=2" alt="Image 5" title="Image 5"></a>
                      </div>
                    </div>
                  </li>
                  <li style="height: 94px; width: 64px; border: 1px solid gray; opacity: 1; overflow: hidden; float: left;" onclick="showProductImageLightBox(5); return false;" onmouseover="showProductThumbImage(5, this)" id="TinyImageBox_5">
                    <div class="TinyOuterDiv" style="height: 90px; width: 60px; border: 2px solid white;">
                      <div style="height:90px; width:60px;">
                        <a href="javascript:void(0);" rel="{&quot;gallery&quot;: &quot;prodImage&quot;, &quot;smallimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42117/90524_7___18359.1477409495.500.750.jpg?c=2&quot;, &quot;largeimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42117/90524_7___18359.1477409495.1280.1280.jpg?c=2&quot;}"><img id="TinyImage_5" style="padding-top:15px;" width="60" height="60" src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42117/90524_7___18359.1477409495.60.90.jpg?c=2" alt="Image 6" title="Image 6"></a>
                      </div>
                    </div>
                  </li>
                  <li style="height: 94px; width: 64px; border: 1px solid gray; opacity: 1; overflow: hidden; float: left;" onclick="showProductImageLightBox(6); return false;" onmouseover="showProductThumbImage(6, this)" id="TinyImageBox_6">
                    <div class="TinyOuterDiv" style="height: 90px; width: 60px; border: 2px solid white;">
                      <div style="height:90px; width:60px;">
                        <a href="javascript:void(0);" rel="{&quot;gallery&quot;: &quot;prodImage&quot;, &quot;smallimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42118/90524_8___52367.1477409495.500.750.jpg?c=2&quot;, &quot;largeimage&quot;: &quot;https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42118/90524_8___52367.1477409495.1280.1280.jpg?c=2&quot;}"><img id="TinyImage_6" style="padding-top:15px;" width="60" height="60" src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42118/90524_8___52367.1477409495.60.90.jpg?c=2" alt="Image 7" title="Image 7"></a>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
              <a id="ImageScrollNext" class="next" href="#" style="display: inline;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/RightArrow.png?t=1510584784" alt="" width="20" height="20"></a>
            </div>
            <div style="display:none;" class="SeeMorePicturesLink">
              <a href="#" onclick="showProductImageLightBox(); return false; return false;" class="ViewLarger">See 6 more pictures</a>
            </div>

            <div class="PinterestButtonContainer">
              <a class="PIN_1510585475571_button_pin PIN_1510585475571_save" href="https://www.pinterest.com/pin/create/button/?guid=xCjQV8uZrAT9-1&amp;url=https%3A%2F%2Fwww.mtckitchen.com%2Ftsukiji-masamoto-honyaki-white-steel-yanagi-knife-270mm-10-6%2F&amp;media=https%3A%2F%2Fcdn6.bigcommerce.com%2Fs-ih7nl5lym4%2Fproducts%2F23236%2Fimages%2F42112%2F90524__03837.1477409487.1280.1280.jpg&amp;description=Tsukiji%20Masamoto%20Honyaki%20White%20Steel%20Yanagi%20Knife%20270mm%20(10.6%22)%20-%20MTC%20Kitchen" data-pin-log="button_pinit" data-pin-href="https://www.pinterest.com/pin/create/button/?guid=xCjQV8uZrAT9-1&amp;url=https%3A%2F%2Fwww.mtckitchen.com%2Ftsukiji-masamoto-honyaki-white-steel-yanagi-knife-270mm-10-6%2F&amp;media=https%3A%2F%2Fcdn6.bigcommerce.com%2Fs-ih7nl5lym4%2Fproducts%2F23236%2Fimages%2F42112%2F90524__03837.1477409487.1280.1280.jpg&amp;description=Tsukiji%20Masamoto%20Honyaki%20White%20Steel%20Yanagi%20Knife%20270mm%20(10.6%22)%20-%20MTC%20Kitchen">Save</a>
            </div>

            <div class="Clear AddThisButtonBox">
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook at300b" title="Facebook" href="#"><span class="at-icon-wrapper" style="background-color: rgb(59, 89, 152); line-height: 16px; height: 16px; width: 16px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1" title="Facebook" alt="Facebook" style="width: 16px; height: 16px;" class="at-icon at-icon-facebook"><title id="at-svg-facebook-1">Facebook</title><g><path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path></g></svg></span></a><a class="addthis_button_email at300b" target="_blank" title="Email" href="#"><span class="at-icon-wrapper" style="background-color: rgb(132, 132, 132); line-height: 16px; height: 16px; width: 16px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-email-2" title="Email" alt="Email" style="width: 16px; height: 16px;" class="at-icon at-icon-email"><title id="at-svg-email-2">Email</title><g><g fill-rule="evenodd"></g><path d="M27 22.757c0 1.24-.988 2.243-2.19 2.243H7.19C5.98 25 5 23.994 5 22.757V13.67c0-.556.39-.773.855-.496l8.78 5.238c.782.467 1.95.467 2.73 0l8.78-5.238c.472-.28.855-.063.855.495v9.087z"></path><path d="M27 9.243C27 8.006 26.02 7 24.81 7H7.19C5.988 7 5 8.004 5 9.243v.465c0 .554.385 1.232.857 1.514l9.61 5.733c.267.16.8.16 1.067 0l9.61-5.733c.473-.283.856-.96.856-1.514v-.465z"></path></g></svg></span></a><a class="addthis_button_print at300b" title="Print" href="#"><span class="at-icon-wrapper" style="background-color: rgb(115, 138, 141); line-height: 16px; height: 16px; width: 16px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-print-3" title="Print" alt="Print" style="width: 16px; height: 16px;" class="at-icon at-icon-print"><title id="at-svg-print-3">Print</title><g><path d="M24.67 10.62h-2.86V7.49H10.82v3.12H7.95c-.5 0-.9.4-.9.9v7.66h3.77v1.31L15 24.66h6.81v-5.44h3.77v-7.7c-.01-.5-.41-.9-.91-.9zM11.88 8.56h8.86v2.06h-8.86V8.56zm10.98 9.18h-1.05v-2.1h-1.06v7.96H16.4c-1.58 0-.82-3.74-.82-3.74s-3.65.89-3.69-.78v-3.43h-1.06v2.06H9.77v-3.58h13.09v3.61zm.75-4.91c-.4 0-.72-.32-.72-.72s.32-.72.72-.72c.4 0 .72.32.72.72s-.32.72-.72.72zm-4.12 2.96h-6.1v1.06h6.1v-1.06zm-6.11 3.15h6.1v-1.06h-6.1v1.06z"></path></g></svg></span></a><a class="addthis_button_twitter at300b" title="Twitter" href="#"><span class="at-icon-wrapper" style="background-color: rgb(29, 161, 242); line-height: 16px; height: 16px; width: 16px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-4" title="Twitter" alt="Twitter" style="width: 16px; height: 16px;" class="at-icon at-icon-twitter"><title id="at-svg-twitter-4">Twitter</title><g><path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path></g></svg></span></a>
                <div class="atclear"></div></div>
              <script type="text/javascript" async="async" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e94ed470ee51e32"></script>
              <!-- AddThis Button END -->
            </div>

          </div>
        </div>
        <!-- Product Details Content -->
        <div class="ProductMain">
          <div class="ProductDetailsGrid">
            <div class="DetailRow product-heading">

              <h1 itemprop="name">{{selProduct.pro_TITLE}}</h1>
              <div class="yotpo bottomLine yotpo-small" data-product-id="23236" data-url="" data-yotpo-element-id="2"> <span class="yotpo-display-wrapper" style="visibility: hidden;">  <div class="standalone-bottomline"> <div class="yotpo-bottomline pull-left  star-clickable">  <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span> </span>  <a class="text-m">1 Review</a>   <div class="yotpo-clr"></div> </div> <div class="yotpo-clr"></div> </div>   <div class="yotpo-clr"></div> </span></div>

            </div>
            <div class="DetailRow PriceRow p-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" style="">
              <div class="Value">
                <span class="ProductPrice RetailPrice"></span>
                <meta itemprop="priceCurrency" content="USD">
                <meta itemprop="price">
                <span class="ProductPrice VariationProductPrice">{{selProduct.pro_PRICE | currency}}</span>
              </div>
            </div>
            <div class="s-price">

            </div>
            <!--<div class="DetailRow product-rating"  style="display: none">
                <div class="Value">
                    <span>

                        <img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating0.png?t=1510584784" alt="0 Stars" />
                        <span style="display:none">
                            <a href="#ProductReviews" onclick="">

                            </a>
                        </span>
                    </span>
                </div>
            </div>-->

          </div>



          <div class="Panel" id="ProductTabs">
            <script type="text/javascript">
              lang.Description = 'Description';
              lang.Warranty = 'Warranty';
              lang.OtherDetails = 'Other Details';
              lang.ProductTags = 'Tags';
              lang.SimilarProducts = 'Similar Products';
              lang.Reviews = 'Reviews';
              lang.OtherProducts = 'Other Products';
              lang.ProductVideos = 'Product Videos';
              lang.SimilarProductsByCustomerViews = 'Also Viewed';
            </script>

            <!-- Remove the code from here to create the no product tabs version of the product page
                  <ul class="TabNav" id="ProductTabsList">
                  </ul>
                  <script language="javascript" type="text/javascript">//<![CDATA[
                      var HideProductTabs = 0;
                  //]]></script>
               -->
          </div>

          <div class="productAddToCartRight">

            <!--ADD TO CART-->
            <form #qtyForm="ngForm">

              <div class="ProductDetailsGrid ProductAddToCart">
                <!-- details grid -->

                <div class="DetailRow ProductSKU clearfix" style="display: ">
                  <div class="Label">SKU:</div>
                  <div class="Value">
                <span class="VariationProductSKU" itemprop="sku">
                    {{selProduct.pro_ID}}
                </span>
                  </div>
                </div>

                <div class="DetailRow" style="display: none">
                  <div class="Label">Condition:</div>
                  <div class="Value">

                  </div>
                </div>

                <div class="DetailRow" style="display: ">
                  <div class="Label">Weight:</div>
                  <div class="Value">
				<span class="VariationProductWeight" itemprop="weight">
					5.0000 LBS
				</span>
                  </div>
                </div>

                <div class="DetailRow" style="display: none">
                  <div class="Label">Availability:</div>
                  <div class="Value">

                  </div>
                </div>

                <div class="DetailRow" style="display: none">
                  <div class="Label">Shipping:</div>
                  <div class="Value">

                  </div>
                </div>

                <div class="DetailRow InventoryLevel" style="display: none;">
                  <div class="Label">:</div>
                  <div class="Value">
				<span class="VariationProductInventory">

				</span>
                  </div>
                </div>

                <div class="DetailRow" style="display: none">
                  <div class="Label">Gift Wrapping:</div>
                  <div class="Value">

                  </div>
                </div>

                <!-- details grid -->


                <div class="ProductOptionList">

                </div>

                <div class="productAttributeList" style="display:none;">

                </div>



                <div class="DetailRow qty clearfix" style="display: ;">
                  <div class="Label QuantityInput">Quantity:</div>
                  <div class="Value AddCartButton">


					<span>
          <!--input box for qty-->
					<span style="padding: 0; margin: 0;"><input type="text" size="2" name="qty" id="qty" class="qtyInput quantityInput" ngModel="1"></span>
			  	</span>
                    <div class="clear"></div>
                  </div>
                </div>

                <div class="OutOfStockMessage InfoMessage ErrorMessage">

                </div>

                <div class="addto">
                  <div class="infoMessage" style="display: none;">
                    <div class="BulkContent">
                      <h6>Bulk Discounts</h6><!--<div class="BulkTitle"></div>-->
                      <ul></ul>
                    </div>
                    <!--<p>Below are the available bulk discount rates for each individual item when you purchase a certain amount</p>-->
                    <!--<a href="#" onclick="$.iModal({data: $('#ProductDetailsBulkDiscountThickBox').html(), width: 600}); return false;">
                                Buy in bulk and save
                            </a>-->
                  </div>

                  <div class="BulkDiscount" style="display: ">
                    <div class="DetailRow">
                      <!--<input type="submit" class="btn add-to-cart AddCartButton" value="This is shopping cart">-->
                      <button type="submit" class="btn add-to-cart" (click)="addToCart(qtyForm.value)">Add to cart</button>
                    </div>
                  </div>

                </div><!-- addto -->
              </div>
            </form>

            <!-- Add to Wishlist -->

            <div class="Block Moveable Panel AddToWishlistLink" id="SideProductAddToWishList" style="display: none">
              <div class="BlockContent">
                <form name="frmWishList" id="frmWishList" action="https://www.mtckitchen.com/wishlist.php" method="get">
                  <input type="hidden" name="action" value="add">
                  <input type="hidden" name="product_id" value="23236">
                  <input type="hidden" name="variation_id" value="" class="WishListVariationId">
                  <input type="submit" class="wishlist-button" value="Add to wishlist" alt="Add to Wish List">
                </form>
              </div>
            </div>

            <!-- //Custom Add to Wishlist -->



            <script language="javascript" type="text/javascript">//<![CDATA[
            lang.OptionMessage = "";
            lang.VariationSoldOutMessage = "The selected product combination is currently unavailable.";
            lang.InvalidQuantity = "Please enter a valid product quantity.";
            lang.EnterRequiredField = "Please enter the required field(s).";
            lang.InvalidFileTypeJS = "The file type of the file you are trying to upload is not allowed for this field.";
            var ShowAddToCartQtyBox = "1";
            productMinQty=0;productMaxQty=Number.POSITIVE_INFINITY;
            //]]></script>

          </div>


          <div class="Block Panel ProductDescription" id="ProductDescription">
            <h2 class="subtitle">Product Description</h2>
            <div class="ProductDescriptionContainer prodAccordionContent" itemprop="description">
              <p class="FreeShip">Free Shipping to Contiguous US</p><p>This yanagi is a honyaki-style knife, which is considered the pinnacle of Japanese knife-making. Blacksmiths hand-forge and differentially harden these knives from a single bar of high-carbon steel (white steel 2), the same way they do for katana swords. This difficult process can only be accomplished by top knife-makers. The result is a blade that is exceptionally sharp whose edge lasts longer than other knives. Many carbon steel knives are made using coke fuel but Tsukiji Masamoto knives are made using charcoal, which produces higher quality blades because of the gradual rather than abrupt temperature change.</p>  <p>Tsukiji Masamoto pays special attention in creating a deeper urasuki (concave surface of the backside) to maximize its effect. Urasuki facilitates clean food separation from the blade, just like hollowed or perforated knives. This is why you can perform uraoshi (sharpening the backside of a single bevel knife to keep the outer edges leveled) on a coarse stone, unlike most other brands.</p>  <p>Honyaki knives are meant for highly skilled chefs. They are brittle and can crack if dropped. They are also more difficult to shape than conventional blades. But with proper care, there is no finer Japanese knife. Created for slicing raw fish, this yanagi is also ideal for carvingcooked meat, thinly slicing vegetables or portioning terrines and patés.</p> <h6>Details</h6> <p>Style : Yanagi<br> Special Feature : Honyaki<br> Blade Material : Shiro-ko (White Steel 2)<br> Handle &amp; Bolster Material : (Hō) Japanese Magnolia / Water Buffalo Horn<br> HRC : 64-65<br> Bevel Angle Ratio : Single bevel<br> All Tsukiji Masamoto knives come with a wooden saya (cover)</p> <h6>Dimensions</h6> <p>Blade Length : 270mm (10.6")<br> Weight : 6.1 oz<br> SKU# : 94825</p> <h6>Care</h6> <p>Carbon steel knives will rust if not maintained properly. Use the <a href="/tsukiji-masamoto-rust-remover/">Tsukiji Masamoto Rust Remover</a> or <a href="/search.php?search_query=sabitohru&amp;page=1&amp;limit=16&amp;sort=relevance&amp;category=3629">Sabitohru Rust Remover</a> to clean oxidized blades.</p> <h6>Additional Info.</h6> <p class="caution">Please be advised that each product varies in appearance because the materials used for the bolster are all natural. The knife you receive will be unique and slightly different from the image.</p> <p>This knife is also available with an anti-bacterial (AB) handle, which is the same Japanese magnolia handle that has been soaked in an antibacterial solution. Please keep dry as you would regular wood handles. The handle may appear slightly darker and glossier than in the images. <br> If you are looking to order it, please contact us at <a href="mailto:info@mtckitchen.com">info@mtckitchen.com</a>.</p>
            </div>
            <!--<hr style="display:none;" class="ProductSectionSeparator" />-->
          </div>

          <div class="Value" style="display: " itemprop="brand" itemscope="" itemtype="http://schema.org/Brand">
            <h6 class="BrandName"><a itemprop="url" href="https://www.mtckitchen.com/brands/Tsukiji-Masamoto.html">&gt;&nbsp;View all <span itemprop="name">Tsukiji Masamoto</span> products</a></h6>
          </div>

        </div>



        <div id="prodAccordion">
          <div class="Block Moveable Panel" id="ProductVideos" style="display:none;"></div>
          <div class="Block Moveable Panel" id="ProductWarranty" style="display:none;"></div>
          <div class="Block Panel ProductOtherDetails" id="ProductOtherDetails" style="display: ">
            <h2 class="subtitle" id="videos">Other Details</h2>
            <div class="ProductDetailsGrid prodAccordionContent" style="display: none;">
              <div class="DetailRow">
                <div class="Label">Material:</div>
                <div class="Value">
                  Carbon Steel
                </div>
              </div><div class="DetailRow">
              <div class="Label">Material:</div>
              <div class="Value">
                White Steel 2
              </div>
            </div><div class="DetailRow">
              <div class="Label">Style:</div>
              <div class="Value">
                Yanagi (Sushi Knife)
              </div>
            </div><div class="DetailRow">
              <div class="Label">Size:</div>
              <div class="Value">
                270mm (10.6")
              </div>
            </div><div class="DetailRow">
              <div class="Label">PRICE:</div>
              <div class="Value">
                $800-$1,000
              </div>
            </div>
            </div>
          </div>
          <div class="Block Moveable Panel" id="SimilarProductsByTag" style="display:none;"></div>
          <div class="Block Moveable Panel" id="ProductReviews" style="display:none;"></div>
          <div class="Block Panel" id="ProductByCategory">
            <h2 class="subtitle">Find Similar Products by Category</h2>
            <div class="FindByCategory prodAccordionContent" style="display: none;">
              <ul>
                <li><a href="https://www.mtckitchen.com/japanese-knives/">Japanese Knives</a></li><li><a href="https://www.mtckitchen.com/japanese-knives/japanese-style/">Japanese Style</a></li><li><a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/">Yanagi (Sushi Knife)</a></li>
              </ul>

              <div class="clear"></div>
            </div>
            <!--<hr  style="display:none;" class="clear ProductSectionSeparator" />-->
          </div>
        </div>

      </div>
    </div>

    <div class="yotpo placeholder"><div class="yotpo yotpo-main-widget" data-product-id="23236" data-name="Tsukiji Masamoto Honyaki White Steel Yanagi Knife 270mm (10.6&amp;quot;)" data-url="https://www.mtckitchen.com/tsukiji-masamoto-honyaki-white-steel-yanagi-knife-270mm-10-6/" data-description="" data-image-url="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42112/90524__03837.1477409487.500.750.jpg?c=2" data-yotpo-element-id="1"> <div class="yotpo-display-wrapper " style="visibility: hidden;">    <div class="yotpo-label yotpo-small-box ">     <span class="yotpo-logo-title"> <a class="" target="_blank" href="http://my.yotpo.com/landing_page?redirect=https%3A%2F%2Fwww.yotpo.com%2Fverified-product-reviews-by-yotpo%2F&amp;utm_campaign=branding_link_reviews_widget_v2&amp;utm_medium=widget&amp;utm_source=mtckitchen.com">Powered by</a> </span> <div class="yotpo-icon-btn-big transparent-color-btn"> <a href="http://my.yotpo.com/landing_page?redirect=https%3A%2F%2Fwww.yotpo.com%2Fverified-product-reviews-by-yotpo%2F&amp;utm_campaign=branding_link_reviews_widget_v2&amp;utm_medium=widget&amp;utm_source=mtckitchen.com" class="yotpo-icon yotpo-icon-yotpo-logo" target="_blank"> <span class="sr-only"></span> </a> </div>     <div class="yotpo-logo-line"> </div> <div class="yotpo-clr"></div> </div>  <span class="yotpo-display-wrapper" style="visibility: hidden;">  <div class="yotpo-regular-box yotpo-bottomline yotpo-bottomline-2-boxes "> <div class="yotpo-bottomline-box-1 yotpo-stars-and-sum-reviews">  <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span> </span>    <span class="yotpo-sum-reviews" style=""> <span class="font-color-gray based-on">1 Review</span> </span>   <div class="yotpo-clr"></div>     <div class="yotpo-default-button yotpo-icon-btn pull-right yotpo-hidden-mobile write-button write-review-button"> <span class="yotpo-icon yotpo-icon-write"></span> <span class="yotpo-icon-button-text">write a review</span> </div>   </div> <div class="yotpo-bottomline-box-2">   <div class="yotpo-star-distribution"> <div class="yotpo-star-distribution-content"> <div class="yotpo-distibutions-stars">  <span class="review-stars yotpo-distribution-clickable" data-score-distribution="5">  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>   <div class="yotpo-clr"></div> </span>  <span class="review-stars " data-score-distribution="4">  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>   <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <div class="yotpo-clr"></div> </span>  <span class="review-stars " data-score-distribution="3">  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>   <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <div class="yotpo-clr"></div> </span>  <span class="review-stars " data-score-distribution="2">  <span class="yotpo-icon yotpo-icon-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-star pull-left"></span>   <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <div class="yotpo-clr"></div> </span>  <span class="review-stars " data-score-distribution="1">  <span class="yotpo-icon yotpo-icon-star pull-left"></span>   <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  <div class="yotpo-clr"></div> </span>  </div> <div class="yotpo-distibutions-sum-reviews">  <span class="yotpo-sum-reviews text-xs font-color-primary yotpo-distribution-clickable" data-score-distribution="5">(1)</span>  <span class="yotpo-sum-reviews text-xs font-color-primary " data-score-distribution="4">(0)</span>  <span class="yotpo-sum-reviews text-xs font-color-primary " data-score-distribution="3">(0)</span>  <span class="yotpo-sum-reviews text-xs font-color-primary " data-score-distribution="2">(0)</span>  <span class="yotpo-sum-reviews text-xs font-color-primary " data-score-distribution="1">(0)</span>  </div> <div class="yotpo-distributions-graphs">  <div class="yotpo-star-distribution-graph yotpo-distribution-clickable" data-score-distribution="5"> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div class="yotpo-star-distribution-graph-score" style="width: 100.0%;"></div> </div> </div>  <div class="yotpo-star-distribution-graph " data-score-distribution="4"> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div class="yotpo-star-distribution-graph-score" style="width: 0.0%;"></div> </div> </div>  <div class="yotpo-star-distribution-graph " data-score-distribution="3"> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div class="yotpo-star-distribution-graph-score" style="width: 0.0%;"></div> </div> </div>  <div class="yotpo-star-distribution-graph " data-score-distribution="2"> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div class="yotpo-star-distribution-graph-score" style="width: 0.0%;"></div> </div> </div>  <div class="yotpo-star-distribution-graph " data-score-distribution="1"> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div class="yotpo-star-distribution-graph-score" style="width: 0.0%;"></div> </div> </div>  </div> </div> <div class="yotpo-clr"></div> <div class="yotpo-star-distribution-footer text-xs yotpo-hidden"> <span class="yotpo-star-distribution-show-all">Show all reviews</span> </div> </div>   </div>    <div class="yotpo-default-button yotpo-icon-btn pull-right yotpo-hidden-mobile write-button write-review-button"> <span class="yotpo-icon yotpo-icon-write"></span> <span class="yotpo-icon-button-text">write a review</span> </div>   <div class="yotpo-clr"></div> </div>  <div class="yotpo-clr"></div> </span>    <div class="write-review-wrapper write-form"> <div class="write-review yotpo-regular-box">  <div class="yotpo-header"> <div> <label class="y-label yotpo-header-title">WRITE A REVIEW</label> </div> <label class="y-label">Score:</label> <div> <span class="stars-wrapper">  <span class="yotpo-icon yotpo-icon-empty-star pull-left review-star" data-score="1"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left review-star" data-score="2"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left review-star" data-score="3"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left review-star" data-score="4"></span>  <span class="yotpo-icon yotpo-icon-empty-star pull-left review-star" data-score="5"></span>  </span> </div> </div> <div class="write-review-content"> <div class="form-group"> <div class="form-element"> <label class="y-label">  Title: </label> <input class="y-input" autocomplete="off" name="review_title" maxlength="150" placeholder=""> </div> <div class="form-element"> <label class="y-label">  Review: </label> <textarea class="y-input yotpo-text-box" name="review_content" placeholder=""></textarea> </div>   </div> </div> <div class="yotpo-footer yotpo-animation-opacity">  <div class="socialize-wrapper"> <div class="connected">You are connected as <span class="username"></span></div> <div class="socialize"> <label class="y-label">Connect with:</label> <div> <div class="yotpo-default-button yotpo-icon-btn" data-network="linkedin"><span class="yotpo-icon yotpo-icon-linkedin pull-left"></span></div> <div class="yotpo-default-button yotpo-icon-btn" data-network="google_oauth2"><span class="yotpo-icon yotpo-icon-google pull-left"></span></div> <div class="yotpo-default-button yotpo-icon-btn" data-network="twitter"><span class="yotpo-icon yotpo-icon-twitter pull-left"></span></div> <div class="yotpo-default-button yotpo-icon-btn" data-network="facebook"><span class="yotpo-icon yotpo-icon-facebook pull-left"></span></div> </div> </div> <div class="yotpo-or"> -OR- </div> </div>  <div class="connect-wrapper "> <div class="form-element name-input"> <label class="y-label">Use your name:</label> <input class="y-input" autocomplete="off" name="display_name" maxlength="40" placeholder=""> </div> <div class="form-element email-input"> <label class="y-label">Email:</label> <input class="y-input" autocomplete="off" name="email" placeholder=""> </div> <div class="yotpo-clr"></div> </div> </div>   <div class="error-box yotpo-hidden"> <div class="text-wrapper"> <label class="error-text empty yotpo-hidden">Review's title &amp; body can't be empty</label>
      <label class="error-text score yotpo-hidden">Please enter a star rating for this review</label>
      <label class="error-text display_name_empty yotpo-hidden">Name field cannot be empty</label>
      <label class="error-text email yotpo-hidden">Invalid email</label>
      <label class="error-text user-already-reviewed yotpo-hidden">Your review has already been submitted.</label>
      <label class="error-text max_length yotpo-hidden">Max length was exceeded</label>
      <label class="error-text mandatory_field yotpo-hidden">Please fill out all of the mandatory (*) fields</label> </div> <div class="yotpo-icon-btn-small transparent-color-btn"><span class="yotpo-icon yotpo-icon-cross"></span></div> </div> <input type="button" class="yotpo-default-button primary-color-btn yotpo-submit yotpo-disabled" value="Post"> <div class="yotpo-preloader-wrapper">
      <div class="yotpo yotpo-pre-loader">
		<span class="yotpo-empty-stars">
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
		</span>

        <span class="yotpo-full-stars">
			<span class="yotpo-icon yotpo-icon-star"></span>
			<span class="yotpo-icon yotpo-icon-star"></span>
			<span class="yotpo-icon yotpo-icon-star"></span>
			<span class="yotpo-icon yotpo-icon-star"></span>
			<span class="yotpo-icon yotpo-icon-star"></span>
		</span>
      </div>
    </div> <div class="yotpo-clr"></div> </div> </div> <div class="yotpo-messages"> <div class="yotpo-thank-you yotpo-hidden" data-type="share"> <div class="yotpo-icon-btn transparent-color-btn"><span class="yotpo-icon yotpo-icon-cross"></span></div> <div class="yotpo-thankyou-header text-3xl"> <span class="yotpo-icon yotpo-icon-heart"></span> <span>Thank you for posting a review!</span> </div>  <div class="yotpo-thankyou-content"> <span>We value your input. Share your review so everyone else can enjoy it too.</span> </div> <div class="yotpo-thankyou-footer">  <div class="yotpo-default-button yotpo-icon-btn"> <a class="social-link popup-link" href="#" target="_blank" data-network="facebook"> <span class="yotpo-icon yotpo-icon-facebook"></span> <span class="yotpo-icon-button-text">share</span> </a> </div>  <div class="yotpo-default-button yotpo-icon-btn"> <a class="social-link popup-link" href="#" target="_blank" data-network="twitter"> <span class="yotpo-icon yotpo-icon-twitter"></span> <span class="yotpo-icon-button-text">share</span> </a> </div>  <div class="yotpo-default-button yotpo-icon-btn"> <a class="social-link popup-link" href="#" target="_blank" data-network="linkedin"> <span class="yotpo-icon yotpo-icon-linkedin"></span> <span class="yotpo-icon-button-text">share</span> </a> </div>  <div class="yotpo-default-button yotpo-icon-btn"> <a class="social-link popup-link" href="#" target="_blank" data-network="google"> <span class="yotpo-icon yotpo-icon-google"></span> <span class="yotpo-icon-button-text">share</span> </a> </div>  </div>  </div> <div class="yotpo-thank-you yotpo-hidden" data-type="pending-for-review-approval"> <div class="yotpo-icon-btn transparent-color-btn"><span class="yotpo-icon yotpo-icon-cross"></span></div> <div class="yotpo-thankyou-header text-3xl"> <span class="yotpo-icon yotpo-icon-heart"></span> <span>Thank you for posting a review!</span> </div> <div class="yotpo-thankyou-content"> <span>Your review was sent successfully and is now waiting for our staff to publish it.</span> </div> </div> </div>   <div class="yotpo-small-box yotpo-nav reviews 0"> <div class="yotpo-nav yotpo-nav-primary"> <ul>  <li class="yotpo-nav-tab yotpo-active" data-type="reviews" data-content="yotpo-reviews-70e635d5-7c72-4855-bced-0f59a322fc88"> <div class="yotpo-nav-wrapper"> <span>Reviews</span> <span class="nav-tab-sum yotpo-reviews-nav-tab-sum">(1)</span> </div> </li>   </ul>   <div class="yotpo-icon-btn-big transparent-color-btn yotpo-visible-mobile"> <span class="yotpo-icon yotpo-icon-three-lines"></span> </div> <div class="yotpo-dropdown-wrapper mobile-collapse"> <div class="yotpo-menu-mobile-collapse yotpo-hidden-mobile">  <div class="yotpo-nav-dropdown-category yotpo-visible-mobile write-review-button"> <span class="yotpo-icon yotpo-icon-write"></span> <span class="y-label">write a review</span> </div>   </div> </div> <div class="yotpo-clr"></div>   <div class="yotpo-clr"></div> </div> </div> <div class="yotpo-nav-content">  <div class="yotpo-reviews yotpo-active" id="yotpo-reviews-70e635d5-7c72-4855-bced-0f59a322fc88" data-host-widget="main_widget">  <div class="yotpo-preloader-wrapper">
      <div class="yotpo yotpo-pre-loader">
		<span class="yotpo-empty-stars">
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
			<span class="yotpo-icon yotpo-icon-empty-star"></span>
		</span>

        <span class="yotpo-full-stars">
			<span class="yotpo-icon yotpo-icon-star"></span>
			<span class="yotpo-icon yotpo-icon-star"></span>
			<span class="yotpo-icon yotpo-icon-star"></span>
			<span class="yotpo-icon yotpo-icon-star"></span>
			<span class="yotpo-icon yotpo-icon-star"></span>
		</span>
      </div>
    </div>   <div class="yotpo-review yotpo-regular-box yotpo-hidden yotpo-template" data-review-id="0"> <div class="yotpo-header yotpo-verified-user ">  <span class="yotpo-icon-profile yotpo-header-element pull-left"> <label class="yotpo-user-letter"></label> <span class="yotpo-icon yotpo-icon-circle-checkmark yotpo-action-hover" data-type="toggleFade" data-target="yotpo-tool-tip"></span> </span>  <div class="yotpo-header-element"> <label class="y-label yotpo-user-name yotpo-font-bold pull-left"></label>  <div class="label-with-tooltip pull-left">  <span class="y-label yotpo-user-title yotpo-action-hover" data-type="toggleFade" data-target="yotpo-tool-tip">Verified Reviewer</span>  <div class="yotpo-tool-tip yotpo-animation-fade" data-user-type="yotpo-verified-user"> <div class="tool-tip-header"> <span>What is a</span> <span class="header-blue">Verified Reviewer</span> </div> <div class="tool-tip-content"> A Verified Reviewer is a shopper who has confirmed an email address, or connected a social network with Yotpo, providing an added level of transparency and trust. </div> </div> </div>  <div class="yotpo-clr"></div> <span class="yotpo-review-stars"> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span><span class="yotpo-icon yotpo-icon-empty-star pull-left"></span><span class="yotpo-icon yotpo-icon-empty-star pull-left"></span><span class="yotpo-icon yotpo-icon-empty-star pull-left"></span><span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>  </span> <div class="yotpo-clr"></div> </div> <div class="yotpo-header-element yotpo-header-actions"> <label class="y-label yotpo-review-date">11/13/17</label> </div> </div> <div class="yotpo-main">  <div class="content-title yotpo-font-bold">  </div> <div class="yotpo-clr"></div> <div class="yotpo-review-wrapper"> <div class="content-review">  </div> </div>  <a class="product-link-wrapper " href="" target="_blank" rel="nofollow"> <div data-product-id="" class="y-label product-link"> On  </div> </a> </div> <div class="yotpo-footer"> <div class="footer-actions">  <span class="yotpo-action" data-type="toggleFade" data-target="share-review"> <span class="yotpo-icon yotpo-icon-share"></span> <label class="y-label">share</label> <span class="yotpo-icon yotpo-icon-seperator"></span> </span> <span class="share-options-wrapper"> <span class="share-options share-review">  <span data-social="facebook"> <label class="y-label yotpo-action"> <a class="social-link popup-link" data-network="facebook" href="https://www.facebook.com/dialog/feed?app_id=226132034107547&amp;display=popup&amp;link=http%3A%2F%2Freviews.me%2Ffacebook_post%3Fimage_url%3D%26product_url%3D%26review%3D%26social_title%3D&amp;redirect_uri=http%3A%2F%2Fmy.yotpo.com%2Fshares%3Freview_id%3D"><i class="facebook share">facebook</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span>  <span data-social="twitter"> <label class="y-label yotpo-action"> <a class="social-link popup-link" data-network="twitter" href="https://twitter.com/intent/tweet?via=yotpo"><i class="twitter share">twitter</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span>  <span data-social="linkedin"> <label class="y-label yotpo-action"> <a class="social-link popup-link" data-network="LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;source=Yotpo"><i class="LinkedIn share">LinkedIn</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span>  <span data-social="google"> <label class="y-label yotpo-action"> <a class="social-link popup-link" data-network="google" href="https://plus.google.com/share?"><i class="google share">google</i></a> </label> <span class="yotpo-icon yotpo-icon-separator"></span> </span>  <span class="yotpo-icon yotpo-icon-seperator"></span> </span> </span>   </div> <div class="yotpo-helpful"> <label class="y-label label-helpful">Was this review helpful?</label> <div class="yotpo-icon-btn-small transparent-color-btn vote-btn" data-type="up"> <span class="yotpo-icon yotpo-icon-thumbs-up"></span>  </div> <label class="y-label yotpo-sum vote-sum" data-type="up">0</label> <div class="yotpo-icon-btn-small transparent-color-btn vote-btn" data-type="down"> <span class="yotpo-icon yotpo-icon-thumbs-down"></span>  </div> <label class="y-label yotpo-sum vote-sum" data-type="down">0</label> </div> <div class="footer-additional-actions"> <label class="y-label yotpo-review-date">11/13/17</label> </div> <div class="yotpo-clr"></div>   </div>  </div>       <div class="yotpo-review yotpo-regular-box " data-review-id="46478783"> <div class="yotpo-header yotpo-verified-buyer ">  <span class="yotpo-icon-profile yotpo-header-element pull-left"> <label class="yotpo-user-letter">J</label> <span class="yotpo-icon yotpo-icon-circle-checkmark yotpo-action-hover" data-type="toggleFade" data-target="yotpo-tool-tip"></span> </span>  <div class="yotpo-header-element"> <label class="y-label yotpo-user-name yotpo-font-bold pull-left">Jade f.</label>  <div class="label-with-tooltip pull-left">  <span class="y-label yotpo-user-title yotpo-action-hover" data-type="toggleFade" data-target="yotpo-tool-tip">Verified Buyer</span>  <div class="yotpo-tool-tip yotpo-animation-fade" data-user-type="yotpo-verified-buyer"> <div class="tool-tip-header"> <span>What is a</span> <span class="header-green">Verified Buyer</span> </div> <div class="tool-tip-content"> A Verified Buyer is a user who has purchased the reviewed product through our store. </div> </div> </div>  <div class="yotpo-clr"></div> <span class="yotpo-review-stars"> <span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span>  </span> <div class="yotpo-clr"></div> </div> <div class="yotpo-header-element yotpo-header-actions"> <label class="y-label yotpo-review-date">10/26/17</label> </div> </div> <div class="yotpo-main">  <div class="content-title yotpo-font-bold"> Jerry san </div> <div class="yotpo-clr"></div> <div class="yotpo-review-wrapper"> <div class="content-review"> I'm been using this knife for more than 20yrs still the best </div> </div>  <a class="product-link-wrapper " href="https://yotpo.com/go/ggepuJz6" target="_blank" rel="nofollow"> <div data-product-id="33639506" class="y-label product-link"> On Tsukiji Masamoto Honyaki White Steel Yanagi Knife 270mm (10.6") </div> </a> </div> <div class="yotpo-footer"> <div class="footer-actions">  <span class="yotpo-action" data-type="toggleFade" data-target="share-review"> <span class="yotpo-icon yotpo-icon-share"></span> <label class="y-label">share</label> <span class="yotpo-icon yotpo-icon-seperator"></span> </span> <span class="share-options-wrapper"> <span class="share-options share-review">  <span data-social="facebook"> <label class="y-label yotpo-action"> <a class="social-link popup-link" data-network="facebook" href="https://www.facebook.com/dialog/feed?app_id=226132034107547&amp;display=popup&amp;link=http%3A%2F%2Freviews.me%2Ffacebook_post%3Fimage_url%3Dhttps%253A%252F%252Fddcfq0gxiontw.cloudfront.net%252FProduct%252F33639506%252F27259032%252Fsquare.jpg%253F1507784888%26product_url%3Dhttps%253A%252F%252Fyotpo.com%252Fgo%252F6xQDsdS6%26review%3DI%2526%2523x27%253Bm%2Bbeen%2Busing%2Bthis%2Bknife%2Bfor%2Bmore%2Bthan%2B20yrs%2Bstill%2Bthe%2Bbest%26social_title%3DJerry%2Bsan&amp;redirect_uri=http%3A%2F%2Fmy.yotpo.com%2Fshares%3Freview_id%3D46478783"><i class="facebook share">facebook</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span>  <span data-social="twitter"> <label class="y-label yotpo-action"> <a class="social-link popup-link" data-network="twitter" href="https://twitter.com/intent/tweet?text=I%27m+been+using+this+knife+for+more+than+20yrs+still+the+best&amp;url=https%3A%2F%2Fyotpo.com%2Fgo%2F2AGACUct&amp;via=yotpo"><i class="twitter share">twitter</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span>  <span data-social="linkedin"> <label class="y-label yotpo-action"> <a class="social-link popup-link" data-network="LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;source=Yotpo&amp;summary=I%26%23x27%3Bm+been+using+this+knife+for+more+than+20yrs+still+the+best&amp;title=Jerry+san&amp;url=https%3A%2F%2Fyotpo.com%2Fgo%2F6icZdsh5"><i class="LinkedIn share">LinkedIn</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span>  <span data-social="google"> <label class="y-label yotpo-action"> <a class="social-link popup-link" data-network="google" href="https://plus.google.com/share?url=https%3A%2F%2Fyotpo.com%2Fgo%2FcmJkp5cI"><i class="google share">google</i></a> </label> <span class="yotpo-icon yotpo-icon-separator"></span> </span>  <span class="yotpo-icon yotpo-icon-seperator"></span> </span> </span>   </div> <div class="yotpo-helpful"> <label class="y-label label-helpful">Was this review helpful?</label> <div class="yotpo-icon-btn-small transparent-color-btn vote-btn" data-type="up"> <span class="yotpo-icon yotpo-icon-thumbs-up"></span>  </div> <label class="y-label yotpo-sum vote-sum" data-type="up">0</label> <div class="yotpo-icon-btn-small transparent-color-btn vote-btn" data-type="down"> <span class="yotpo-icon yotpo-icon-thumbs-down"></span>  </div> <label class="y-label yotpo-sum vote-sum" data-type="down">0</label> </div> <div class="footer-additional-actions"> <label class="y-label yotpo-review-date">10/26/17</label> </div> <div class="yotpo-clr"></div>   </div>  </div>         </div>   </div>  </div></div></div>

    <script type="text/javascript">//<![CDATA[
    var div = document.createElement("div");
    div.setAttribute('class', 'yotpo yotpo-main-widget');
    div.setAttribute('data-product-id',"23236");
    div.setAttribute('data-name',"Tsukiji Masamoto Honyaki White Steel Yanagi Knife 270mm (10.6&quot;)");
    div.setAttribute('data-url', document.URL);
    div.setAttribute('data-description',"");
    div.setAttribute('data-image-url', "https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23236/images/42112/90524__03837.1477409487.500.750.jpg?c=2");
    if ($(".yotpo.placeholder").length) {
      $(".yotpo.placeholder").append(div);
    }
    //]]></script>




    <div class="Block Moveable Panel" id="SimilarProductsByCustomerViews">



      <h2>Customers also viewed</h2>
      <div class="BlockContent">
        <ul class="ProductList">
          <li class="Odd">
            <div class="ProductImage QuickView" data-product="20972">
              <a href="https://www.mtckitchen.com/tsukiji-masamoto-blue-steel-1-aoko-kyomen-yanagi-knife-270mm-10-6/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/20972/images/37932/90259__33621.1466628436.190.285.jpg?c=2" alt="Tsukiji Masamoto Blue Steel 1 (Aoko) Kyomen Yanagi Knife 270mm (10.6&quot;)"></a>
            </div>
            <div class="ProductDetails">
              <a href="https://www.mtckitchen.com/tsukiji-masamoto-blue-steel-1-aoko-kyomen-yanagi-knife-270mm-10-6/" class=" pname">Tsukiji Masamoto Blue Steel 1 (Aoko) Kyomen Yanagi Knife 270mm (10.6")</a>
            </div>
            <em class="p-price">$590.00</em>
            <div class="ProductPriceRating">
        <span class="Rating Rating5">
            <img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating5.png?t=1510584784" alt="" style="">
        </span>
            </div>
            <div class="ProductActionAdd" style="display:;">
              <a class="btn icon-Add To Cart" title="Add To Cart">It is me</a>
            </div>
          </li><li class="Even">
          <div class="ProductImage QuickView" data-product="22726">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-blue-steel-1-aoko-yanagi-knife-270mm-10-6/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/22726/images/38321/98247__26238.1466628463.190.285.jpg?c=2" alt="Tsukiji Masamoto Blue Steel 1 (Aoko) Yanagi Knife 270mm (10.6&quot;)"></a>
          </div>
          <div class="ProductDetails">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-blue-steel-1-aoko-yanagi-knife-270mm-10-6/" class=" pname">Tsukiji Masamoto Blue Steel 1 (Aoko) Yanagi Knife 270mm (10.6")</a>
          </div>
          <em class="p-price">$500.00</em>
          <div class="ProductPriceRating">
        <span class="Rating Rating0">
            <img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating0.png?t=1510584784" alt="" style="">
        </span>
          </div>
          <div class="ProductActionAdd" style="display:;">
            <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=22726" class="btn icon-Add To Cart" title="Add To Cart">It is me</a>
          </div>
        </li><li class="Odd">
          <div class="ProductImage QuickView" data-product="20970">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-2-honyaki-yanagi-knife-240mm-9-4/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/20970/images/37561/90524__05889.1466628412.190.285.jpg?c=2" alt="Tsukiji Masamoto White Steel 2 Honyaki Yanagi knife 240mm (9.4&quot;)"></a>
          </div>
          <div class="ProductDetails">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-2-honyaki-yanagi-knife-240mm-9-4/" class=" pname">Tsukiji Masamoto White Steel 2 Honyaki Yanagi knife 240mm (9.4")</a>
          </div>
          <em class="p-price">$800.00</em>
          <div class="ProductPriceRating">
        <span class="Rating Rating4">
            <img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating4.png?t=1510584784" alt="" style="">
        </span>
          </div>
          <div class="ProductActionAdd" style="display:;">
            <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=20970" class="btn icon-Add To Cart" title="Add To Cart">Add to cart</a>
          </div>
        </li><li class="Even">
          <div class="ProductImage QuickView" data-product="20967">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-junkou-honyaki-yanagi-knife-300mm-11-8/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/20967/images/36634/90257__28990.1466628351.190.285.jpg?c=2" alt="Tsukiji Masamoto White Steel 1 Yanagi knife 300mm (11.8&quot;)  Junkou Honyaki"></a>
          </div>
          <div class="ProductDetails">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-junkou-honyaki-yanagi-knife-300mm-11-8/" class=" pname">Tsukiji Masamoto White Steel 1 Yanagi knife 300mm (11.8")  Junkou Honyaki</a>
          </div>
          <em class="p-price">$1,200.00</em>
          <div class="ProductPriceRating">
        <span class="Rating Rating4">
            <img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating4.png?t=1510584784" alt="" style="">
        </span>
          </div>
          <div class="ProductActionAdd" style="display:;">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-junkou-honyaki-yanagi-knife-300mm-11-8/" class="btn icon-Add To Cart" title="Temporarily out of stock">Add to cart</a>
          </div>
        </li><li class="Odd">
          <div class="ProductImage QuickView" data-product="23295">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-1-yanagi-knife-270mm-10-6/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23295/images/42438/91455__35342.1479328781.190.285.jpg?c=2" alt="Tsukiji Masamoto White Steel 1 Yanagi Knife 270mm (10.6&quot;)"></a>
          </div>
          <div class="ProductDetails">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-1-yanagi-knife-270mm-10-6/" class=" pname">Tsukiji Masamoto White Steel 1 Yanagi Knife 270mm (10.6")</a>
          </div>
          <em class="p-price">$430.00</em>
          <div class="ProductPriceRating">
        <span class="Rating Rating0">
            <img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating0.png?t=1510584784" alt="" style="">
        </span>
          </div>
          <div class="ProductActionAdd" style="display:;">
            <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=23295" class="btn icon-Add To Cart" title="Add To Cart">Add to cart</a>
          </div>
        </li>
        </ul>
      </div>
    </div>

    <div class="Block SideRelatedProducts Moveable Panel" style="display:" id="SideProductRelated">
      <h2>Related Products</h2>
      <div class="BlockContent">
        <ul class="ProductList">
          <li>
            <div class="ProductImage">
              <a href="https://www.mtckitchen.com/tsukiji-masamoto-blue-steel-1-aoko-yanagi-knife-270mm-10-6/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/22726/images/38321/98247__26238.1466628463.190.285.jpg?c=2" alt="Tsukiji Masamoto Blue Steel 1 (Aoko) Yanagi Knife 270mm (10.6&quot;)"></a>
            </div>
            <div class="ProductDetails">
              <input type="hidden" name="ProductDetailsID" class="ProductDetailsID" value="22726">
              <a href="https://www.mtckitchen.com/tsukiji-masamoto-blue-steel-1-aoko-yanagi-knife-270mm-10-6/" class="pname">Tsukiji Masamoto Blue Steel 1 (Aoko) Yanagi Knife 270mm (10.6")</a>
              <em>$500.00</em>
              <span class="Rating Rating0">
			<img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating0.png?t=1510584784" alt="" style="display: none">
		</span>
            </div>
          </li><li>
          <div class="ProductImage">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-yanagi-knife-270mm-10-6-nami-kasumi/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23241/images/42138/93014__18792.1477411376.190.285.jpg?c=2" alt="Tsukiji Masamoto White Steel Yanagi knife 270mm (10.6&quot;) Nami Kasumi"></a>
          </div>
          <div class="ProductDetails">
            <input type="hidden" name="ProductDetailsID" class="ProductDetailsID" value="23241">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-yanagi-knife-270mm-10-6-nami-kasumi/" class="pname">Tsukiji Masamoto White Steel Yanagi knife 270mm (10.6") Nami Kasumi</a>
            <em>$338.00</em>
            <span class="Rating Rating0">
			<img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating0.png?t=1510584784" alt="" style="display: none">
		</span>
          </div>
        </li><li>
          <div class="ProductImage">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-2-honyaki-yanagi-knife-240mm-9-4/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/20970/images/37561/90524__05889.1466628412.190.285.jpg?c=2" alt="Tsukiji Masamoto White Steel 2 Honyaki Yanagi knife 240mm (9.4&quot;)"></a>
          </div>
          <div class="ProductDetails">
            <input type="hidden" name="ProductDetailsID" class="ProductDetailsID" value="20970">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-2-honyaki-yanagi-knife-240mm-9-4/" class="pname">Tsukiji Masamoto White Steel 2 Honyaki Yanagi knife 240mm (9.4")</a>
            <em>$800.00</em>
            <span class="Rating Rating4">
			<img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating4.png?t=1510584784" alt="" style="display: none">
		</span>
          </div>
        </li><li>
          <div class="ProductImage">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-1-yanagi-knife-270mm-10-6-left-handed/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/20988/images/38684/94799__55484.1466628503.190.285.jpg?c=2" alt="Tsukiji Masamoto White Steel 1 Yanagi Knife 270mm (10.6&quot;) Left Handed"></a>
          </div>
          <div class="ProductDetails">
            <input type="hidden" name="ProductDetailsID" class="ProductDetailsID" value="20988">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-1-yanagi-knife-270mm-10-6-left-handed/" class="pname">Tsukiji Masamoto White Steel 1 Yanagi Knife 270mm (10.6") Left Handed</a>
            <em>$550.00</em>
            <span class="Rating Rating0">
			<img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating0.png?t=1510584784" alt="" style="display: none">
		</span>
          </div>
        </li><li>
          <div class="ProductImage">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-1-yanagi-knife-270mm-10-6/" style="height: 285px;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/products/23295/images/42438/91455__35342.1479328781.190.285.jpg?c=2" alt="Tsukiji Masamoto White Steel 1 Yanagi Knife 270mm (10.6&quot;)"></a>
          </div>
          <div class="ProductDetails">
            <input type="hidden" name="ProductDetailsID" class="ProductDetailsID" value="23295">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-1-yanagi-knife-270mm-10-6/" class="pname">Tsukiji Masamoto White Steel 1 Yanagi Knife 270mm (10.6")</a>
            <em>$430.00</em>
            <span class="Rating Rating0">
			<img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/IcoRating0.png?t=1510584784" alt="" style="display: none">
		</span>
          </div>
        </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
