
input[type="password"] + .PasswordRequirements {
  display: none;
  position: relative;
  z-index: 500;
}

.PasswordRequirementsContent {
  background-color: #333;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  max-width: 200px;
  padding: 10px;
}

input[type="password"]:focus + .PasswordRequirements {
  display: block;
}

@media screen and (min-width: 480px) {
  .PasswordRequirementsContent {
    left: 20px;
    position: absolute;
    top: 10px;
  }

  .PasswordRequirementsContent:before {
    border: 10px solid #333;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: 0;
    content: '';
    left: 10px;
    position: absolute;
    top: -10px;
  }
}
