<div class="main">
  <div class="inner">

    <div class="Block Breadcrumb Moveable Panel" id="CreateAccountBreadcrumb">
      <ul class="last">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a href="javascript:history.go(-1)">... Previous Page</a></li>
        <li>Create Account</li>
      </ul>
    </div>

    <div class="Content Widest" id="LayoutColumn1">
      <div class="Block Moveable Panel no-ptop" id="CreateAccountForm">
        <h1 class="TitleHeading">Create an Account</h1>
        <div class="BlockContent BlockContent full-width page-content">
          <p style="display: " class="txt24 blockquote mtm">
            Checkout faster at <em>MTC Kitchen</em> and save multiple addresses in your address book.
          </p>
          <p class="ErrorMessage" style="display:none">
          </p>


          <form (submit)="register(creatForm.value)" #creatForm="ngForm">
            <div class="FormContainer HorizontalFormContainer form">
              <div class="box borderB">
                <h3>Personal Details</h3>
                <p>Enter your email address and password to create your account.</p>
                <dt>
                  <label>
                    <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                    <span class="FormFieldLabel">Email Address</span>
                  </label>
                </dt>

                <dd>
                  <input type="text" class="form-control Textbox InitialFocus" id="username" name="username" ngModel>
                  <font *ngIf="checkEmail" color="red">Please type in a valid email address, such as joe@example.com</font>
                  <font *ngIf="multiUser" color="red">Internal Server Error: This User Already Exists! </font>
                </dd>

                <dt>
                  <label>
                    <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                    <span class="FormFieldLabel">First Name</span>
                  </label>
                </dt>
                <dd>
                  <input type="text" class="form-control Textbox InitialFocus" id="firstname" name="firstname" ngModel>
                  <font *ngIf="checkFirstname" color="red">First name cannot be empty</font>
                </dd>

                <dt>
                  <label>
                    <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                    <span class="FormFieldLabel">Last Name</span>
                  </label>
                </dt>
                <dd>
                  <input type="text" class="form-control Textbox InitialFocus" id="lastname" name="lastname" ngModel>
                  <font *ngIf="checkLastname" color="red">Last name cannot be empty</font>
                </dd>


                <dt>
                  <label>
                   <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                    <span class="FormFieldLabel">Password</span>
                  </label>
                </dt>
                <dd>
                  <input type="password" class="form-control" id="password" name="password" ngModel>
                  <div class="PasswordRequirements">
                    <div class="PasswordRequirementsContent">
                      The password should be at least six characters, at least one number, one lowercase and one uppercase letter.
                    </div>
                  </div>
                  <div class="LittleNotePassword" style="display: none">(Leave blank to remain
                    unchanged)
                  </div>
                  <font *ngIf="checkPassword" color="red">Invalid Password!</font>
                </dd>

                <dt>
                  <label>
                    <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                    <span class="FormFieldLabel">Confirm Password</span>
                  </label>
                </dt>
                <dd>
                  <input type="password" autocomplete="off" id="confirmPass"
                         aria-required="true"
                         class="form-control"
                         name="confirmPass"
                         ngModel>
                  <div class="PasswordRequirements">
                    <div class="PasswordRequirementsContent">
                      Must be the same as previous password
                    </div>
                  </div>
                  <div class="LittleNotePassword" style="display: none">(Leave blank to remain
                    unchanged)
                  </div>
                  <font *ngIf="doubleCheckpass" color="red">Not same as previous password</font>
                </dd>

              </div>

              <div class="box">
                <p class="Submit">
                  <button type="submit" class="btn btn-default">Create My Account</button>
                  <a routerLink="/" routerLinkActive="active">Return to store</a>
                </p>
              </div>
            </div>
          </form>



          <script type="text/javascript">
            $('.FormField').addClass("Field200 Textbox");
            $(document).ready(function () {
              $('#FormField_11').change(function () {
                $.uniform.restore('select.JSHidden');
                $(document).ajaxComplete(function (event, request, settings) {
                  $('select').not('.UniApplied').uniform();
                });
              });
            });
            $(window).load(function () {
              $('select').not('.UniApplied').uniform();
            });
          </script>
          <script type="text/javascript" src="./Create Account_files/formfield.js.download"></script>
          <script type="text/javascript" src="./Create Account_files/validate.js.download"></script>
          <script type="text/javascript"><!--

          /* Make sure all new account details are filled in */
          function check_create_account_form() {

            var formIdx = [1, 2];
            var emailField, passwordField, confirmField, formfields;

            for (var i = 0; i < formIdx.length; i++) {
              formfields = FormField.GetValues(formIdx[i]);

              for (var j = 0; j < formfields.length; j++) {
                var rtn = FormField.Validate(formfields[j].field);

                if (!rtn.status) {
                  alert(rtn.msg);
                  FormField.Focus(formfields[j].field);
                  return false;
                }

                if (formIdx[i] == 1) {
                  if (formfields[j].privateId == 'EmailAddress') {
                    emailField = formfields[j];
                  } else if (formfields[j].privateId == 'Password') {
                    passwordField = formfields[j];
                  } else if (formfields[j].privateId == 'ConfirmPassword') {
                    confirmField = formfields[j];
                  }
                }
              }
            }

            if (!isValidEmailAddress(emailField.value)) {
              alert("Please type in a valid email address, such as joe@example.com");
              FormField.Focus(emailField.field);
              return false;
            }

            if (passwordField.value == "") {
              alert("Please type in a password.");
              FormField.Focus(passwordField.field);
              FormField.Focus(passwordField.field);
              return false;
            }

            if ((passwordField.value != "" || confirmField.value != "") && (passwordField.value != confirmField.value)) {
              alert("Your passwords don't match.");
              FormField.Focus(confirmField.field);
              return false;
            }

            return true;
          }

          lang.CustomFieldsValidationRequired = "The '%s' field is required.";
          lang.CustomFieldsValidationOptionRequired = "Please choose an option for the '%s' field.";
          lang.CustomFieldsValidationNumbersOnly = "The '%s' field must only contain numbers.";
          lang.CustomFieldsValidationNumbersToLow = "The '%s' field cannot be lower than %d.";
          lang.CustomFieldsValidationNumbersToHigh = "The '%s' field cannot be higher than %d.";
          lang.CustomFieldsValidationDateToLow = "The '%s' field cannot be before %s.";
          lang.CustomFieldsValidationDateToHigh = "The '%s' field cannot be after %s.";
          lang.CustomFieldsValidationDateInvalid = "The '%s' field, if in use, must have all the date fields selected.";

          $(document).ready(
            function () {
              $(FormField.GetField(11)).live("change", {
                "fieldId": 11,
                "countryId": 11,
                "stateId": 12
              }, FormFieldEvent.SingleSelectPopulateStates);
            }
          );

          //-->
          </script>

        </div>
      </div>

    </div>
    <div class="clear"></div>
  </div>
</div>
