<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>


<!-- FlexSlider -->
<script defer src="../../shared/FlexSlider/js/jquery.flexslider.js"></script>

<script type="text/javascript">
  $(function(){
    SyntaxHighlighter.all();
  });
  $(window).load(function(){
    $('.flexslider').flexslider({
      animation: "slide",
      start: function(slider){
        $('body').removeClass('loading');
      }
    });
  });
</script>

<div class="main">
  <div class="inner">

    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

    <div class="Content Widest" id="LayoutColumn1">


      <div class="BlockContent">

        <ul class="KnifeList">
          <li class="Odd">
            <div class="FeaturedImage">
              <a
                href="https://www.mtckitchen.com/blog/nakamura-japanese-ramen-noodle-in-lower-eastside-new-york-whats-the-tool-you-cant-live-without/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/Top-Img04.jpg"
                alt="Nakamura Ramen in Lower Eastside, New York What’s the tool you can’t live without?"></a>
            </div>
          </li>

          <li class="Even">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/food/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/Top-Img01.jpg"
                alt="Japanese Premium Foods are now available"></a>
            </div>
          </li>

          <li class="Odd">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/manhattan-store/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/Top-Img02.jpg"
                alt="Visit Our Manhattan Store"></a>
            </div>
          </li>

        </ul>


        <ul class="KnifeList">
          <li class="Odd">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/japanese-knives/brand/takamura/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/KnifeList-01.jpg"
                alt="Takamura Knives"></a>
            </div>
          </li>

          <li class="Even">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/japanese-knives/brand/tsukiji-masamoto/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/KnifeList-02.jpg"
                alt="Tsukiji Masamoto Knives"></a>
            </div>
          </li>

          <li class="Odd">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/japanese-knives/brand/nenox/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/KnifeList-03.jpg"
                alt="Nenox Knives"></a>
            </div>
          </li>

        </ul>


        <ul class="FeaturedList">
          <li class="Odd">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/barware/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/FeaturedList-01.jpg"
                alt="Barware from Japanese top quality manufacturers"></a>
            </div>
          </li>

          <li class="Even">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/sharpening-stones/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/FeaturedList-02.jpg"
                alt="Sharpening Stones for Knives"></a>
            </div>
          </li>

          <li class="Odd">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/tableware/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/FeaturedList-03.jpg"
                alt="Dinnerware Tableware"></a>
            </div>
          </li>

          <li class="Even">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/tableware/glassware/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/FeaturedList-04.jpg"
                alt="Glassware - Drinkware, Tumblers, Glass Dinnerware"></a>
            </div>
          </li>

          <li class="Odd">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/sushi-supplies/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/FeaturedList-05.jpg"
                alt="Sushi Supplies"></a>
            </div>
          </li>

          <li class="Even">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/ramen-essentials/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/FeaturedList-06.jpg"
                alt="Ramen Shop Essentials"></a>
            </div>
          </li>

          <li class="Odd">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/about-japanese-knives/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/FeaturedList-07.jpg"
                alt="About Japanese knives"></a>
            </div>
          </li>

          <li class="Even">
            <div class="FeaturedImage">
              <a href="https://www.mtckitchen.com/how-to-sharpen-your-knife/"><img
                src="https://s3.us-east-2.amazonaws.com/msi-final-st/FeaturedList-08.jpg"
                alt="How to sharpen your knife"></a>
            </div>
          </li>

        </ul>
      </div>

      <div class="yotpo yotpo-reviews-carousel yotpo-size-6" data-header-customisation-enabled="1"
           data-header-customisation-color="#56575f" data-header-customisation-font-size="18"
           data-header-customisation-text="What our customers are saying" data-header-customisation-alignment="left"
           data-background-color="transparent" data-mode="top_rated" data-type="product" data-count="9"
           data-show-bottomline="1" data-autoplay-enabled="1" data-autoplay-speed="3000" data-show-navigation="1"
           data-yotpo-element-id="11" style="max-width: 1336px;">
        <div class="yotpo-display-wrapper carousel-display-wrapper" style="background-color: transparent;"
             data-attr-total-reviews="9">
          <div class="carousel-read-more-text" data-text="Read More"></div>
          <span class="yotpo-icon yotpo-corner"></span>
          <div class="label-with-tooltip carousel-tool-tip" style="display: inline-block;">
            <div class="yotpo-tool-tip" data-user-type="yotpo-verified-user">
              <div class="tool-tip-header">
                <span class="header-blue tool-tip-header-span"> Review Title</span>
              </div>
              <div class="tool-tip-content">
                Review Content
              </div>
            </div>
          </div>
          <div id="carousel-top-panel" style="">
            <div class="headline" style="font-size: 18px;color: #56575f">What our customers are saying</div>
            <div class="carousel-arrows" style="display: inline-block;"><span
              class="yotpo-page-element yotpo-icon yotpo-icon-left-arrow-thin yotpo_previous"></span> <span
              class="yotpo-page-element yotpo-icon yotpo-icon-right-arrow-thin yotpo_next"></span></div>
            <div class="carousel-reviews-bottom-line "><span class="yotpo-review-stars"> <span
              class="yotpo-icon yotpo-icon-star pull-left"></span><span
              class="yotpo-icon yotpo-icon-star pull-left"></span><span
              class="yotpo-icon yotpo-icon-star pull-left"></span><span
              class="yotpo-icon yotpo-icon-star pull-left"></span><span
              class="yotpo-icon yotpo-icon-half-star pull-left"></span> </span> <span class="yotpo-num-of-reviews"> 388 Reviews </span>
            </div>
          </div>
          <div class="scroller" style="width: 1000px;">
            <div class="yotpo yotpo-carousel y-slider-container y-slide-left-animations" style="left: -100%;">
              <div class="y-slider-container y-slide-left-animations">
                <div class="standard-layout single-carousel review" data-review-id="43499897"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/tCT3ddRd"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square.jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Takamura HSPS Gyuto Knife 210mm (8.2")
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 06/01/14 </span></div>
                      <div class="carousel-review-title" full-headline="This knife is an addiction."> This knife is an
                        addiction.
                      </div>
                      <div class="carousel-review-body ">This knife is an addiction. <br>This guyto is insanely thin
                        and breathtakingly sharp. Looks like MTC offers the lowest, a lot che...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Mark y.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 06/01/14 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="This knife is an addiction."> This knife is an
                      addiction.
                    </div>
                    <a class="product-link-container" href="https://yotpo.com/go/tCT3ddRd" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square.jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Takamura HSPS Gyuto Knife 210mm
                          (8.2")
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">This knife is an addiction. <br>This guyto is insanely thin
                        and breathtakingly sharp. Looks like MTC offers the lowest, a lot che...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Mark y.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="43339709"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/tQfC0YAP"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(1).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Tenryo Hi-Soft Cutting Board</div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 08/25/17 </span></div>
                      <div class="carousel-review-title" full-headline="Amazing product"> Amazing product</div>
                      <div class="carousel-review-body ">High quality product for customers who are in food service
                        business. Looks and feels durable. The product inside the package was s...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Hee L.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 08/25/17 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="Amazing product"> Amazing product</div>
                    <a class="product-link-container" href="https://yotpo.com/go/tQfC0YAP" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(1).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Tenryo Hi-Soft Cutting Board</div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">High quality product for customers who are in food service
                        business. Looks and feels durable. The product inside the package was s...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Hee L.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="43499903"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/tQfC0YAP"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(1).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Tenryo Hi-Soft Cutting Board</div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 09/06/12 </span></div>
                      <div class="carousel-review-title" full-headline="Bought this for my sushi"> Bought this for my
                        sushi
                      </div>
                      <div class="carousel-review-body ">Bought this for my sushi restaurant. I heard that this
                        cutting board is extremely gentle on blades. Might seem a bit pricey at fir...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Masa Y.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 09/06/12 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="Bought this for my sushi"> Bought this for my
                      sushi
                    </div>
                    <a class="product-link-container" href="https://yotpo.com/go/tQfC0YAP" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(1).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Tenryo Hi-Soft Cutting Board</div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">Bought this for my sushi restaurant. I heard that this
                        cutting board is extremely gentle on blades. Might seem a bit pricey at fir...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Masa Y.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="46439549"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/rJM0kTV4"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(2).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Hasegawa Wood Core Soft Rubber Cutting
                        Board
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 10/25/17 </span></div>
                      <div class="carousel-review-title"
                           full-headline="Excellent board! Great for home and professional use"> Excellent board!
                        Great for home and professional use
                      </div>
                      <div class="carousel-review-body ">Excellent high-end Japanese cutting board. Very light in
                        comparison to other rubber boards. The soft surface is easy on the knife ...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Dan Y.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 10/25/17 </span>
                    </div>
                    <div class="carousel-review-title"
                         full-headline="Excellent board! Great for home and professional use"> Excellent board! Great
                      for home and professional use
                    </div>
                    <a class="product-link-container" href="https://yotpo.com/go/rJM0kTV4" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(2).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Hasegawa Wood Core Soft Rubber Cutting
                          Board
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">Excellent high-end Japanese cutting board. Very light in
                        comparison to other rubber boards. The soft surface is easy on the knife ...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Dan Y.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="43776223"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/f7uhCoN5"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://www.mtckitchen.com/"></div>
                      <div class="product-name carousel-review-product-text">Takamura Gyuto Knife Hana Damascus HSPS
                        210mm (8.2")
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 08/31/17 </span></div>
                      <div class="carousel-review-title" full-headline="test"> test</div>
                      <div class="carousel-review-body ">test</div>
                      <div class="carousel-review-author">test</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 08/31/17 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="test"> test</div>
                    <a class="product-link-container" href="https://yotpo.com/go/f7uhCoN5" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://www.mtckitchen.com/"></div>
                        <div class="product-name carousel-review-product-text">Takamura Gyuto Knife Hana Damascus HSPS
                          210mm (8.2")
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">test</div>
                      <div class="carousel-review-author">test</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="44947387"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/xtpvos6E"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(3).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Charcoal Konro Grill Medium 21 1/4" x
                        9"
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 09/27/17 </span></div>
                      <div class="carousel-review-title" full-headline="Awesome experience"> Awesome experience</div>
                      <div class="carousel-review-body ">Bought a medium size Japanese konro grill and exceeded my
                        expectations. The grill was delivered in a fast timely fashion with lots...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">david a.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 09/27/17 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="Awesome experience"> Awesome experience</div>
                    <a class="product-link-container" href="https://yotpo.com/go/xtpvos6E" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(3).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Charcoal Konro Grill Medium 21 1/4" x
                          9"
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">Bought a medium size Japanese konro grill and exceeded my
                        expectations. The grill was delivered in a fast timely fashion with lots...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">david a.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="43289014"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/xtpvos6E"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(3).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Charcoal Konro Grill Medium 21 1/4" x
                        9"
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 08/24/17 </span></div>
                      <div class="carousel-review-title" full-headline="My Konro Grill"> My Konro Grill</div>
                      <div class="carousel-review-body ">Love this grill, this is my second one, apparently my son
                        loves it to, since he borrowed my first one wnen I was not home <br>So ...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">jake N.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 08/24/17 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="My Konro Grill"> My Konro Grill</div>
                    <a class="product-link-container" href="https://yotpo.com/go/xtpvos6E" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(3).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Charcoal Konro Grill Medium 21 1/4" x
                          9"
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">Love this grill, this is my second one, apparently my son
                        loves it to, since he borrowed my first one wnen I was not home <br>So ...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">jake N.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="46232876"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/2jMFCx7P"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(4).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Super Hygienic Plastic Non-Stick Sushi
                        Rolling Mat (Makisu) 10" x 9.5"
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 10/20/17 </span></div>
                      <div class="carousel-review-title" full-headline="Innovative"> Innovative</div>
                      <div class="carousel-review-body ">I thought it's too expensive for Makisu at the first time.
                        but sanitation point of view, this has big advantage to reduce risk of ...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">TAK</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 10/20/17 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="Innovative"> Innovative</div>
                    <a class="product-link-container" href="https://yotpo.com/go/2jMFCx7P" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(4).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Super Hygienic Plastic Non-Stick Sushi
                          Rolling Mat (Makisu) 10" x 9.5"
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">I thought it's too expensive for Makisu at the first time.
                        but sanitation point of view, this has big advantage to reduce risk of ...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">TAK</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="43499786"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/tCT3ddRd"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square.jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Takamura HSPS Gyuto Knife 210mm (8.2")
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 03/25/17 </span></div>
                      <div class="carousel-review-title" full-headline="Excellent Choice - Great Value!"> Excellent
                        Choice - Great Value!
                      </div>
                      <div class="carousel-review-body ">I own a small collection of Japanese knives; all with
                        different steel. When searching for my next knife I really wanted R2 powdere...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">EB</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 03/25/17 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="Excellent Choice - Great Value!"> Excellent
                      Choice - Great Value!
                    </div>
                    <a class="product-link-container" href="https://yotpo.com/go/tCT3ddRd" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square.jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Takamura HSPS Gyuto Knife 210mm
                          (8.2")
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">I own a small collection of Japanese knives; all with
                        different steel. When searching for my next knife I really wanted R2 powdere...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">EB</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="43499897"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/tCT3ddRd"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square.jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Takamura HSPS Gyuto Knife 210mm (8.2")
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 06/01/14 </span></div>
                      <div class="carousel-review-title" full-headline="This knife is an addiction."> This knife is an
                        addiction.
                      </div>
                      <div class="carousel-review-body ">This knife is an addiction. <br>This guyto is insanely thin
                        and breathtakingly sharp. Looks like MTC offers the lowest, a lot che...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Mark y.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 06/01/14 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="This knife is an addiction."> This knife is an
                      addiction.
                    </div>
                    <a class="product-link-container" href="https://yotpo.com/go/tCT3ddRd" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square.jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Takamura HSPS Gyuto Knife 210mm
                          (8.2")
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">This knife is an addiction. <br>This guyto is insanely thin
                        and breathtakingly sharp. Looks like MTC offers the lowest, a lot che...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Mark y.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="43339709"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/tQfC0YAP"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(1).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Tenryo Hi-Soft Cutting Board</div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 08/25/17 </span></div>
                      <div class="carousel-review-title" full-headline="Amazing product"> Amazing product</div>
                      <div class="carousel-review-body ">High quality product for customers who are in food service
                        business. Looks and feels durable. The product inside the package was s...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Hee L.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 08/25/17 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="Amazing product"> Amazing product</div>
                    <a class="product-link-container" href="https://yotpo.com/go/tQfC0YAP" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(1).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Tenryo Hi-Soft Cutting Board</div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">High quality product for customers who are in food service
                        business. Looks and feels durable. The product inside the package was s...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Hee L.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="43499903"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/tQfC0YAP"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(1).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Tenryo Hi-Soft Cutting Board</div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 09/06/12 </span></div>
                      <div class="carousel-review-title" full-headline="Bought this for my sushi"> Bought this for my
                        sushi
                      </div>
                      <div class="carousel-review-body ">Bought this for my sushi restaurant. I heard that this
                        cutting board is extremely gentle on blades. Might seem a bit pricey at fir...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Masa Y.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 09/06/12 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="Bought this for my sushi"> Bought this for my
                      sushi
                    </div>
                    <a class="product-link-container" href="https://yotpo.com/go/tQfC0YAP" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(1).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Tenryo Hi-Soft Cutting Board</div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">Bought this for my sushi restaurant. I heard that this
                        cutting board is extremely gentle on blades. Might seem a bit pricey at fir...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Masa Y.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="46439549"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/rJM0kTV4"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(2).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Hasegawa Wood Core Soft Rubber Cutting
                        Board
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 10/25/17 </span></div>
                      <div class="carousel-review-title"
                           full-headline="Excellent board! Great for home and professional use"> Excellent board!
                        Great for home and professional use
                      </div>
                      <div class="carousel-review-body ">Excellent high-end Japanese cutting board. Very light in
                        comparison to other rubber boards. The soft surface is easy on the knife ...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Dan Y.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 10/25/17 </span>
                    </div>
                    <div class="carousel-review-title"
                         full-headline="Excellent board! Great for home and professional use"> Excellent board! Great
                      for home and professional use
                    </div>
                    <a class="product-link-container" href="https://yotpo.com/go/rJM0kTV4" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(2).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Hasegawa Wood Core Soft Rubber Cutting
                          Board
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">Excellent high-end Japanese cutting board. Very light in
                        comparison to other rubber boards. The soft surface is easy on the knife ...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">Dan Y.</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="43776223"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/f7uhCoN5"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://www.mtckitchen.com/"></div>
                      <div class="product-name carousel-review-product-text">Takamura Gyuto Knife Hana Damascus HSPS
                        210mm (8.2")
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 08/31/17 </span></div>
                      <div class="carousel-review-title" full-headline="test"> test</div>
                      <div class="carousel-review-body ">test</div>
                      <div class="carousel-review-author">test</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 08/31/17 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="test"> test</div>
                    <a class="product-link-container" href="https://yotpo.com/go/f7uhCoN5" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://www.mtckitchen.com/"></div>
                        <div class="product-name carousel-review-product-text">Takamura Gyuto Knife Hana Damascus HSPS
                          210mm (8.2")
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">test</div>
                      <div class="carousel-review-author">test</div>
                    </div>
                  </div>
                </div>
                <div class="standard-layout single-carousel review" data-review-id="44947387"
                     style="margin-right: 33.3333px;">
                  <div class="big-version yotpo-hidden" style="display: none;"><a class="product-link-container"
                                                                                  href="https://yotpo.com/go/xtpvos6E"
                                                                                  target="_blank" rel="nofollow">
                    <div class="product-image-container pull-left">
                      <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                        src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(3).jpg">
                      </div>
                      <div class="product-name carousel-review-product-text">Charcoal Konro Grill Medium 21 1/4" x
                        9"
                      </div>
                    </div>
                  </a>
                    <div class="right-side pull-right">
                      <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span><span
                        class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span
                        class="carousel-review-date"> 09/27/17 </span></div>
                      <div class="carousel-review-title" full-headline="Awesome experience"> Awesome experience</div>
                      <div class="carousel-review-body ">Bought a medium size Japanese konro grill and exceeded my
                        expectations. The grill was delivered in a fast timely fashion with lots...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">david a.</div>
                    </div>
                  </div>
                  <div class="small-version" style="display: inline-block;">
                    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span><span
                      class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span class="carousel-review-date"> 09/27/17 </span>
                    </div>
                    <div class="carousel-review-title" full-headline="Awesome experience"> Awesome experience</div>
                    <a class="product-link-container" href="https://yotpo.com/go/xtpvos6E" target="_blank"
                       rel="nofollow">
                      <div class="product-image-container pull-left">
                        <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                          src="https://s3.us-east-2.amazonaws.com/msi-final-st/square(3).jpg">
                        </div>
                        <div class="product-name carousel-review-product-text">Charcoal Konro Grill Medium 21 1/4" x
                          9"
                        </div>
                      </div>
                    </a>
                    <div class="right-side pull-right">
                      <div class="carousel-review-body ">Bought a medium size Japanese konro grill and exceeded my
                        expectations. The grill was delivered in a fast timely fashion with lots...
                        <div class="carousel-read-more">Read More</div>
                      </div>
                      <div class="carousel-review-author">david a.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="yotpo-label yotpo-small-box "><span class="yotpo-logo-title"> <a class="" target="_blank"
                                                                                       href="http://my.yotpo.com/landing_page?redirect=https%3A%2F%2Fwww.yotpo.com%2Fverified-product-reviews-by-yotpo%2F&amp;utm_campaign=branding_link_reviews_widget_v2&amp;utm_medium=widget&amp;utm_source=mtckitchen.com">Powered by</a> </span>
            <div class="yotpo-icon-btn-big transparent-color-btn"><a
              href="http://my.yotpo.com/landing_page?redirect=https%3A%2F%2Fwww.yotpo.com%2Fverified-product-reviews-by-yotpo%2F&amp;utm_campaign=branding_link_reviews_widget_v2&amp;utm_medium=widget&amp;utm_source=mtckitchen.com"
              class="yotpo-icon yotpo-icon-yotpo-logo" target="_blank"> <span class="sr-only"></span> </a></div>
            <div class="yotpo-logo-line"></div>
            <div class="yotpo-clr"></div>
          </div>
        </div>
      </div>
      <script>
        gtm_products = [];
      </script>

      <div class="Block FeaturedProducts Moveable Panel" id="HomeFeaturedProducts" style="display:">
        <h3>Featured Products</h3>
        <div class="BlockContent">
          <ul class="ProductList">
            <li class="Odd" style="min-height: 293px;">
              <div class="ProductImage QuickView" data-product="21390">
                <a href="https://www.mtckitchen.com/spotted-nanbu-cast-iron-teapot-17-oz/" style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/96383__33653.1466628440.190.285.jpg"
                  alt="Spotted Nanbu Cast Iron Teapot 17 oz"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a href="https://www.mtckitchen.com/spotted-nanbu-cast-iron-teapot-17-oz/" class="pname">Spotted Nanbu
                  Cast Iron Teapot 17 oz</a>
              </div>
              <em class="p-price">$65.00</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="21390"
                   data-url="https://www.mtckitchen.com/spotted-nanbu-cast-iron-teapot-17-oz/"
                   data-yotpo-element-id="1"><span class="yotpo-display-wrapper" style="visibility: hidden;">   <div
                class="yotpo-clr"></div> </span></div>
              <div class="ProductPriceRating">
		<span class="Rating Rating0">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating0.png"
        alt="" style="display: none;">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=21390"
                   class="btn icon-Add To Cart" title="Add To Cart">Add To Cart</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘Spotted
              Nanbu
              Cast
              Iron
              Teapot
              17
              oz’,       // Name or ID is required.
              ‘id’: ‘96383’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
            <li class="Even" style="min-height: 293px;">
              <div class="ProductImage QuickView" data-product="21208">
                <a href="https://www.mtckitchen.com/new-super-benriner-mandoline-slicer/" style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/90549b__89491.1502115482.190.285.jpg"
                  alt="[NEW] Super Benriner Mandoline Slicer"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a href="https://www.mtckitchen.com/new-super-benriner-mandoline-slicer/" class="pname">[NEW] Super
                  Benriner Mandoline Slicer</a>
              </div>
              <em class="p-price">$49.00</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="21208"
                   data-url="https://www.mtckitchen.com/new-super-benriner-mandoline-slicer/"
                   data-yotpo-element-id="2"><span class="yotpo-display-wrapper" style="visibility: hidden;">  <div
                class="standalone-bottomline"> <div class="yotpo-bottomline pull-left  star-clickable">  <span
                class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span> </span>  <a class="text-m">3 Reviews</a>   <div
                class="yotpo-clr"></div> </div> <div class="yotpo-clr"></div> </div>   <div class="yotpo-clr"></div> </span>
              </div>
              <div class="ProductPriceRating">
		<span class="Rating Rating5">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating5.png"
        alt="" style="display: none">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=21208"
                   class="btn icon-Add To Cart" title="Add To Cart">Add To Cart</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘[NEW]
              Super
              Benriner
              Mandoline
              Slicer’,       // Name or ID is required.
              ‘id’: ‘90549’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
            <li class="Odd" style="min-height: 293px;">
              <div class="ProductImage QuickView" data-product="22390">
                <a href="https://www.mtckitchen.com/yukiwa-copper-plated-cobbler-shaker-360ml-12-2-oz/"
                   style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/96074_2___38540.1466628361.190.285.jpg"
                  alt="Yukiwa Copper-Plated Cobbler Shaker 360ml (12.2 oz)"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a href="https://www.mtckitchen.com/yukiwa-copper-plated-cobbler-shaker-360ml-12-2-oz/" class="pname">Yukiwa
                  Copper-Plated Cobbler Shaker 360ml (12.2 oz)</a>
              </div>
              <em class="p-price">$98.00</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="22390"
                   data-url="https://www.mtckitchen.com/yukiwa-copper-plated-cobbler-shaker-360ml-12-2-oz/"
                   data-yotpo-element-id="3"><span class="yotpo-display-wrapper" style="visibility: hidden;">   <div
                class="yotpo-clr"></div> </span></div>
              <div class="ProductPriceRating">
		<span class="Rating Rating0">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating0.png"
        alt="" style="display: none">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=22390"
                   class="btn icon-Add To Cart" title="Add To Cart">Add To Cart</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘Yukiwa
              Copper - Plated
              Cobbler
              Shaker
              360
              ml(12.2
              oz
              )’,       // Name or ID is required.
              ‘id’: ‘96074’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
            <li class="Even" style="min-height: 293px;">
              <div class="ProductImage QuickView" data-product="22414">
                <a href="https://www.mtckitchen.com/deluxe-3-prong-ice-pick/" style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/96061__42434.1466628475.190.285.jpg"
                  alt="Deluxe 3-Prong Ice Pick"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a href="https://www.mtckitchen.com/deluxe-3-prong-ice-pick/" class="pname">Deluxe 3-Prong Ice
                  Pick</a>
              </div>
              <em class="p-price">$10.00</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="22414"
                   data-url="https://www.mtckitchen.com/deluxe-3-prong-ice-pick/" data-yotpo-element-id="4"><span
                class="yotpo-display-wrapper" style="visibility: hidden;">   <div class="yotpo-clr"></div> </span>
              </div>
              <div class="ProductPriceRating">
		<span class="Rating Rating0">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating0.png"
        alt="" style="display: none">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=22414"
                   class="btn icon-Add To Cart" title="Add To Cart">Add To Cart</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘Deluxe
              3 - Prong
              Ice
              Pick’,       // Name or ID is required.
              ‘id’: ‘96061’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
            <li class="Odd" style="min-height: 293px;">
              <div class="ProductImage QuickView" data-product="22976">
                <a href="https://www.mtckitchen.com/super-hygienic-plastic-non-stick-sushi-rolling-mat/"
                   style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/90058__75488.1466628569.190.285.jpg"
                  alt="Super Hygienic Plastic Non-Stick Sushi Rolling Mat (Makisu) 10&quot; x 9.5&quot;"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a href="https://www.mtckitchen.com/super-hygienic-plastic-non-stick-sushi-rolling-mat/"
                   class="pname">Super Hygienic Plastic Non-Stick Sushi Rolling Mat (Makisu) 10" x 9.5"</a>
              </div>
              <em class="p-price">$28.00</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="22976"
                   data-url="https://www.mtckitchen.com/super-hygienic-plastic-non-stick-sushi-rolling-mat/"
                   data-yotpo-element-id="5"><span class="yotpo-display-wrapper" style="visibility: hidden;">  <div
                class="standalone-bottomline"> <div class="yotpo-bottomline pull-left  star-clickable">  <span
                class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-half-star pull-left"></span> </span>  <a class="text-m">3 Reviews</a>   <div
                class="yotpo-clr"></div> </div> <div class="yotpo-clr"></div> </div>   <div class="yotpo-clr"></div> </span>
              </div>
              <div class="ProductPriceRating">
		<span class="Rating Rating0">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating0.png"
        alt="" style="display: none">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=22976"
                   class="btn icon-Add To Cart" title="Add To Cart">Add To Cart</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘Super
              Hygienic
              Plastic
              Non - Stick
              Sushi
              Rolling
              Mat(Makisu)
              10 & quot;
              x
              9.5 & quot;’,       // Name or ID is required.
              ‘id’: ‘90058’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
            <li class="Even" style="min-height: 318px;">
              <div class="ProductImage QuickView" data-product="22810">
                <a
                  href="https://www.mtckitchen.com/new-ivory-large-bowl-with-japanese-style-mortar-suribachi-10dia-x-4-1-8ht/"
                  style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/93987__51509.1466628414.190.285.jpg"
                  alt="Ivory Large Bowl with Japanese-style Mortar (Suribachi) 10&quot;dia x 4 1/8&quot;ht"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a
                  href="https://www.mtckitchen.com/new-ivory-large-bowl-with-japanese-style-mortar-suribachi-10dia-x-4-1-8ht/"
                  class="pname">Ivory Large Bowl with Japanese-style Mortar (Suribachi) 10"dia x 4 1/8"ht</a>
              </div>
              <em class="p-price">$36.80</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="22810"
                   data-url="https://www.mtckitchen.com/new-ivory-large-bowl-with-japanese-style-mortar-suribachi-10dia-x-4-1-8ht/"
                   data-yotpo-element-id="6"><span class="yotpo-display-wrapper" style="visibility: hidden;">  <div
                class="standalone-bottomline"> <div class="yotpo-bottomline pull-left  star-clickable">  <span
                class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span> </span>  <a class="text-m">1 Review</a>   <div
                class="yotpo-clr"></div> </div> <div class="yotpo-clr"></div> </div>   <div class="yotpo-clr"></div> </span>
              </div>
              <div class="ProductPriceRating">
		<span class="Rating Rating0">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating0.png"
        alt="" style="display: none">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=22810"
                   class="btn icon-Add To Cart" title="Add To Cart">Add To Cart</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘Ivory
              Large
              Bowl
              with Japanese - style Mortar(Suribachi)
              10 & quot;
              dia
              x
              4
              1 / 8 & quot;
              ht’,       // Name or ID is required.
              ‘id’: ‘93987’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
            <li class="Odd" style="min-height: 318px;">
              <div class="ProductImage QuickView" data-product="23391">
                <a href="https://www.mtckitchen.com/ainagashi-blue-earthy-ridged-noodle-bowl-7-7-dia/"
                   style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/98182__36078.1483985546.190.285.jpg"
                  alt="Ainagashi Blue Earthy Ridged Noodle Bowl 7.7&quot; dia"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a href="https://www.mtckitchen.com/ainagashi-blue-earthy-ridged-noodle-bowl-7-7-dia/" class="pname">Ainagashi
                  Blue Earthy Ridged Noodle Bowl 7.7" dia</a>
              </div>
              <em class="p-price">$9.30</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="23391"
                   data-url="https://www.mtckitchen.com/ainagashi-blue-earthy-ridged-noodle-bowl-7-7-dia/"
                   data-yotpo-element-id="7"><span class="yotpo-display-wrapper" style="visibility: hidden;">  <div
                class="standalone-bottomline"> <div class="yotpo-bottomline pull-left  star-clickable">  <span
                class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span><span
                class="yotpo-icon yotpo-icon-star pull-left"></span> </span>  <a class="text-m">1 Review</a>   <div
                class="yotpo-clr"></div> </div> <div class="yotpo-clr"></div> </div>   <div class="yotpo-clr"></div> </span>
              </div>
              <div class="ProductPriceRating">
		<span class="Rating Rating0">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating0.png"
        alt="" style="display: none">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/ainagashi-blue-earthy-ridged-noodle-bowl-7-7-dia/"
                   class="btn icon-Temporarily out of stock" title="Temporarily out of stock">Temporarily out of
                  stock</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘Ainagashi
              Blue
              Earthy
              Ridged
              Noodle
              Bowl
              7.7 & quot;
              dia’,       // Name or ID is required.
              ‘id’: ‘98182’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
            <li class="Even" style="min-height: 318px;">
              <div class="ProductImage QuickView" data-product="22138">
                <a href="https://www.mtckitchen.com/shapton-sharpening-stone-set-500-2000-and-holder/"
                   style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/94161__71956.1466628604.190.285.jpg"
                  alt="Shapton Sharpening Stone Set (#500, #2000 and holder)"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a href="https://www.mtckitchen.com/shapton-sharpening-stone-set-500-2000-and-holder/" class="pname">Shapton
                  Sharpening Stone Set (#500, #2000 and holder)</a>
              </div>
              <em class="p-price">$212.00</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="22138"
                   data-url="https://www.mtckitchen.com/shapton-sharpening-stone-set-500-2000-and-holder/"
                   data-yotpo-element-id="8"><span class="yotpo-display-wrapper" style="visibility: hidden;">   <div
                class="yotpo-clr"></div> </span></div>
              <div class="ProductPriceRating">
		<span class="Rating Rating0">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating0.png"
        alt="" style="display: none">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=22138"
                   class="btn icon-Add To Cart" title="Add To Cart">Add To Cart</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘Shapton
              Sharpening
              Stone
              Set(#500, #2000
              and
              holder
              )’,       // Name or ID is required.
              ‘id’: ‘94161’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
            <li class="Odd" style="min-height: 318px;">
              <div class="ProductImage QuickView" data-product="22527">
                <a href="https://www.mtckitchen.com/charcoal-gray-asymmetrical-bowl-7-1-4-x-5-7-8/"
                   style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/96980__98076.1466628395.190.285.jpg"
                  alt="Charcoal Gray Asymmetrical Bowl 7 1/4&quot; x 5 7/8&quot;"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a href="https://www.mtckitchen.com/charcoal-gray-asymmetrical-bowl-7-1-4-x-5-7-8/" class="pname">Charcoal
                  Gray Asymmetrical Bowl 7 1/4" x 5 7/8"</a>
              </div>
              <em class="p-price">$23.00</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="22527"
                   data-url="https://www.mtckitchen.com/charcoal-gray-asymmetrical-bowl-7-1-4-x-5-7-8/"
                   data-yotpo-element-id="9"><span class="yotpo-display-wrapper" style="visibility: hidden;">   <div
                class="yotpo-clr"></div> </span></div>
              <div class="ProductPriceRating">
		<span class="Rating Rating0">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating0.png"
        alt="" style="display: none">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/cart.php?action=add&amp;product_id=22527"
                   class="btn icon-Add To Cart" title="Add To Cart">Add To Cart</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘Charcoal
              Gray
              Asymmetrical
              Bowl
              7
              1 / 4 & quot;
              x
              5
              7 / 8 & quot;’,       // Name or ID is required.
              ‘id’: ‘96980’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
            <li class="Even" style="min-height: 318px;">
              <div class="ProductImage QuickView" data-product="21187">
                <a href="https://www.mtckitchen.com/japanese-style-pestle-surikogi/" style="height: 285px;"><img
                  src="https://s3.us-east-2.amazonaws.com/msi-final-st/91604__88913.1466628432.190.285.jpg"
                  alt="Japanese-style Pestle (Surikogi)"></a>
              </div>
              <div class="ProductDetails" style="min-height: 59px;">
                <a href="https://www.mtckitchen.com/japanese-style-pestle-surikogi/" class="pname">Japanese-style
                  Pestle (Surikogi)</a>
              </div>
              <em class="p-price">$5.00</em>
              <div class="yotpo bottomLine yotpo-small" data-product-id="21187"
                   data-url="https://www.mtckitchen.com/japanese-style-pestle-surikogi/" data-yotpo-element-id="10">
                  <span class="yotpo-display-wrapper" style="visibility: hidden;">   <div
                    class="yotpo-clr"></div> </span></div>
              <div class="ProductPriceRating">
		<span class="Rating Rating0">
			<img
        src="https://s3.us-east-2.amazonaws.com/msi-final-st/IcoRating0.png"
        alt="" style="display: none">
		</span>
              </div>
              <div class="ProductActionAdd" style="display:;">
                <a href="https://www.mtckitchen.com/japanese-style-pestle-surikogi/" class="btn icon-Choose Options"
                   title="Choose Options">Choose Options</a>
              </div>
            </li>

            <script>
              gtm_products.push({
‘name’: ‘Japanese - style
              Pestle(Surikogi)’,       // Name or ID is required.
              ‘id’: ‘’,
              ‘list’: ‘HomeFeatured’
              })
              ;
            </script>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <script>
        dataLayer.push({ ‘ecommerce’:
        {
        ‘impressions’:
          gtm_products
        }
        })
        ;
      </script>
      <div class="Block Moveable Panel" id="SideTopSellers" style="display:none;"></div>
      <div class="Block Moveable Panel" id="HomeNewProducts" style="display:none;"></div>

    </div>
  </div>
</div>
