/* Headings */
h1, h2, h3, h4, h5, h6 {font-family: "proxima-nova",sans-serif;}
h3 {text-transform:uppercase;color: #bc0100;}

/* Paragraphs */
p {font-family: "proxima-nova",sans-serif; line-height:1.5;}

/* Links */
a {font-family: "proxima-nova",sans-serif;}

/* Labels and Values (used for some product options) */
label, .Label, .Value {font-family: "proxima-nova",sans-serif;}

/* Input Fields and Buttons */
input, .btn {font-family: "proxima-nova",sans-serif;}

/* Product Page Breadcrumb Links */
.Breadcrumb {font-family: "proxima-nova",sans-serif;}





#home .KnifeList,
#home .FeaturedList,
#CategoryContent .CategoryList {
    margin: 0 0 0 -20px;
    font-size: 0;
    padding: 0;
    overflow: hidden;
}
#home .KnifeList li,
#home .FeaturedList li,
#CategoryContent .CategoryList li  {text-align: center;
    display: inline-block;
    display: -webkit-inline-box;
    padding: 0 0 20px 20px;
    list-style: none;
    height: auto !important;
    margin: 0;
    overflow: hidden;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#CategoryContent .CategoryList li h2 {text-transform: uppercase;font-size:14px;margin-top:16px;}

#home .KnifeList li,
#CategoryContent .CategoryList li {width: 33.333333%;}

#home .FeaturedList li {width: 50%;}
#CategoryContent section {width: 49%;}

.CategoryContent p {font-size:12px;}

.KnifeList img,
.FeaturedList img,
.CategoryList img {max-height: 100%;max-width: 100%;line-height: 1.5em;}



/* -------- responsive.css -------- */

/* 1024px */
@media screen and (max-width: 1024px) {
#home .KnifeList li,
#CategoryContent .CategoryList li {width: 33.333333%;}
#home .FeaturedList li {width: 50%;}
#CategoryContent section {width: 49%;}
}

/* 1000px */
@media screen and (max-width: 1000px) {
#home .KnifeList li,
#CategoryContent .CategoryList li {width: 33.333333%;}
#home .FeaturedList li {width: 50%;}
}

/* 768px */
@media screen and (max-width: 768px) {
#home .KnifeList li,
#CategoryContent .CategoryList li {width: 33.333333%;}
#home .FeaturedList li {width: 50%;}
}

@media screen and (max-width: 600px) {
#home .KnifeList li,
#home .FeaturedList li,
#CategoryContent .CategoryList li {width: 50%;}
}

/* 480px */
@media screen and (max-width: 480px) {
#home .KnifeList li,
#home .FeaturedList li,
#CategoryContent .CategoryList li,
#CategoryContent section {width: 100%;}
}



/* -------- HEADER PANEL > TopMenu -------- */
.TopMenu, .TopMenu a {color: #333333;}

.TopMenu .inner {padding: 10px 0;}

#privy-container #privy-inner-container .privy .privy-text-element a, #privy-container #privy-inner-container .privy .privy-html-element a {text-decoration: none!important;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
#privy-container #privy-inner-container .privy-bar-container .privy-bar {height: 60px;}
}

.NoticeBanner {line-height:45px;height:45px;border-bottom:2px solid #333333;}
.NoticeBanner strong {color:#bc0000;}

.currency-converter p {color: #333333;}

.phoneIcon {font-weight:normal}
.js-drawermenu-store-phone {font-weight:bold;}



@media screen and (max-width: 480px) {
.TopMenu {display:block!important;}
#Header {margin-bottom:0;}
.header .inner {margin-top:60px;}
#privy-container #privy-inner-container .privy .privy-text-element {color:#ffffff!important;}
}

@media screen and (max-width: 768px) {
.TopMenu .inner {padding: 10px 0 0;}
}



/* -------- HEADER FREE SHIP -------- */
.SecPromo {text-align:center; background:#E7E7E7; padding: 14px 0; font-weight: 400; letter-spacing: 1; text-transform: uppercase;}
.SecPromo a {color: #333333;}
.SecPromo a strong {color:#bb0100;text-transform:uppercase;}


/* -------- STOREFRONT CONTENT -------- */
.BlockContent.PageContent h5 {
    padding: 0 0 10px 0;
    font-size:18px;
}
.BlockContent.PageContent li {
    line-height: 1.8;
}
.BlockContent.PageContent a {
    color:#333333;
}
.BlockContent.PageContent p[id] {
    border-bottom:1px dotted #797979;
    padding:2px;
    font-weight:bold;
    font-size:16px;    
}
.BlockContent.PageContent p a {
    text-decoration: underline;
}
.BlockContent.PageContent a[href="#pagetop"] {
    font-size:10px;
    color:#999999;
    font-weight: bold;
    text-decoration: underline; 
    float: right;
}
.BlockContent.PageContent .red {
    color:#BB0100;
}
.BlockContent.PageContent .Right {
    width: 100%;
    text-align: right;
    float:none;    
}
.BlockContent.PageContent figure {
    text-align:center; margin-bottom:10px;
}
.BlockContent.PageContent em {
    font-style: italic; font-weight: bold; font-size: 18px; 
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.BlockContent.PageContent h3 { color:#BB0100;font-size: 48px;}
.BlockContent.PageContent h2 { font-size:24px;}
.BlockContent.PageContent section { margin-bottom:50px;clear:both;}

/* -------- STOREFRONT CONTENT RETURNS -------- */
.BlockContent.PageContent .returns h2,.BlockContent.PageContent .returns h5,.BlockContent.PageContent .returns h6{text-transform: uppercase;}
.BlockContent.PageContent .returns h2 {background-color: #666666;text-align: center; color: #ffffff;line-height: 2.5em;padding: 0; font-weight: 400; margin-bottom: 20px;letter-spacing: 0.2em;}
.BlockContent.PageContent .returns h6 {font-size: 48px; font-weight: 600;}
.BlockContent.PageContent .returns span {font-size: 0.9em;}
.BlockContent.PageContent .returns section {padding: 15px; margin-bottom:0;}
.BlockContent.PageContent .returns section > figure {float: left;width: 24%;}
.BlockContent.PageContent .returns section > div {float: right; width: 73%;}
.BlockContent.PageContent .returns section i {text-decoration: underline;font-style:normal;font-weight: 600;font-size: 20px;margin-bottom: 10px;display:block;}

/* -------- STOREFRONT CONTENT ACCORDION PANELS -------- */
.BlockContent.PageContent h2.accordion {
    background-color: #eee;
    border-bottom:1px solid #ffffff;
    margin:0;
    cursor: pointer;
    padding: 18px 40px 18px 18px;
    font-size: 14px;
    font-weight:normal;
    transition: 0.4s;
}
.BlockContent.PageContent h2.accordion.active, h2.accordion:hover {
    background-color: #ddd;
}
.BlockContent.PageContent h2.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-right: -20px;
}
.BlockContent.PageContent h2.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.BlockContent.PageContent div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
.BlockContent.PageContent div.panel.show {
    opacity: 1;
    max-height: 500px;
}

/* -------- PRODUCTS PICTURE ZOOM-------- */
div#fancy_outer {z-index: 30000!important;}


/* -------- SIMILAR, RELATED PRODUCTS -------- */
#SimilarProductsByCustomerViews, #SideProductRelated {margin-top: 50px;}
#SimilarProductsByCustomerViews h2, #SideProductRelated h2 {font-size:14px;padding:0;text-transform:uppercase;letter-spacing:1.0;border-bottom:1px solid #e3e3e3;}

/* -------- BUTTONS FOR LINK TO CONTENT -------- */
.bt-contentlink {margin:20px 0 !important;}
.bt-contentlink li { border-radius:8px; border:1px solid #3f3f3f !important; padding:9px 18px !important; list-style:none; display:inline-block; margin-right:25px !important; font-size:14px;}
.bt-contentlink li a {color:#3f3f3f;}
.bt-contentlink li a:before {content: "";display: block;background: url("//cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/ico-subnavi.png?t=1509569864") no-repeat;width: 6px;height: 7px;float: left;margin: 5px 6px 0 0;}


/* -------- SIDE CONTENT -------- */
.SideBanner img {max-width:200px;margin-bottom:20px;}
.SubCategoryList h3 {color: #ffffff;background-color: #333333;padding: 4px 6px!important; font-size: 14px; margin-bottom: 12px;font-weight: 600;letter-spacing: 1.0;}


/* -------- ABOUT KNIFE BRANDS -------- */
#KnifeBrands figure {
    width:30%;
    float:left;
    margin-right:3%;
    margin-bottom:0;
}
#KnifeBrands section div {
    width:67%;
    float:right;
}
#KnifeBrands section  {
    border-bottom: 1px dotted #666666;
    margin-bottom:10px;
    padding-bottom:10px;
    clear:both;
}


#ContProduct .emboss {margin-bottom:20px;}
#ContProduct .emboss section { width: 29.4%;float: left; margin-right: 5%; clear: none; border: 3px solid #41a3cb; border-radius: 16px;-moz-border-radius: 16px;-webkit-border-radius: 16px; margin-top: 58px; margin-bottom:0; min-height: 250px;}
#ContProduct .emboss section:last-child {margin-right: 0;}
#ContProduct .emboss section img {margin-top: -28px;}
#ContProduct .emboss section p {padding: 10px;}

#ContProduct .emboss section h2,
#ContProduct .emboss02 section h2 {background-color: #41a3cb; padding: 10px; color: #ffffff; text-align: center;}

#ContProduct .emboss02 section {width: 41%; float: left; clear: none;border: 3px solid #41a3cb; border-right:none; border-radius: 10px 0px 0px 10px;-moz-border-radius: 10px 0px 0px 10px;-webkit-border-radius: 10px 0px 0px 10px;margin-top: 58px;}
#ContProduct .emboss02 section >img {margin-top: -29px;}
#ContProduct .emboss02 section p {padding: 14px; min-height: 252px;}
#ContProduct .emboss02 > img {display: block; width: 58.7%; flex: right; border: 3px solid #41a3cb; border-left: none; border-radius: 0px 10px 10px 0px;-moz-border-radius: 0px 10px 10px 0px;-webkit-border-radius: 0px 10px 10px 0px; min-height: 280px; position: absolute;top: 58px;right:0;}
#ContProduct .emboss02 {position: relative;}

#ContProduct .emboss03 section {width: 45%; float: left; clear: none;}
#ContProduct .emboss03 section:last-child {width: 45%; float: right; clear: none;}


@media screen and (max-width: 1120px) {
#ContProduct .emboss section {width: 29.2%;}
#ContProduct .emboss02 section p {padding: 14px; min-height: 235px;}
}
@media screen and (max-width: 868px) {
#ContProduct .emboss section {width: 29%;}
#ContProduct .emboss section img {margin-top: -20px;}
#ContProduct .emboss02 section {width: 49%; border: 3px solid #41a3cb; border-radius: 10px 0px 10px 10px;-moz-border-radius: 10px 0px 10px 10px;-webkit-border-radius: 10px 0px 10px 10px;margin-top: 58px;}
#ContProduct .emboss02 > img {width: 50%;}
}


@media screen and (max-width: 480px) {
#ContProduct .emboss section, #ContProduct .emboss02 section {width: 98%;min-height: auto; background-color: #41a3cb;}
#ContProduct .emboss section img {width:300px; margin: -30px auto 0;}
#ContProduct .emboss02 section img {width:410px; margin: -30px auto 0;}
#ContProduct .emboss section p, #ContProduct .emboss02 section p {background-color: #ffffff;border: 3px solid #ffffff; border-radius: 0px 0px 10px 10px;-moz-border-radius: 0px 0px 10px 10px;-webkit-border-radius: 0px 0px 10px 10px; margin-bottom: 0px;}
#ContProduct .emboss02 > img {width: 98%; flex: right; border:none; position: initial;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px; margin-bottom:20px;}
}


/* -------- FAQs TAKAMURA CONTENT -------- */
#takamura-faq section { float:left; width:22%; margin-right:4%; height:335px; clear:none!important;}
#takamura-faq section:nth-child(4n) {margin-right:0;}
#takamura-faq h3 {margin:10px 0; font-size:13px;}
#takamura-faq h2 {font-size:30px; font-weight:bold; margin:20px 0 10px; border-bottom:1px solid #3f3f3f; width:100%; padding:0 20px 10px;}
#takamura-faq .desc {margin:0 20px 50px;}
#takamura-faq h4 {font-size:18px; font-weight:bold; color:#BB0100; margin:0 20px;}
#takamura-faq table { border-collapse:collapse; margin:0 20px 50px;}
#takamura-faq table th, #takamura-faq table td {border:1px solid #979797; padding:10px;}

#CorporateHistory figure {width:33%; float:left; margin-right:3%;}
#CorporateHistory section div {width:64%;float:right;}
#CorporateHistory p {margin-bottom:30px;}


#Branchs p {margin-bottom:0;line-height: 1.4;}


.PrimaryProductDetails .btn.add-to-cart,
.productAttributeValue .btn {
    background-color: #bb0100;
}
.icon-Add,
.ProductActionAdd a[href*="action"] {display:none;}


/* -------- ADD SKU # to PRODUCT LISTING PAGE -------- */
.ProductList .p-sku {
    font-size:12px;
    color: #666666;
}

/* -------- WEIGHT, INVENTORY LEVEL DISPLAY NONE -------- */
.ProductMain .ProductAddToCart > .DetailRow:nth-child(3),
.ProductMain .ProductAddToCart > .InventoryLevel {display:none!important;}


@media screen and (max-width: 480px) {
#KnifeBrands figure,
#CorporateHistory figure {width: 100%;float:none;margin-right:0;}

#KnifeBrands section div,
#CorporateHistory section div,
#Branchs section  {width:100%; float:none;margin-right:0;}
.SideBanner img {max-width:480px;margin-bottom:20px;}
}


/* -------- FOOTER -------- */
.footer-main .grid__item a,
.footer-main .grid__item p,
.footer-main .grid__item li {color:#333333;font-family: "proxima-nova",sans-serif;}
.footer-main h4, .footer-storelocation h4 {
    padding: 0 0 0.5em;
    text-transform: uppercase;
}

.footer-links {background: #333333;color: #ffffff;}
.footer-links a {color: #ffffff;}
.footer-links #sitemap {float: right;}

.footer-storelocation > .inner {max-width: 1000px;width: 90%;margin: 0 auto;padding: 40px 0;}
.footer-storelocation {background-color:#eeeeee;}
.footer-storelocation img {max-width:300px;}
.footer-storelocation p {font-size: 12px;}
.footer-storelocation p a {text-decoration:underline;}

.gift-certificate li a {background:url(https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/ico-gift.png) no-repeat; padding-left:25px !important; display:block; line-height:25px;}
@media screen and (max-width: 480px){.gift-certificate li a {background:none; padding-left:0!important; margin}}

.newsletter-subscription {background-color: #333333;}
.newsletter-subscription h4 {color: #ffffff;letter-spacing: 1.4;}
.newsletter-subscription .btn {border: 1px solid #e3e3e3;}

@media screen and (max-width: 970px) {
	.footer-storelocation .grid__item {width:30%;}
	.footer-storelocation .grid__item img {width: 100%;}
}
@media screen and (max-width: 767px) {
	.footer-storelocation .one-third:nth-child(1),.footer-storelocation .one-third:nth-child(2) {width:50%;}
	.footer-storelocation .grid__item img {width: 100%;}
}
@media screen and (max-width: 480px){
	.footer-storelocation .grid {margin-left:0px;}
	.footer-storelocation .grid__item {padding-left: 0px;}
	.footer-storelocation .grid__item img {width: 100%;}
	.footer-storelocation .one-third:nth-child(1),.footer-storelocation .one-third:nth-child(2) {width:100%;}
	.footer-main h4 {margin-top: 20px;}
}


/* -------- Product Page - Product Description Table -------- */
.ProductDescriptionContainer table {
    border-collapse:collapse;
    font-size:14px;
    font-weight:300;}
.ProductDescriptionContainer th {
    white-space:nowrap;
    text-align:left;
}
.ProductDescriptionContainer th,
.ProductDescriptionContainer td {
    border: 1px solid #e3e3e3;
    padding: 10px;
}


#prodAccordion {
    font-weight:300;
    letter-spacing: 0.8;}
#ProductOtherDetails, #ProductByCategory {display:none;}

.ProductDetailsGrid .DetailRow,
.ProductDetailsGrid .s-price {
    margin-bottom: 10px;
}
.ProductDetailsGrid .Label {
    float: left;
    margin-right: 10px ;
}
.addto {
    border-top: none;
    padding-top:5px;
}
.ProductDescription {
    margin-top: 0px;
}
.ProductDescription h2.subtitle {
font-size: 18px;
    font-weight: 700;
    padding: 0 0 10px 0;
    display: none;
}
.ProductDescriptionContainer {
    font-weight: 300;
    letter-spacing: 0.4;}
.ProductDescriptionContainer h6 {font-weight: 600;padding-bottom: 5px;color: #c05555;text-transform: uppercase;letter-spacing: 1.0;}
.ProductDescriptionContainer .caution {color:#bc0000;}
.ProductDescriptionContainer .FreeShip {color:#ffffff; padding:2px 8px; background-color:#59b0c6; display:inline-block; font-size:12px; text-transform:uppercase;}

.ProductDescriptionContainer a {text-decoration:underline;}

.ProductDescriptionContainer .match-item {border: 1px solid #e3e3e3;margin-bottom: 20px;}
.ProductDescriptionContainer .match-item figure {width: 12%; float: left;padding: 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.ProductDescriptionContainer .match-item p {width:88%; float:left;padding:10px;margin:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.ProductDescriptionContainer .match-item span {color:#c05555; font-weight: 500; font-size: 12px;}

.ProductDescriptionContainer .bulk-tier {margin-top: 0;}
.ProductDescriptionContainer .bulk-tier td, .bulk-tier th {border: none;padding: 5px 10px;}
.ProductDescriptionContainer .bulk-tier tr:nth-child(2n) {background-color: #e3e3e3;}
.ProductDescriptionContainer .bulk-tier tr:nth-child(2n+1) {background-color: #f6f6f6;}
.ProductDescriptionContainer .bulk-tier td:nth-child(2n) {color:#bc0100;}


.ProductDescriptionContainer  ul {margin-left:0;}
.ProductDescriptionContainer  li {
    border-radius: 8px;border: 1px solid #3f3f3f !important;
    padding: 5px 12px;
    list-style: none;
    display: table;
	margin-bottom:8px;
}
.ProductDescriptionContainer  li a { text-decoration:none;}
.ProductDescriptionContainer  li  a:before {
    content: "";
    display: block;
    background: url(//cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/ico-subnavi.png?t=1478644768) no-repeat;
    width: 6px;
    height: 7px;
    float: left;
    margin: 5px 6px 0 0;
}




.ProductDetailsGrid .DetailRow.product-rating {
    border-top: none;
    border-bottom: none;
    padding: 10px 0;
}
.ProductDetailsGrid .DetailRow.product-rating a {
    font-size:12px;
}

.ProductDetailsGrid .InventoryLevel {
    display:none;}


.addthis_default_style a[href*="#"]{float:none!important;}
.addthis_default_style .at-icon-wrapper { background-color:#333333 !important;line-height: 24px !important;height: 24px !important;width: 24px !important;}
.addthis_default_style .at-icon-wrapper svg { height: 24px !important;width: 24px !important;}


/* -------- PRODUCT BULK DISCOUNT MESSAGE -------- */
.InfoMessage {background: #ffffff url(../images/info.png) no-repeat 15px top; padding:0 0 0 55px; margin-bottom:30px;line-height: 22px;}
.BulkContent {margin-bottom: 20px; }
.BulkContent h6 {font-weight: 600;padding-bottom: 5px;color: #c05555;text-transform: uppercase;letter-spacing: 1.0;}

/* ------- OUT OF STOCK MESSAGE -------*/
.OutOfStockMessage {display: inline-block;}
.OutOfStockMessage.InfoMessage {background:none;padding:0;margin-bottom:0;}
.icon-outofstock {display: none}
.OutOfStockMessage p {margin:0;padding-left:0;font-weight: 600;padding-bottom: 5px;color: #c05555;text-transform: uppercase;letter-spacing: 1.0;}

/* -------- CUSTOM IMPRINTED RAMEN BOWLS -------- */
.Cont-CustmBowls { width:1000px; background:#f8f8f8;padding-bottom:50px;}
.Cont-CustmBowls table  { border-collapse:collapse;font-size:14px;}
.Cont-CustmBowls .price-chart th {color:#000 !important;font-weight:bold; border:1px solid #3F3E3E;text-align:center;}
.Cont-CustmBowls .price-chart td {color:#ff3c3c !important;font-weight:bold;border:1px solid #3F3E3E;text-align:center;}
.Cont-CustmBowls .desc01 { border:1px solid #3F3E3E; background:#FFFFFF; width:598px; margin:0 auto 20px;}
.Cont-CustmBowls .desc01 > p {width:500px; margin:18px auto; line-height:1.8;}
.Cont-CustmBowls .desc02 { border:1px solid #3F3E3E; background:#FFFFFF; width:360px; margin:0 0 20px; float:right;}
.Cont-CustmBowls .desc02 > p {width:340px; margin:8px auto; line-height:1.8;}
.Cont-CustmBowls .color-chart th {color:#ffffff; text-align:center; vertical-align:top; font-size:10px;width:40px; height:40px; border:3px solid #f8f8f8; font-weight:normal;}
.Cont-CustmBowls .color-chart td { border:3px solid #f8f8f8;}
.Cont-CustmBowls .color-chart td span { font-weight:bold;font-size:14px; padding-bottom:5px; margin-bottom:8px; border-bottom:1px solid #000; display:block;}
.Cont-CustmBowls .bt-order { width:421px; margin:0 auto 20px;}
.Cont-CustmBowls .e-order { text-transform:uppercase; width:600px; margin:24px auto; text-align:center; font-size:14px;}
.Cont-CustmBowls .e-order a { color:#fe4728;}


/* -------- FACETED SEARCH -------- */
.js-facet-wrapper > .close {padding: 0px;background: none; text-align: left;}/*to Cancel iGlobal Setting*/


/* -------- LEFT SIDE SEARCH -------- */
.Left h4 {font-weight: 600;color: #bc0100;}


/* -------- CATEGORY, SEARCH RESULT, BRAND PAGES-------- */
.ProductActionAdd a.btn  {background:none !important;border: #333333 solid 1px;color:#333333;font-size: 10px;padding:0 0.5em!important;letter-spacing: 0.5 !important;height: 25px;line-height: 25px;}
.SortBox {color: #333333;}
.icon-Temporarily {color: #bc0100!important;border: none!important;}

/* -------- SALE PAGES -------- */
#CategoryContent .ProductList .p-price .SalePrice,
.PrimaryProductDetails .VariationProductPrice {color: #cc3333;}


/* --------MODAL CART after Added Cart -------- */
#modalContainer {scroll:auto!important;height: 100% !important;}
.CheckoutButton a.btn {background-color:#bc0000;}
#CartContent .CheckoutButton a.btn {font-size: 14px;height: 55px;line-height: 55px;font-weight: bold;padding: 0 50px;}

.fastCartSummaryBox .ProceedToCheckout, .fastCartSummaryBox .actionLink {margin: 0px;}
.actionLink a.btn {background: none;color: #bc0100!important;font-weight: 700;border: none;}
.fastCartItemBox strong {font-size: 14px;text-transform: uppercase;}

.fastCartBottom {margin-top:20px;padding-top:10px;border-top:1px solid #eaeaea;}
.fastCartBottom h4 {text-align:center;font-weight:bold;padding:0;}
.QuickView a {height:198px !important;}


/* -------- SHIPPER HQ -------- */
.method-display-name {display:none;}
.quote-price {font-weight:700; color:#bc0000; font-size:16px;}

/* -------- If Global Navi BC is Red -------- */
.PageMenu {
    background-color: #BB0100;
    margin:0 !important;
}
@media screen and (min-width:320px) and (max-width: 799px) {
.PageMenu {display: none;}
.footer-storelocation img {max-width:460px;}
}

.PageMenu li {
    position: relative;
    padding: 8px 0;
    display: inline-block;
    margin: 0 20px 0 0;
    width: 7.9%;
    vertical-align: middle;
    white-space: normal;
    text-align: center;
}
.PageMenu .sf-menu > li:nth-child(10) {margin: 0;}
.PageMenu .sf-menu > li:nth-child(11) {display:none;}
.PageMenu .sf-menu > li:nth-child(12) {display:none;}
.PageMenu .sf-menu > li:nth-child(13) {display:none;}
/*.PageMenu .sf-menu > li:last-child {display:none;}*/

.PageMenu .sf-menu > li > a {
    color:#ffffff;
    font-size:12px;
    text-transform:uppercase;
}
.PageMenu li ul li a {
    color: #ffffff;
    line-height:2.2em;
    font-weight: 300;
    letter-spacing: 0.5;
}

/* -------- Scroll then Fixed -------- */
nav {
height: 58px;
// set animation
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
nav.sticky {
position: fixed;
height: 58px; 
top: 35px;
width: 100%;
z-index:100;
}



@media print  {
.NoticeBanner, .PageMenu, .Left, .product-nav, .privy-bar-container, .SecPromo, .TopMenu { display:none;}}


/* -------- For Month Long Sale -------- */
.Msale > ul {margin-top: 20px;}
.Msale > ul li a:before {content: "";display: block;background: url("//cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/ico-subnavi.png?t=1509569864") no-repeat;width: 6px;height: 7px;float: left;margin: 5px 6px 0 0;}
.Msale-ti {padding-top: 45px;}
.Msale-ti h3 {color:#BC287E !important;}
.Msale-ti figure {float: right; width: 400px;}
.Msale-ti section {float: left; width: 320px;}
.Msale-item section {float: left; width: 23%; margin-right: 20px; margin-bottom: 20px!important; clear: none !important;}
.Msale-item section:last-child {margin-right: 0;}
.Msale-item h2 {border:none !important; font-size:13px !important; margin:0 20px 0 0;}
.Msale-item .product-price {color: #545454 !important;text-decoration:line-through; margin:0;}
.Msale-item .sale-price {color:#FF0033 !important; }
.Msale-item img, .ImgMain img, .PG-App img {max-height: 100%;max-width: 100%;line-height: 1.5em;height: auto;}

@media screen and (max-width: 1083px) {
.Msale-ti figure, .Msale-ti section {float: none !important; width: 100% !important; margin: 0 auto !important;}
}
@media screen and (max-width: 1115px) {
.Msale-item section {float: left; width: 47%; margin-right: 2%; margin-bottom: 20px!important; clear: none !important;}
.One-item {padding: 0 !important;}
}


/* -------- For Appreciation Sale -------- */
.PG-App h6 {color: #2d2c30;font: 600 30px Georgia, 'serif';margin-bottom: 20px;padding: 5%;background-color: #e6edeb;}
.PG-App section	{margin-bottom: 50px;}
.PG-App span {font: 600 14px Georgia, 'serif';line-height: 2.0em;}
.PG-App em {display: block;font-size: 14px!important;}
.PG-App em > span {font-size: 14px!important;color:#ff0033;}
.PG-App figure iframe {width:480px;height:270px;}
.PG-App section > p, .PG-App div {font-size:14px;line-height:2.0em;width:46%;}

@media screen and (max-width: 1130px) {
.PG-App figure, .PG-App p, .PG-App div, .PG-App figure iframe, .PG-App ul li {width:100%!important; float: none!important;}
.PG-App figure iframe {height:100%;}
}

.PG-App ul li {display: inline-block;width: 48%;padding: 0 0 2% 1.6%;overflow: hidden;text-align: center;}
.PG-App ul.grid-3 li {display: inline-block;width: 31%;}

.PG-App h5 {font: italic 600 30px Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';}

.bt-cont {
   border: 1px solid #5331aa;
   background: #5331aa;
   padding: 8px 15px;
   -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;
   color: #ffffff!important;
   font-size: 16px;letter-spacing: 1.5;text-transform: uppercase;}
.bt-cont:hover {border-color: #3b1876;background: #3b1876;color: #ffffff!important;}
.bt-cont:active {border-color: #5331aa;background: #5331aa;}


/* -------- BUNDLE ITEM CHOOSE LIST -------- */
.productAttributeFluidWidth {border:none !important;}
.productAttributeFluidWidth table {margin: 0;}
.productAttributeFluidWidth td {border:1px dotted #e3e3e3;font-size: 12px; white-space: normal;table-layout: fixed;}
.productAttributeFluidWidth div.radio span {height: 18px;width: 18px;background: url("//cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/icon_sprite02.png?t=1509569864") 0px 0px;}
.productAttributeFluidWidth div.radio span.checked {background-position: -18px 0px;}
.productOptionViewProductPickListWithImage .selectedValue td {background-color: #cccccc !important;}

/* -------- SHOPPING CART -------- */
.CartCode .CouponCode {float: right;text-align: right;}
.CartCode .CouponCode input.btn {min-width: 55px;}
.CartCode .CouponCode h3, .CartCode .GiftCertificate h3 {font-size: 14px; padding-bottom: 10px;}
.CartCode {background-color: #f4f4f4;padding: 20px; border: 1px solid #dcdcdc;}

table.CartContents th {padding: 5px 20px!important;}
table.CartContents td {padding: 10px 20px 0!important;}
.CartItemQuantity input[type="text"] {text-align:center;}

@media screen and (max-width: 590px) {
table.CartContents td {padding:0!important}
table.CartContents tbody td {padding:10px 0!important}
.CartCode .CouponCode {float: none;text-align: left;}
.KeepShopping .btn.alt {line-height: 60px!important;}
.CartContents, .CartItemQuantity input[type="text"] {font-size:12px!important;}
.CartContents td.CartItemQuantity {width:10%;}
}

@media screen and (max-width: 768px) {
.CartContents .CartThumb {display:block!important;}
.CartItemQuantity input[type="text"] {padding:0;}
}

.KeepShopping .btn.alt {border: 1px solid #333333!important;line-height: 34px!important;}

.privy-bar-container {z-index: 1000!important;}



/* -------- FACET SEARCH -------- */
h4.facet-header-title {padding:4px 6px; background-color:#333333; color:#ffffff;}
.facet-container .facet-option {font-size:12px!important;font-weight:500;}

/* ------- YotPo -------*/
.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .headline {text-transform: uppercase; color:#333333!important;font-family: "proxima-nova",sans-serif;}

/* ------- BLOG -------*/
.addthis_toolbox  {display:none!important;}
.h-entry .p-name {font-size: 48px;font-weight: 500;}
.h-entry .store-info {border-top:1px solid #bebebe; padding:30px; margin:30px 0 50px;}
.h-entry .store-info section {width:32%; float:left; margin-right:2%;}
.h-entry .store-info section:last-child {margin-right:0;}
.h-entry .store-info section h3 {padding:0;}

@media screen and (max-width: 480px){
.h-entry .store-info section {width:100%; float:none; margin-right:0;}
}