.flexslider {
    position: relative;
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

.slide-show {
    margin-bottom: 20px !important;
}

.slide-show h2 {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.slide-show li.slide {
    position: relative;
}

.slide-show .slide-text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 0 0 .5em rgba(0,0,0,1);
}

.slide-show h2,
.slide-show .slide-text {
    padding: 0;
    line-height: 2em;
    letter-spacing: 1px
}

.flex-control-nav {
    bottom: 20px !important;
}

.slide-show .slide-overlay {
    position: absolute;
    left: 80px;
    top: 80px;
    text-align: left;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: 25px;
}

.flex-direction-nav .flex-prev {
    left: 25px;
}