/* Global Resets */
* {
    margin: 0;
    padding: 0;
    outline: none;
}

/* General */

body {
    background-color: #fff;
    font-size: 14px;
    font-family: "proxima-nova",sans-serif;
    font-weight: normal;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

input, select, textarea {
    font-family: Arial, Sans-Serif;
    font-size: 12px;
}

/* Layout */

.inner:after {
    clear: both;
    content: "";
    display: table;
}

.TopMenu > .inner, #Header > .inner, .PageMenu > .inner, .main > .inner, .footer-main > .inner, .footer-links > .inner, .newsletter-subscription > .inner {
    margin: 0 auto;
}

/* Top Navigational Menu */

.TopMenu {
    font-size: 11px;
}

.TopMenu .inner {
    padding: 10px 0 20px 0;
}

.TopMenu ul {
    padding: 0;
    margin: 0;
    text-align: right;
}

.TopMenu li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    line-height: 20px;
    padding:0 5px;
}

.TopMenu li .icon {
    margin-right: 5px;
}

.TopMenu li.First a {
    border-left: 0;
}

.TopMenu li.last{
    padding-right: 0;
    border-right: none;
}

.TopMenu .CartLink span{
    width: auto;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.TopMenu a {
    padding: 0;
    margin: 0;
    position: relative;
}

.TopMenu li.last a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.TopMenu li.last a .icon{
    position: absolute;
    left: 0;
    top: -2px;
}

/* Header wrapper */

.header {
    margin-bottom: 31px;
}

/* Header */

#Header {
    position: relative;
    margin-bottom: 20px;
}

/* Main Categories Menu */

#HeaderLower #SideCategoryList .SideCategoryListClassic li a {
    width: auto;
    margin: 15px 10px;
    padding: 0 0 0 0px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

#HeaderLower #SideCategoryList .SideCategoryListClassic li:before {
    float: left;
    margin-top: 16px;
    content: "|";
}

#HeaderLower #SideCategoryList .SideCategoryListClassic ul:first-child {
    color: #fff;
}

/* Horizontal Category List (Default & Flyout) */

#SideCategoryList h2 {
    display: block;
}

/* Logo */
.header-logo {
    float: left;
}

#cookieNotification {
    position: fixed;
    z-index: 99999;
    display: none;
    float: left;
    width: 100%;
    max-height: 88px;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/cookie-sprite.png) repeat-x bottom;
}
#cookieNotification .cookie-inner {
    max-width: 940px;
    min-height: 46px;
    margin: auto;
    width: 100%;
}
#cookieNotification .icon-info {
    float: left;
    width: 40px;
    height: 40px;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/cookie-sprite.png) no-repeat 0 8px;
}
#cookieNotification p {
    margin: 0 0 0 0;
    padding: 15px 0 12px;
    line-height: 18px;
    font-weight: bold;
    float: none;
}
#cookieNotification button {
    float: right;
    display: block;
    margin: 17px 0 0 0;
    width: 117px;
    height: 28px;
    cursor: pointer;
    text-indent:  -9999px;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/cookie-sprite.png) no-repeat 0 -38px;
    border: none;
}
@media screen and (max-width: 768px) {
    #cookieNotification p {
        font-weight: normal;
        line-height: 14px;
        font-size: 90%;
    }
    #cookieNotification .icon-info {
        display: none;
    }
    #cookieNotification button {
        margin-top: 0;
    }
}

/* Top Search Form */

#SearchForm{
    position: relative;
    float: right;
    width: 25%;
}

#SearchForm form {
    padding: 0;
    margin: 0;
}

#SearchForm label {
    display: none;
}

#SearchForm input {
    border-right: 0;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    padding: 0 1em;
    margin: 0;
    float: left;
    width: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#SearchForm input#search_query {
    border-width: 0 !important;
}

#SearchForm .Button {
    cursor: pointer;
    border: 0 !important;
    vertical-align: top;
    margin: 0;
    width: 20%;
    height: 35px;
    padding: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/searchIcon.png) 50% 50% no-repeat transparent;
    -moz-transition: background-color 150ms ease;
    -webkit-transition: background-color 150ms ease;
    -o-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
}

#SearchForm p {
    display: none;
    font-size: 0.85em;
    margin: 5px 0 0 0;
}


/* Select styling */

select {
    border-radius: none;
    margin: 0;
    padding: 9px;
}

select.Field45 {
    width: auto;
}

.no-sel {
    height: auto;
    line-height: inherit;
}

textarea {
    line-height: 18px;
    height: 100px;
    max-width: 100%;
}

input {
    padding: 0px;
}

p {
    line-height: 1.8;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    font-weight: inherit;
}

a:hover{
    text-decoration: none;
}

.page-content #LayoutColumn2 a.pname:hover {
    background-color: transparent;
}

strong, b {
    font-weight: bold;
}

.header-logo h1 {
    font-size: 46px;
    font-weight: 300;
    padding: 0;
    letter-spacing: 3px;
    line-height: 0.7em;
}

/* Buttons */

.btn {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom:1;
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 0 1.2em;
    -webkit-border-radius: 0;
    border-radius: 0;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn.alt {
    line-height: 29px;
}

.btn.text {
    background:none;
    outline: 0;
}

/* Headings */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0;
    padding: 0;
}

h1, .h1 {
    font-size: 22px;
    font-weight: 700;
    padding: 0 0 20px 0;
}

h2, .h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 20px 0;
}

h3, .h3 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 20px 0;
}

h4, .h4 {
    font-size: 16px;
    font-weight: 300;
    padding: 0 0 20px 0;
    text-transform: uppercase;
}

h5, .h5 {
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 20px 0;
}

h6, .h6 {
    font-size: 14px;
    font-weight: 300;
    padding: 0 0 20px 0;
}

.footer-main h4 {
    font-size: 14px;
    padding: 0 0 1em 0;
    line-height: 20px;
    text-transform: none;
    font-weight: bold;
}

.productPage .PriceRow.p-price {
    font-size: 22px;
}

.productPage .dateselector {
    display: inline;
}

.TitleHeading {
    font-size: 34px;
    margin-bottom: 20px;
}

.TitleHeading.zero {
    margin-bottom: 0;
}

.CategoryDescription img {
    max-width: 100%;
    height: auto;
    width: auto;
}

img,
img a {
    border: 0;
}

ul,
ol {
    margin: 0 0 10px 30px;
}

li {
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 30px 0 30px 50px;
    font-family: serif;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5em;
    border-left: solid 1px #e3e3e3;
    padding-left: 20px;
}

select option {
    padding: 0 10px;
    margin-right: 10px;
}

hr {
    margin: 20px 0;
    padding: 0;
    height: 1px;
    background: none;
    border-width: 1px 0 0 0;
}

/*Standardised Forms*/

fieldset {
    margin: 0 0 20px;
    border: 0;
}

/*Horizontal Forms*/

.horizontal-form input {
    margin-right: 1em !important;
}

.horizontal-form fieldset {
    margin-right: 20px;
    display: inline-block;
}

/* Forms */

.HorizontalFormContainer {
    max-width: 1000px;
}

.HorizontalFormContainer dl,
.VerticalFormContainer dl {
    margin: 0;
}

.HorizontalFormContainer dl:after,
.VerticalFormContainer dl:after {
    content: "";
    display: table;
    clear: both;
}

.HorizontalFormContainer dt img {
    vertical-align: middle;
    float: left;
}

.HorizontalFormContainer dt .fieldLabel {
    float:left;
    padding-top: 4px;
    padding-left: 4px;
}

.HorizontalFormContainer dt {
    width: 170px;
    float: left;
    clear: left;
}

.HorizontalFormContainer dd.ProductField {
    height: 20px;
}

.HorizontalFormContainer dd {
    padding-top:4px;
    margin-left: 180px;
}

form .HorizontalFormContainer dd {
    float: left;
}

/* [sic] not a typo in WishListEditFrom (I didn't change the markup) */
/* THEME-316 */
#WishListEditFrom form .HorizontalFormContainer dd {
    float: none;
}

.NarrowFormContainer dt {
    width: 110px;
}

.NarrowFormContainer dd {
    margin-left: 120px;
}

.NarrowFormContainer p.Submit {
    margin-left: 120px;
}

.VerticalFormContainer dt {
    float: none;
    margin-bottom: 6px;
    width: auto !important;
}

.VerticalFormContainer dd {
    margin-bottom: 25px;
    margin-left: 0 !important;
}

/* override inline styles on zip code fields */

#FormField_13, #FormField_23 {
    width: 180px !important;
}

/* Page Containers */

#ContainerLower {
    clear: both;
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}

/* Outer Content Wrapper (Surrounds header & content) */
#Outer {
    clear: both;
}

.centerer {
    margin:0 auto;
    text-align: center;
}

input.Textbox, textarea,
input[type="text"],
input[type="password"] {
    margin: 0;
    height: 35px;
    line-height: 35px;
    padding: 0 1em;
    background: #ffffff;
    font-size: 13px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    min-height: 100px;
    padding: 1em;
    line-height: 18px;
}

/* Left Content Area */

.Left {
    float: left;
    padding-right: 40px;/*20px;*/
    width: 200px;
}

.Left h3 {
    padding-top: 0;
}

.Left .BlockContent {
    margin: 0;
}

.Left ul {
    margin: 0 0 20px 0;
    padding: 0;
}


.Left #SideCategoryList .SideCategoryListFlyout > ul > li,
ul.side-menu > li {
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;

}

.Left li {
    clear: both;
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 12px;
}

.Left #SideCategoryList .sf-menu li li {
    padding-left: 10px;
}

.Left li li a {
    margin: 4px 0;
    font-size: 12px;
}

.Left .sf-menu li {
    float: none;
}

.Left #SideCategoryList {
    display: block;
}

.Left #SideCategoryList .BlockContent,
.Left .slist .BlockContent {
    padding: 0 20px 0 0;
    overflow: hidden;
}

.Left #SideCategoryList li a,
.Left .slist li a,
.Left .afterSideShopByBrand a,
.Left #GiftCertificatesMenu li a,
.Left #SideAccountMenu li a {
    padding: 0;
}

.Left #SideCategoryList li li a,
.Left .slist li li a {
    font-weight: normal;
    font-size: 12px;
}

/* Primary Content Area */
.Content {
    overflow: hidden;
    padding: 0 0 20px 0;
    min-height: 200px;
}

.Content .Block {
    clear: both;
}

.Block {
    margin-top: 0;
    margin-bottom: 20px;
}

/* Primary Content Area (column span of 2) */
.Content.Wide {
    padding: 0;
}

/* Primary Content Area (column span of 3 - spans entire page width) */
.Content.Widest {
    padding: 0;
    border: none;
}

/* Right Content Area */
.Right {
    float: right;
    width: 190px;
}

.Right .Block {
    padding: 0 0 10px 0;
}

.Right .BlockContent {
    margin: 0 10px 0 10px;
}

.Right ul {
    margin: 0;
    padding: 0;
}

.Right li {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 5px 0 7px 0;
}

/* Top Banner styles */

.Block.banner_home_page_top,
.Block.banner_category_page_top,
.Block.banner_brand_page_top,
.Block.banner_search_page_top {
    position: relative;
    z-index: 0;
}

.Block.banner_home_page_top *,
.Block.banner_category_page_top *,
.Block.banner_brand_page_top *,
.Block.banner_search_page_top * {
    padding: 0;
    margin: 0;
}

/* Bottom Banner styles */

.Block.banner_home_page_bottom,
.Block.banner_category_page_bottom,
.Block.banner_brand_page_bottom,
.Block.banner_search_page_bottom {
    position: relative;
    left: 0;
    margin-bottom: 0;
}

.Block.banner_home_page_bottom div,
.Block.banner_category_page_bottom div,
.Block.banner_brand_page_bottom div,
.Block.banner_search_page_bottom div {
    float: left;
    width: 320px;
    position: relative;
}

.Block.banner_home_page_bottom div,
.Block.banner_category_page_bottom div,
.Block.banner_brand_page_bottom div,
.Block.banner_search_page_bottom div {
    margin-left: 10px;
}

.Block.banner_home_page_bottom div:first-child,
.Block.banner_category_page_bottom div:first-child,
.Block.banner_brand_page_bottom div:first-child,
.Block.banner_search_page_bottom div:first-child {
    margin-left: 0;
}

.Block.banner_home_page_bottom div .text,
.Block.banner_category_page_bottom div .text,
.Block.banner_brand_page_bottom div .text,
.Block.banner_search_page_bottom div .text {
    position: absolute;
    top: 35px;
    left: 15px;
    width: 200px;
    z-index: 99;
}

.Block.banner_home_page_bottom div .text h2,
.Block.banner_category_page_bottom div .text h2,
.Block.banner_brand_page_bottom div .text h2,
.Block.banner_search_page_bottom div .text h2 {
    font-size: 2.7em;
    line-height: 1em;
    margin-bottom: 12px;
}

.Block.banner_home_page_bottom div .text h3,
.Block.banner_category_page_bottom div .text h3,
.Block.banner_brand_page_bottom div .text h3,
.Block.banner_search_page_bottom div .text h3 {
    font-size: 1.6em;
    line-height: 1em;
    margin-bottom: 10px;
}

.Block.banner_home_page_bottom div .text p,
.Block.banner_category_page_bottom div .text p,
.Block.banner_brand_page_bottom div .text p,
.Block.banner_search_page_bottom div .text p {
    margin-bottom: 10px;
}

.image-container-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none !important;
}

.category-featured .image-container-centered {
    width: 320px;
    height: 264px;
}

.category-featured .image-container-centered img {
    max-width: 320px;
    max-height: 264px;
}

.category-featured h3 {
    text-transform: uppercase;
}

/* Contains links lists & newsletter */

.footer-columns li ul,
.footer-columns li:hover ul {
    display: none !important;
}

.footer-columns .RecentNews li p {
    margin: 5px 0;
}

/* Newsletter Subscription Form */

.newsletter-subscription {
    border-width: 1px 0;
    border-style: solid;
}

.newsletter-subscription h4 {
    padding: 0;
    line-height: 35px;
}

.newsletter-subscription .inner {
    padding: 20px 0;
}

.newsletter-subscription label {
    display: none;
}

.newsletter-subscription input {
    width: 100%;
}

/* News Lists */

#HomeRecentBlogs ul {
    padding-left: 0;
    margin-left: 0;
}

#HomeRecentBlogs li {
    list-style: none;
    padding: 5px 0 5px 10px;
    margin: 0;
}

#LowerRight .FeedLink {
    float: left;
    margin: 6px 4px 0 0;
}

/* Product Listings */

.ProductList {
    margin: 0 0 0 -20px;
    font-size: 0;
    padding: 0;
    overflow: hidden;
}

.ProductList li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 0 20px 20px;
    list-style: none;
    height: auto !important;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    width: 25%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ProductList li .ProductCompareButton {
    font-size: 11px;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
}

.ProductList.List .ProductActionAdd {
    text-align: left;
}

.ProductList .ProductPriceRating {
    padding-bottom: 5px;
    text-align: center;
}

.ProductList .ProductActionAdd {
    text-align: center;
}

.ProductList .ProductImage,
.brand-img,
#ProductDetails .ProductThumbImage {
    overflow: hidden;
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
}

.ProductList .ProductImage a,
.ProductThumbImage a {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    line-height: 0;
}

.ProductList .ProductImage img,
#ProductDetails .ProductThumbImage img {
    max-height: 100%;
    max-width: 100%;
    line-height: 1.5em; /* If the image takes a while to load or doesn't load at all the alt text will display. This spaces this text. */
}

.ProductList .ProductDetails {
    padding: 10px 10px 0 0;
    word-wrap: break-word;
}

.ProductList em {
    display: block;
    padding-bottom: 5px;
    font-style: normal;
    text-align: center;
}

.ProductList .Rating {
    display: block;
    text-align: center;
}

.ProductList .pname {
    display: block;
    padding-bottom: 5px;
    line-height: 18px;
    text-align: center;
}

.ProductList .p-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#SimilarMultiProductsByCustomerViews .ProductList li {
    width: 20%;
}

/* Product Listings - Horizontal */

.List.ProductList li .ProductPriceRating {
    padding: 8px 10% 0 0;
    width: auto;
    margin: 0;
}

.List.ProductList li .ProductCompareButton {
    width: auto;
    clear: none;
    padding: 0 20px 0 0;
    margin: 5px 0 0 0;
}

.List.ProductList li .ProductCompareButton {
    padding-top: 7px;
}

.ProductList.List {
    margin: 0;
}

.ProductList.List li {
    display: block;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: auto
}

.ProductList.List .ProductImage {
    float: left;
    width: 190px;
}

.ProductList.List .ProductDetails {
    padding: 20px;
    overflow: hidden;
}

.ProductList.List .QuickViewBtn {
    text-align: center;
    width: 170px;
}

.ProductList.List .ProductQty {
    margin-left: 10px;
}

.ProductList.List .ProductDescription {
    font-style: normal;
    margin-top: 5px;
}

.ProductList .ProductRightCol {
    float: right;
}

.ProductList.List li .ProductCompareButton {
    text-align: left;
    margin-top: 10px;
}

/* Add to cart popup __master overrides */

.fastCartContent {
    min-height: 0;
    width: auto;
}

#fastCartContainer .ProductList .ProductImage {
    height: auto; /* Have to keep to override master */
    width: 100%; /* Have to keep to override master */
}

.SubBrandListGrid .RowDivider {
    display: none!important;
}

.brand-img {
    float: left;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.brand-img img {
    width: auto;
}

.Left .ProductList li,
.Right .ProductList li {
    margin-bottom: 10px;
}

.Left .ProductList .ProductImage, .Right .ProductList .ProductImage {
    display: none;
}

/* Top Seller Block Specific */

.Right .TopSellers, .Left .TopSellers {
    clear: both;
    padding: 0 0 10px 0;
}

.Right .TopSellers ul, .Left .TopSellers ul {
    margin: 0;
    padding: 0;
}

.Right .TopSellers li, .Left .TopSellers li {
    clear: both;
    margin: 0 0 5px 0;
}

.Right .TopSellers li .TopSellerNumber, .Left .TopSellers li .TopSellerNumber { /* Contains the number of the item */
    float: left;
    width: 22px;
    font-size: 1.3em;
    text-align: center;
    padding: 1px 0 2px 0;
}

/* Contains the details of the item */
.Right .TopSellers .ProductDetails, .Left .TopSellers .ProductDetails {
    margin: 0;
    margin-left: 28px;
}

.Right .TopSellers li.TopSeller1 img, .Left .TopSellers li.TopSeller1 img {
    display: none;
}

.Right .TopSellers li.TopSeller1 .ProductImage,
.Left .TopSellers li.TopSeller1 .ProductImage {
    display: none;
}

.Content .TopSellers li.TopSeller1 .TopSellerNumber,
.Content .TopSellers li .TopSellerNumber {
    display: none;
}

/* Page Breadcrumbs */

.Breadcrumb {
    padding: 0;
}

.Breadcrumb ul {
    list-style-type: none;
    margin: 0 0 20px 0;
    overflow: hidden;
    width: 100%;
}

.Breadcrumb li {
    list-style-type: none;
    font-size: 11px;
    font-weight: 300;
    padding: 0 12px 0 0;
    display: block;
    float: left;
    background: none;
}

.Breadcrumb li a {
    padding-right: 18px;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon_bullet_breadcrumb.png) no-repeat 100% 50%;
    display: inline-block;
    font-weight: bold;
}

.top-title {
    position: relative;
}

.top-title h2 {
    margin: 0;
}

.productlist-page .top-title{
    margin-bottom: 0;
}

/* Helpers */

.hide-visually {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

/* It is added because the app is generating the class 'ClearLeft'*/

.ClearLeft{
    clear: left;
}

/* Miscellaneous Definitions */

.Left .FeedLink,
.Right .FeedLink {
    float: left;
    margin: 0 7px 0 0;
}

.Content .FeedLink {
    display: none;
}

.SortBox {
    font-size: 0.95em;
    color: @primary-color;
    padding: 12px 5px 0 0;
}

.SortBox label {
    text-transform: uppercase;
}

.CompareButton {
    text-align: right;
    margin-bottom: 20px;
}

.Required {
    color: red;
}

.ShippingAddressList,
.ShippingAddressList li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ShippingAddressList li {
    width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#ProductDetails h1 {
    padding: 0;
    word-wrap: break-word;
}

.PrimaryProductDetails .BrandName {
    padding: 0;
    margin-bottom: 10px;
}

.PrimaryProductDetails .ProductThumb {
    width: auto !important;
    height: auto !important;
    margin-bottom: 20px;
    text-align: center;
}
.PrimaryProductDetails .ProductThumb .ProductThumbImage .zoomPad {
    float: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.PrimaryProductDetails .ProductMain {
    overflow: hidden;
    padding: 0 0 20px 20px;
    float: right;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.PrimaryProductDetails .ProductThumb p a {
    font-weight: bold;
}

.ProductDescription, .ProductReviews, .ProductsByCategory, .ProductOtherDetails {
    margin-top: 20px;
}

.PrimaryProductDetails dl {
    font-size: 0.90em;
}

.PrimaryProductDetails dt {
    font-weight: bold;
    width: 80px;
    clear: left;
}

.PrimaryProductDetails dd {
    margin-left: 90px;
}

.Right hr {
    margin: 5px 0 0;
}

.ComparisonCheckbox {
    float: left;
}

.SideRecentlyViewed .ProductList li {
    margin-left: 0;
}

.SideRecentlyViewed .ProductDetails {
    margin-left: 20px;
}

/* Product Comparisons */

.ComparisonTable {
    table-layout: fixed;
    width: 100%;
}

.ComparisonTable img {
    max-height: 100%;
    max-width: 100%;
}

.ComparisonTable td {
    font-size: 14px;
    padding: 10px;
    vertical-align: center;
}

.CompareFieldName {
    width: 95px;
    padding: 8px 10px 8px 15px;
}

.CompareFieldTop {
    padding: 5px;
    text-align: center;
}

.CompareFieldTop a {
    font-size: 14px;
}

.CompareLeft {
    padding:5px 10px 5px 10px;
}

.CompareCenter {
    padding: 5px;
}

.CompareRating {
    text-align:center;
    padding-top:8px;
    vertical-align:middle;
}

.CompareProductOption {
    margin-left:20px;
    padding-left:5px;
}

.Availability {
    color:gray;
}

.LittleNote {
    color:gray;
    font-size: 0.85em;
}

.ViewCartLink {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* General Tables */

table.General,
table.CartContents,
table.General {
    margin: 20px 0;
    width: 100%;
}

table.General thead tr th,
table.CartContents thead tr th {
    padding: 6px 10px;
    text-align: left;
}

table.General tbody td,
table.CartContents tbody td {
    vertical-align: top;
}

table.General tbody tr.First td {
    border-top: 0;
}

/* Cart Contents Table */

.CartContents tbody td {
    border-bottom: 0;
}
.CartContents .ProductName a {
    font-weight:700;
}

.CartContents thead {
    background: #ededed;
}

.CartContents tbody tr td {
    padding: 20px;
}

.CartContents tfoot .SubTotal td {
    font-weight: bold;
}

.ProductOptionList,
.ProductOptionList li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ProductOptionList li {
    margin-bottom: 3px;
    margin-left: 2px;
}

.MiniCart h3 {
    font-size: 1.3em;
}
.MiniCart .SubTotal {
    text-align: center;
    font-size: 1.1em;
}

.JustAddedProduct {
    width: 128px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.JustAddedProduct strong,
.JustAddedProduct a {
    font-size: 1em;
    font-weight: normal;
    display: block;
    margin-bottom: 3px;
}

.JustAddedProduct .ProductDetails {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.CategoryPagination .PagingList,
.CategoryPagination .PagingList li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.CategoryPagination{
    float: left;
    text-align: center;
}

.CategoryPagination .PagingList li {
    display: inline;
}

/* Quick Search */
.QuickSearch {
    background-color: #fff;
    margin: 0;
    min-width: 400px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    z-index: 9999;
}

.RatingIMG {
    display: none;
}

.QuickSearchTitle td, .QuickSearchAllResults td {
    font-weight: bold;
    padding: 4px;
    font-size: 12px;
}

.QuickSearchResult td {
    font-size: 12px;
    padding: 0 10px;
    cursor: pointer;
}

.QuickSearchResultImage {
    margin-left: 4px;
    margin-right: 10px;
    text-align: center;
    background: #fff !important;
}

.QuickSearchResultNoImage {
    padding-top: 10px;
    color: #777;
}

.QuickSearchResultName {
    display: block;
    padding-bottom: 5px;
}

.QuickSearchResult .Price {
    font-weight: bold;
    font-size: 12px;
    padding-right: 5px;
}

.QuickSearchHover{
    background: #D6D6D6;
}

.QuickSearchAllResults {
    text-indent: 0;
    padding: 0;
    line-height: 20px;
}

.QuickSearch .QuickSearchAllResults a,
.QuickSearch .QuickSearchAllResults a:hover {
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.QuickSearchAllResults a:active,
.QuickSearchAllResults a {
    outline: none;
    -moz-outline-style: none;
}

/* Brand Tag Clouds */
.BrandCloud .smallest {
    font-size:12px;
}

.BrandCloud .small {
    font-size:15px;
}

.BrandCloud .medium {
    font-size:18px;
}

.BrandCloud .large {
    font-size:20px;
}

.BrandCloud .largest {
    font-size:26px;
}

.BrandCloud a {
    padding-right: 5px;
}

.DownloadExpires {
    padding-top: 3px;
    font-style: italic;
    color: gray;
}

.DownloadExpiresToday {
    color: red;
}

.CheckoutRedeemCoupon h4 {
    margin-top: 0;
}

.CheckoutRedeemCoupon p {
    margin-top: 10px;
    margin-bottom: 0;
}

.BillingDetails {
    float: left;
    width: 48%;
    margin-right: 10px;
    margin-bottom: 15px;
}

.ShippingDetails {
    float: left;
    width: 48%;
    margin-bottom: 15px;
}

.ProductDetailsGrid .DetailRow.product-heading {
    margin-bottom: 10px;
}

.ProductDetailsGrid dt {
    width: 140px;
    margin-bottom: 6px;
    float: left;
    font-weight: bold;
}

.ProductDetailsGrid dd {
    margin-left: 140px;
    margin-bottom: 6px;
}

.SubCategoryList {
    margin-bottom: 20px;
}

.SubCategoryList ul,
.SubCategoryList li {
    margin-left: 0;
}

/*# MOBILE SUBCAT MENU #*/
.SubCategoryList.mobile {
    color: #999;
    display: none;
}
.SubCategoryList.mobile * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.SubCategoryList.mobile .selector {
    height: auto;
    width: 100%;
}
.SubCategoryList.mobile span {
    height: auto
}

.SearchTips .Examples {
    padding: 8px;
    color: #555;
    margin-left: 30px;
    margin-bottom: 10px;
}

.ProductDetails .ProductThumb p {
    margin-top: 10px;
    font-size: 0.9em;
}

.ProductReviewList {
    clear: both;
}

.ProductReviewList li {
    margin-bottom: 20px;
}

.ProductReviewList li:last-child {
    border: 0;
}

.ReviewTitle img {
    margin-left: 10px;
}

.SoldOut {
    color: #999;
}

.AddToWishlistLink {
    position: relative;
    margin: 0;
}

.AddToWishlistLink .wishlist-button {
    position: absolute;
    top: -70px;
    left: 165px;
    font-weight: bold;
    cursor: pointer;
    color: @primary-color;
    background: #fff;
    border: 0;
}

/* sizing and positioning of the inside part of a swatch */

.productOptionPickListSwatch .thumbnail,
.productOptionPickListSwatch .swatchColour {
    display: inline-block;
    width: 30px !important;
    height: 30px !important;
}

.productOptionPickListSwatch ul {
    margin-bottom: 20px;
}

.productOptionPickListSwatch li .validation {
    top: 5px;
    left: 5px;
}

.productOptionPickListSwatch .textureContainer,
.productOptionPickListSwatch .swatchColours {
    display: inline-block !important;
    margin: 0 !important;
    padding: 2px !important;
}

.productAttributeValue {
    clear: both;
}

.ShippingProviderList li {
    list-style: none;
    margin: 0 0 10px 0;
}

.PayPalExpressCheckout p,
.AlternativeCheckout p {
    margin: 0;
    float: none !important;
}

/** Top Right Locale Chooser (list of flags) **/

.TopMenu li.Flag div {
    border: 0;
}

.TopMenu li.Flag img {
    margin: 3px;
}

.TopMenu li.Flag img.Last {
    margin-right: 0px;
}

.TopMenu li.Flag img.Selected {
    margin: 1px 3px;
}

/** Currency Selector **/

.CurrencyList dl {
    margin: 0;
    padding: 0;
}

.CurrencyList dd {
    margin: 0px;
    background-color: #F9F9F9;
    clear: both;
}

.CurrencyList a {
    display: block;
    padding: 5px 10px;
    font-size: 11px;
}

.selected-currency .Flag,
.CurrencyList a .Flag {
    float: left;
    margin-top: 1px;
}

.CurrencyList a .Text {
    display: block;
    padding-left: 16px;
}

.currency-converter {
    cursor: pointer;
    position: relative;
    text-align: left;
    z-index: 60;
}

.currency-converter:hover .CurrencyChooser {
    display: block;
}

.currency-converter p {
    color: #b3b3b3;
    font-size: 11px;
    margin: 0;
}
    .currency-converter p img {
        margin-left: 5px;
        position: relative;
        top: 1px
    }

.CurrencyChooser {
    display: none;
    position: absolute;
    float: left;
    right: 0;
    top: 100%;
    padding: 15px;
    background: #ffffff;
    min-width: 150px;
}

.CurrencyChooser h2 {
    font-size: 13px;
    font-weight:normal;
    padding: 0 0 10px 0;
}

.CurrencyChooser a span {
    font-size: 11px;
    line-height: 22px;
}

.CurrencyList a .Text {
    padding-left: 27px;
}

.selected-currency {
    cursor: pointer;
    padding: 10px 20px 10px 9px !important;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon_arrow_down.png) no-repeat 95% center;
}
    .TopMenu .selected-currency {
        display: none;
    }

.selected-currency span {
    font-size: 11px;
}

.CurrencyChooser .BlockContent {
    position: relative;
    margin-top: -1px;
}

.CurrencyChooser .BlockContent .CurrencyList {
    display: block;
}

.PrimaryProductDetails .YouSave {
    font-weight: bold;
    margin-top: 3px;
    display: block;
}

/* Shipping Estimation on Cart Contents Page */

.EstimateShipping {
    padding: 20px !important;
}

.EstimateShipping dt {
    width: 100px;
    float: left;
    margin-bottom: 8px;
    clear: left;
}

.EstimateShipping dd {
    margin-bottom: 8px;
    font-weight: normal;
    margin-left: 114px;
}

.EstimateShipping p.Submit {
    margin: 20px 0 0 0;
}

.EstimateShipping label {
    display: block;
    margin-bottom: 5px;
}

.EstimatedShippingMethods {
    clear: both;
    padding: 20px 0 0 0 !important;
    text-align: left;
}

.EstimatedShippingMethods table {
    margin: 0 !important;
}

.ShippingMethodList {
    padding: 0 !important;
}

.EstimatedShippingMethods table {
    width: 100%;
    border-collapse: collapse;
}

.EstimatedShippingMethods .Submit {
    text-align: right;
}

.CartContents tfoot .SubTotal .EstimatedShippingMethods tbody td {
    text-align: left;
}

.CartContents tfoot .SubTotal .EstimatedShippingMethods tbody td.Price {
    text-align: right;
}

.SharePublicWishList {
    padding:5px;
}

/* Express Checkout */
.ExpressCheckoutBlock .ExpressCheckoutTitle {
    background-color: #fff;
    position: relative;
    margin: 0 0 20px 0;
    padding: 20px;
    cursor: auto;
    font-weight: bold;
    text-transform: uppercase;
}

.ExpressCheckoutBlock h3 a {
    font-size: 12px;
}

.ExpressCheckoutBlock .ExpressCheckoutCompletedContent {
    display: none;
}

.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent {
    display: inline;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    top: 0;
    padding: 22px;
    white-space: nowrap;
    text-transform: none;
    color: #bebebe;
}

.ExpressCheckoutBlockCollapsed .ExpressCheckoutContent {
    display: none;
}

a.ChangeLink {
    position: absolute;
    right: 15px;
}

.ExpressCheckoutBlock a.ChangeLink {
    display: none;
}

.ExpressCheckoutBlockCompleted a.ChangeLink {
    display: inline;
    top: auto;
    right: 20px;
}

.ExpressCheckoutCompletedContent {
    position: absolute;
    left: 350px;
}

.LoadingIndicator {
    margin-left: 10px;
}

.LoadingIndicator img {
    vertical-align: middle;
    margin-right: 10px;
}

.HeaderLiveChat img {
    vertical-align: middle;
}

.SubCategoryListGrid {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
}

.SubCategoryListGrid ul,
.SubCategoryListGrid li {
    list-style: none;
    margin: 0;
}

.SubCategoryListGrid .sub-cat-name {
    display: block;
}

.SubCategoryListGrid > ul li {
    display: inline-block;
    margin: 0 20px 20px 0;
    vertical-align: bottom;
    text-align: center;
    width: 150px;
}

.SubCategoryListGrid > ul li img {
    max-width: 100%
}

.SubCategoryListGrid ol {
    clear: both;
}

.SubBrandList ul,
.SubBrandList li {
    list-style: none;
    margin-left: 0;
}

.SubBrandList li {
    margin-bottom: 4px;
    padding-left: 25px;
    background: url('//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/SubBrand.gif') no-repeat 3px 50%;
}

.SubBrandListGrid ul,
.SubBrandListGrid li {
    list-style: none;
    margin-left: 0;
}

.SubBrandListGrid li {
    margin-bottom: 0;
    width: 33.333%;
    background: #fff;
    float: left;
    text-align: center;
}

.SubBrandListGrid .brand-img,
.SubBrandListGrid .brand-name {
    float: none;
    display: block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.SubBrandListGrid ol {
    clear: both;
}

.ProductAddToCart dt {
    float: left;
    font-weight: bold;
    width: 140px;
    margin-bottom: 4px;
}

.ProductAddToCart dd {
    margin-left: 140px;
    margin-bottom: 4px;
}

.ProductAddToCart.cannot-purchase .add-to-cart {
    display: none;
}

.ProductAddToCart dt div.Required,
#CartEditProductFieldsForm dt div.Required {
    width: 8px;
}

.ProductAddToCart textarea,
#CartEditProductFieldsForm textarea {
    width:183px;
    height: 50px;
}

.CartContents .CartProductFieldsLink {
    font-size: 11px;
    color: #666;
    margin-top: 6px;
    padding-left: 22px;
    background: url('//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/GiftWrappingAvailable.png') no-repeat;
    padding-bottom: 4px;
}

.ProductFields dd {
    margin-bottom: 4px;
}

.ProductFields {
    margin-bottom: 15px;
}

.ProductFields input.Textbox {
    width:100%;
}

.ProductFields TextArea {
    width:100%;
}

.CartContents .CartProductFieldsRow {
    border-top: 0;
}

.CartContents .CartProductFieldsRow dl {
    margin-top:15px;
}

p.QuantityInput,
p.AddCartButton {
    text-align: center;
}

.ProductAddToCart dt.QuantityInput {
    margin-top: 4px;
}

.ProductAddToCart dd.AddCartButton span {
    margin-top: 4px;
    padding-right: 5px;
}

.TagList {
    margin-top: 20px;
}

.CartThumb {
    text-align: center;
    width: 1px;
}

.WrappingOptions {
    font-size: 11px;
    color: #666;
    margin-top: 6px;
    padding-left: 22px;
    background: url('//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/GiftWrappingAvailable.png') no-repeat;
    padding-bottom: 4px;
    line-height: 1.6;
}

.ViewAllLink a {
    padding-top: 10px;
    display: block;
}

.SelectGiftWrapMultiple {
    /*max-height: 400px;*/
}

/* Tabbed Navigation */

.TabNav,
.TabNav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.TabNav {
    font-size: 12px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.TabNav li {
    margin-bottom: -1px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.TabNav li a {
    display: block;
    line-height: 41px;
    padding:0  16px;
    height: 41px;
    font-weight: 600;
    font-size: 14px;
    background: #f9f9f9;
    margin: 0 4px;
    color: #a1a1a1;
}

.TabNav li.Active a {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.ProductAddToCart dd.AddCartButton div.BulkDiscount {
    display: inline-block;
    float:left;
}

.ProductAddToCart .BulkDiscount {
    clear: both;
}

.ProductAddToCart .BulkDiscount input {
    margin-right: 10px;
}

.TransitTime {
    font-weight: normal;
    color: gray;
}

.ContentList   {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    list-style-image: none;
}

.ContentList li {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 10px 0;
    border-top: 0;
}

.OrderItemMessage {
    padding:7px;
    margin:10px 0px 10px 0px;
}

/* Custom Fields - Start */

.LittleNotePassword {
    color:gray;
    font-size: 0.85em;
    font-weight: normal;
    padding:2px 0px 2px 200px;
}

.RequiredClear {
    visibility: hidden;
}

/* Custom Fields - End */

/* Product Details Price */

.ProductOptionList ul,
.ProductOptionList li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ProductOptionList li {
    margin-bottom: 3px;
}

.ProductOptionList input {
    vertical-align: middle;
}

/** Search All Form Result - Start **/

.SearchPaging {
    float: right;
    font-size: 0.95em;
}

.SearchSorting {
    float: right;
    font-size: 0.95em;
    margin: 8px 0px;
}

#SearchResultsCategoryAndBrand {
    margin: 20px 0;
}

.ContentList em,
.QuickSearchResultMeta em {
    font-size: 0.8em;
}

/** Search All Form Result - End **/

/** AJAX loading box - Start **/

#AjaxLoading {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding: 10px 20px;
    display: none;
    position: fixed;
    text-align: center;
    z-index: 10000000000;
    line-height: 32px;
    left: 0;
    right: 0;
}

#AjaxLoading img {
    vertical-align: bottom;
    margin-right: 5px;
}

/** AJAX loading box - End **/

/** Product image gallery **/

#ProductDetails #ImageScrollPrev,
#ProductDetails #ImageScrollNext {
    float: left;
    background:none;
    border:none;
    margin-top:16px;
    cursor:pointer;
    display: none;
}

.ProductTinyImageList img:hover {
    cursor: pointer;
}

.ProductTinyImageList ul li div {
    display: table-cell;
    text-align: center;
    border: none 0 !important;
}

#ProductDetails .ProductTinyImageList ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.carousel {
    position: relative;
    visibility: hidden;
    left: -5000px;
    width: 180px;
}

/***** Product Attribute List *****/

/* set up the row for css table-like alignment */

#QuickViewProductDetails .required,
#QuickViewProductDetails .Required,
.ProductMain .Required,
.required {
    color: #be0303 !important;
    display: block;
    left: -12px;
    position: absolute;
    top: 0;
    font-weight: bold;
}

.ProductMain table.ExpectedReleaseDate {
    margin-top: 0;
}

/* position the label in the left-padding area of the row */

.productAttributeList .productAttributeLabel {
    margin: 0 !important;
    float: none !important;
    width: auto !important;
    padding-top: 0 !important;
}

.productAttributeList .productAttributeLabel label {
    display: block;
    margin-bottom: 10px !important;
    position: relative;
}

/* Below is required to overwrite __Master defaults */
.productAttributeList .productAttributeRow, .productAttributeRow {
    padding-left: 0 !important;
    margin: 0 0 10px 0 !important;
    clear: both;
}

.productAttributeList li {
    margin-bottom: 10px;
}

.productAttributeList ul.list-horizontal {
    margin: 0;
}

.productOptionViewProductPickListWithImage {
    border-color: #ddd !important;
    margin-bottom: 20px;
}

.productOptionViewProductPickListWithImage .scrollContainer {
    max-height: 250px !important;
}

.productOptionViewProductPickListWithImage td {
    padding: 10px 5px !important;
    vertical-align: middle !important;
}

.productOptionViewRectangle .option label {
    background-color: #fff;
    padding: 10px !important;
    min-width: 30px;
    text-align: center;
}

#tabcontent {
    border-radius: 0;
}

#tabcontent .photo {
    margin-right: 20px;
    float: left;
    width: 200px;
}

#tabcontent .photo img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

#tabcontent #url {
    margin-bottom: 20px;
}

ul.tabs li {
    border-radius: 0;
}

/* Product Videos */

.previewImageContainer {
    height: 30px;
    width: 50px;
}

.videoRow img {
    float: left;
    padding-right: 5px;
}

.videoRowTitle {
    font-weight: bold;
}

.videoRowDescription {
    max-height: 50px;
    overflow:hidden;
}

.VideoOverlay {
    background-image: url('//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/VideoOverlay.png');
    background-position: center center;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
}

.VideoContentContainer {
    position: relative;
    margin-left: 3px;
    padding-left: 92px;
}

/** If you change the width of the .VideoPreviewSize class below, change the padding-left of the .VideoContentContainer class above **/

.VideoPreviewSize {
    width: 92px;
    height: 69px;
}

.videoRowLength {
    padding-left: 4px;
}

.videoRow,
.videoRowTitle,
.videoRow img,
.videoRowLength {
    cursor: pointer;
}

#VideoList ul {
    position: relative;
    overflow-y: auto;
    padding:0;
    margin: 0;
    width: 240px;
    height: 265px;
}

.VideoSingleTitle {
    font-weight: bold;
}

.VideoSingleDescription {
    margin-bottom: 20px;
}

.Left #VideoMiddleContainer,
.Right #VideoMiddleContainer {
    display: none;
}

.Content #VideoSideContainer {
    display: none;
}

#VideoSideContainer ul {
    text-align: center;
}

#VideoSideContainer ul li {
    margin-bottom: 5px;
}

.VideoSideDescription {
    padding: 2px 10px;
}

.VideoImageContainer {
    position: relative;
    float: left;
}


.ToggleSearchFormLink {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.Panel#ProductTabs {
    padding-top: 0px;
}

.PinterestButtonContainer {
    margin: 10px 0;
    text-align: center;
}

/* Accordion for product page
....................................................................... */

#prodAccordion .Block {
    padding: 0 !important;
    margin: 0 !important;
}

.prodAccordionContent {
    display: block;
}

.current .prodAccordionContent {
    display: block;
}

/* Account Menu (horizontal)
....................................................................... */

#SideAccountMenu li,
#GiftCertificatesMenu li {
    list-style: none;
    line-height: 1.2em;
    padding: 0 0 10px 0;
    margin: 0;
}

/* Footer Menu
....................................................................... */

.PageMenu {
    position: relative;
    margin: 0 0 10px 0;
    z-index: 50;
}

.PageMenu h3 {
    display: none;
}

.PageMenu .borderR {
    border-right: 0;
}

.PageMenu ul {
    border-bottom: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
}

.PageMenu li .icon {
    display: none !important;
}

.PageMenu .back {
    float: left;
    width: 13px;
    height: 8px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: -5px;
    padding: 0;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/nav_active.png) no-repeat center top;
}

.PageMenu li ul:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    margin-left: 10px;
    top: -18px;
    border-width: 10px;
    border-style: solid outset solid solid;
}

.footer .PageMenu li ul:before {
    top: auto;
    bottom: -18px;
    border-color: #333 transparent transparent transparent;
}

.PageMenu li ul ul:before {
    content: none;
    border-color: 0 none;
}

.PageMenu li ul li{
    clear: both;
    display: block;
    float: none;
    font-size: 13px;
    margin: 0;
    padding: 0 1em;
    text-align: left;
    width: auto;
}

.PageMenu li ul li a {
    float: none;
    width: auto;
    margin: 0;
    display: block !important;
    line-height: 3em;
    font-size: 13px;
    text-align: left;
    font-weight: normal;
    text-transform: none;
}

.PageMenu li ul li a:hover {
    color: #fff;
}

.PageMenu li ul {
    display:none;
    position: absolute;
    z-index: 10;
    top: 100% !important;
    width: 250px;
    left: 0;
    list-style-image: none;
}

.footer .PageMenu li ul {
    top: auto !important;
    bottom: 25px;
}

.sf-sub-indicator {
    display:none !important;
}

.PageMenu li.sfHover ul {
    display:block;
}

.PageMenu .sf-menu li {
    float: none;
}

.PageMenu .sf-menu li ul {
    z-index:150 !important;
}

.PageMenu .sf-menu li ul li {
    z-index:200 !important;
}

.Left #SideCategoryList .sf-menu ul {
    display: block !important;
    visibility: visible !important;
    position: static;
    top: 0;
}

.Left #SideCategoryList .SideCategoryListFlyout .sf-shadow ul,
.Right #SideCategoryList .SideCategoryListFlyout .sf-shadow ul {
    background: none !important;
}

.PageMenu li ul li {
    list-style-image: none;
}

.PageMenu li ul ul {
    display: none;
    left: 100% !important;
    margin-left: 0;
    top: 0px !important;
}

.PageMenu li {
    position: relative;
    /*z-index: 1;*/
    padding: 20px 0 16px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 20px 0 0;
}

.PageMenu li ul li a.hasSub {
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/sub.png) 100% 50% no-repeat;
    padding-right: 20px;
}

.inner .Block {
    display: block;
    clear: both;
}

.FeaturedProducts,
.NewProducts,
.TopSellers{
    margin-bottom: 20px;
}

table.General,
table.CartContent,
table.CartContents {
    border-collapse: collapse;
}

.CartContents tfoot .SubTotal td {
    padding-bottom: 25px;
    padding: 0;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.BlockContent .CartThumb img {
    max-width: 100px;
    height: auto;
}

#SharingDataWrapper {
    height: auto;
}

#SharingDataChoices {
    float: none;
}

#SharingDataChoices li {
    width: auto;
    height: auto;
}

.EstimateShippingButtons {
    text-align: right;
}

.EstimateShippingButtons input {
    margin-bottom: 20px;
}

#uniform-sel_billing_address {
    width: auto;
    margin-bottom: 10px;
}

.left-content {
    float: left;
    width: 50%;
}

.left-content .ProductList li {
    width: 20%;
    padding: 0 0 10px 10px;
}

.left-content .ProductList {
    margin: 0 0 10px -10px;
}

.left-content .ProductList .ProductImage a {
    height: 100px;
}

.left-content .ProductList .ProductDetails {
    font-size: 12px;
    margin: 0;
    padding: 10px 10px 0 0;
    word-wrap: break-word;
}

.left-content .ProductList .ProductDetails .pname {
    border: solid 0px;
    font-size: 12px;
    line-height: 17px;
}

.left-content .ProductList .ProductPriceRating {
    display: none;
}

.left-content .ProductList em.p-price {
    font-size: 12px;
    padding-left: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
}

#recaptcha_area {
    max-width: 100%;
    margin-right: auto;
}

.PagingList .icon {
    display: none;
}

.SortBox div.selector,
.SearchSortingSelectContainer div.selector {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.SortBox div.selector span,
.SearchSortingSelectContainer div.selector span {
    height: 35px;
    line-height: 35px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

ul.AccountOrdersList {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    list-style-image: none;
}

.AccountOrderStatusList li {
    position: relative;
    list-style-image: none;
}

#LayoutColumn1 .h3tt {
    display: none;
}

#LayoutColumn2 .multiStep {
    display: none;
}

.banner_category_page_top {
    position: relative;
}

.banner_category_page_top h2 {
    font-weight: normal !important;
    line-height: 1.25 !important;
    position: relative;
    clear: both;
    color: #312E29 !important;
    display: block;
    font-size: 34px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    bottom: 75px;
    left: 50px;
    position: absolute;
}

.CartContents tfoot .gtotal.SubTotal td {
    font-size: 17px;
    text-transform: uppercase;
}

.HowToPay,
.NotifyMessage {
    margin: 0 0 15px 0;
    background: none repeat scroll 0 0 #fff;
    padding: 20px;
    border-radius: 0;
}

.HowToPay p {
    margin: 0;
    padding: 0;
}

.OrderItem1 .selector,
.OrderItem2 .selector {
    width: 75px;
}

.BlockContent img {
    max-width: 100%;
    height: auto;
}

/* recapcha */

.recaptchatable .recaptcha_image_cell center {
    height: auto !important;
}

.recaptchatable .recaptcha_image_cell center img {
    height: auto !important;
    max-width: 238px !important;
}

.recaptchatable #recaptcha_response_field {
    width: 220px !important;
}

.recaptchatable #recaptcha_image {
    height: auto !important;
    width: auto !important;
}

.recaptchatable .recaptcha_image_cell {
    width: 240px !important;
}

.recaptchatable #recaptcha_response_field {
    width: 220px !important;
}

#recaptcha_reload_btn {
    display: block;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/recapRefresh.png) 0 0 no-repeat !important;
}

#recaptcha_reload_btn img {
    visibility: hidden;
}

#recaptcha_switch_audio_btn {
    display: block;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/recapAudio.png) 0 0 no-repeat !important;
}
#recaptcha_switch_audio_btn img {
    visibility: hidden;
}

#recaptcha_whatsthis_btn {
    display: block;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/recapHelp.png) 0 0 no-repeat !important;
}

#recaptcha_whatsthis_btn img {
visibility: hidden;isibility: hidden;
}

.zoomWindow {
    left: 0 !important;
    top: -1px !important;
}
.zoomWrapper {
    position: relative;
    z-index: 110;
}

#PageMenu {
    position: relative;
    z-index: 10;
}

/* fancybox */

#fancy_bg {
    display: none !important;
}

#fancy_content {
    padding-top: 0 !important;
}

#fancy_close {
    background: url("//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon-close.png") no-repeat scroll 0 0 transparent !important;
    height: 11px !important;
    top: 10px !important;
    right: 10px !important;
    text-indent: 999px;
    width: 12px !important;
}

.PageMenu h4 {
    display: none !important;
}

#ModalOverlay {
    background: #000 !important;
    opacity: 0.7 !important;
}

#ModalContentContainer {
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background: #fff;

}

#ModalContent,
.ModalContent {
    padding: 20px !important;
    border: none!important;
    font-size: inherit;
}

#ModalContent:after,
.ModalContent:after {
    content: "";
    display: table;
    clear: both;
}

#ModalButtonRow, .ModalButtonRow {
    background: none !important;
    border: none !important;
    padding: 15px !important;
    height: auto !important;
}

#ModalContainer .modalClose {
    top: 10px !important;
    right: 11px !important;
    padding-right: 0 !important;
}

.ModalButtonRow input {
    font-weight: normal !important;
}

.AddBillingAddress dt,
.AddShippingAddress dt {
    clear: none;
}

.AddBillingAddress dd,
.AddShippingAddress dd {
    margin: 0;
    padding: 0 0 20px 15px !important;
    float: left;
    width: 240px;
    min-height: 40px;
}

.Content .Button,
.form .Button {
    display: inline-block;
}

.QuickSearch tbody tr {
    display: block;
    padding: 10px;
}

.QuickSearch tbody tr td {
    border: none;
    vertical-align: text-top;
}

.QuickSearch tbody tr.QuickSearchResult:hover {
    background-color: #ededed;
}

.QuickSearchResult .QuickSearchResultImage {
    width: 70px;
    height: 65px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

/* inner */

.inner #CategoryPagingTop,
.inner #CategoryPagingBottom {
    float: left;
    width: auto;
    clear: none;
}

.inner #CategoryPagingTop {
    padding-left: 20px;
}

.PagingList {
    float: left;
}

.CategoryPagination .PagingList li {
    padding: 0 5px;
}

.CategoryPagination .PagingList a {
    color: #b4b4b4;
}

.CategoryPagination .PagingList a:hover {
    color: #312E29 ;
}

.inner #CategoryHeading {
    float: none;
    width: auto;
    clear: none;
}

.SortBox,
.SearchSorting {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.SortBox label,
.SearchSorting label {
    float: left;
    font-size: 12px;
    padding: 10px 10px 0 0;
}

.SortBox div.selector,
.SearchSorting div.selector {
    float: right;
    line-height: 35px;
    min-height: 35px !important;
    padding: 0;
    font-size: 12px;
}

div.selector select {
    font-size: 12px;
}

#uniform-revrating {
    width: 200px !important;
}

.SortBox div.selector span,
.SearchSorting div.selector span {
    background: #ffffff;
    margin-right: 23px;
    line-height: 35px;
    height: 35px;
    padding-right: 10px;
}

.FormContainer .box {
    display: block;
    clear: both;
    width: 100%;
    float: left;
    padding: 20px 0 40px 0;
}

.FormContainer .box dt {
    width: 232px;
}

.HorizontalFormContainer dt {
    text-align: right;
}

.HorizontalFormContainer dt,
.HorizontalFormContainer dd {
    line-height: 36px;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
}

.HorizontalFormContainer dd .selector span {
    font-weight: normal;
    font-size: 13px;
}

.HorizontalFormContainer dt p,
.HorizontalFormContainer dd p {
    font-weight: normal;
}

.HorizontalFormContainer dd {
    padding: 0 0 20px 0;
}

.HorizontalFormContainer p.Submit {
    padding-top:20px;
}

#ProductReviews .form dt,
#ProductReviews .form dd {
    float: left;
    clear: both;
    width: 100%;
    padding: 5px 0 0 0;
    text-align: left;
}

#ProductReviews .form dd {
    padding-bottom: 15px;
}

#ProductReviews .btn {
    margin-bottom: 20px;
}
#ProductReviews p.Submit {
    margin-bottom: 0;
}

#message_content {
    height: 240px;
}

.UtilityLinks {
    float: left;
    width: 100%;
    clear: both;
    margin: 20px 0 5px 0;
}

ul.ShippingAddressList h4 {
    display: block;
    clear: both;
    padding-bottom: 8px;
}

table thead tr th,
table.General thead tr th,
table.CartContents thead tr th,
table tbody tr td,
table.General tbody tr td,
table.CartContents tbody tr td {
    padding: 20px 10px;
}

table tbody tr td,
table.General tbody tr td,
table,
table.General,
table.CartContents {
    margin: 20px 0;
}

/* Checkout */

a.ChangeLink {
    top: 12px;
    right: 10px;
}

.ExpressCheckoutContent {
    padding: 0 0 20px 20px;
}

.ExpressCheckoutContent .CreateAccount,
.ExpressCheckoutContent .AccountLogin {
    float: left;
    width: 46%;
}

.ExpressCheckoutContent .CreateAccount {
    padding-right: 2%;
}

.ExpressCheckoutContent .AccountLogin {
    padding-left: 2%;
}

.ExpressCheckoutContent .AccountLogin dd {
    float: none;
}

.ExpressCheckoutContent .CreateAccount .HorizontalFormContainer dt,
.ExpressCheckoutContent .AccountLogin .HorizontalFormContainer dt {
    text-align: left;
    padding-bottom: 0;
    clear: none;
    float: none;
    width: auto;
}

.ExpressCheckoutContent .CreateAccount .HorizontalFormContainer dd,
.ExpressCheckoutContent .AccountLogin .HorizontalFormContainer dd {
    padding-bottom: 0;
    margin-left: 0;
}

#CheckoutStepConfirmation .SubTotal td strong,
#CheckoutStepConfirmation .SubTotal td em {
    display: block;
    padding-top: 0;
}

#CheckoutStepConfirmation .SubTotal .Block {
    margin-bottom: 0;
}

#CheckoutStepConfirmation .SubTotal.st td {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.AccountMessageList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.AccountMessageList li {
    padding: 0 0 20px 0;
    margin: 0;
    border-bottom: 1px solid #d6d6d6;
}

.AccountMessageList .by {
    position: relative;
    display: block;
    padding: 0 0 0 25px;
}

.AccountMessageList .by img {
    position: absolute;
    left: 0;
    top: 2px;
}

.AccountMessageList blockquote {
    margin-left: 0;
    padding-top: 5px;
}

.AccountOrderStatusList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Meta {
    font-size: 12px;
}

.OrderItemList {
    margin: 10px 60px;
}

.AccountOrderStatusList li {
    position: relative;
}

.li-list {
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
}

.AccountOrderStatusList .box1 {
    padding: 0 10px 0 20px;
}

.btns {
    position: absolute;
    right: 0;
    top: 10px;
    float: left;
    z-index: 2;
    color: #5e5c5c;
    font-size: 13px;
    line-height: 28px;
    font-weight: normal;
}

.btns form {
    display: inline;
    float: right;
}

.btns span.FloatRight {
    padding: 0 5px;
}

.btns .btn-clear {
    float: left;
    clear: none;
}

.bg-gray {
    float: left;
    padding: 20px;
    width: 90%;
    background: #ededed;
    display: block;
    margin-bottom: 20px;
}

.ShippingMethodList table {
    clear: both;
    padding-top: 20px;
    width: 100%;
}

.ShippingMethodList table td {
    padding: 15px 10px 10px 10px!important;
}

/* override invalid width set by uniform jq-plugin on firefox */
.CartItemQuantity .selector,
.DetailRow.qty .selector {
    width: 75px !important;
}

.CartItemQuantity div.selector span,
.DetailRow.qty .selector span {
    margin: 0px 0 0 0;
    line-height: 20px;
    height: 20px;
}

.CartRemoveLink {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon_sprite.png) no-repeat -46px -46px;
}

.SubTotal td {
    padding: 20px 0 0 0;
}

.ProceedToCheckout,
.KeepShopping {
    text-align: right;
}

.ProceedToCheckout .PayPalExpressCheckout p, .ProceedToCheckout .AmazonPaymentsCheckout p {
    margin-bottom: 20px; display:none;
}

.ProceedToCheckout .FloatRight,
.ProceedToCheckout .FloatLeft {
    float: none !important;
}

.ProceedToCheckout.btm {
    padding: 0 20px 30px 20px;
}

.ProceedToCheckout .CheckoutButton {
    padding-bottom: 20px;
}

.boxin {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #6a6a6a;
}

.boxin .mtop {
    margin-top: 20px;
}

.GiftCertificateThemeList label {
    float: left;
    clear: both;
}

#ProductDetails .ProductTinyImageList ul li {
    background-color: #fff;
    border: 0 none !important;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
    list-style-image: none;
}

#ProductDetails .ProductTinyImageList ul li a {
    display: block;
    padding: 0 !important;
}

#ProductDetails .ProductTinyImageList {
    white-space: nowrap;
    overflow: hidden;
    float:left;
}

.ImageCarouselBox {
    margin-bottom: 10px;
}

.productOptionPickListSwatch ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#ProductDetails #ImageScrollPrev,
#ProductDetails #ImageScrollNext {
    margin-top: 35px;
}

.ProductDetailsGrid .DetailRow, .ProductDetailsGrid .s-price {
    margin-bottom: 20px;
}

.ProductDetailsGrid .DetailRow .BrandName {
    padding: 0;
}

.ProductDetailsGrid .DetailRow.nop {
    padding: 0;
}

.ProductDetailsGrid .DetailRow.product-rating {
    padding: 20px 0;
}

.ProductDetailsGrid .Label,
.ProductAddToCart .productAttributeLabel {
    font-weight: bold;
    margin: 0 0 10px 0;
    line-height: 20px;
    text-align: left !important;
    position: relative;
}

.ProductDetailsGrid .s-price .YouSave {
    font-weight: 300;
    margin: 0 0 10px 0;
}

.ProductDetailsGrid .DetailRow.RetailPrice {
    width: auto;
    overflow: hidden;
}

.DetailRow.RetailPrice .Label {
    margin: 0 10px 0 0;
}

.OutOfStockMessage {
    display: none;
    padding: 0;
}

.OutOfStockMessage p {
    padding-left: 25px;
}

.OutOfStockMessage .CurrentlySoldOut {
    position: relative;
}

.icon-outofstock {
    position: absolute;
    float: left;
    width: 14px;
    height: 14px;
    left: 0;
    top: 3px;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon-outofstock.png) no-repeat 0 0;
}

#prodAccordion {
    padding-bottom: 30px;
}

#prodAccordion .current .subtitle {
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon_arrow_down.png) no-repeat right center !important;
}

#prodAccordion .subtitle {
    margin: 15px 0 !important;
    border: solid 0px !important;
    font-size: 16px !important;
    padding: 0 30px 0 0 !important;
    float: none;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon_arrow_left.png) no-repeat right center !important;
    cursor: pointer;
}

.prodAccordionContent {
    border-top: 0px solid #EAEAEA;
}

#SimilarProductsByCustomerViews .btn {
    display: none;
}

#fastCartContainer .ProductList {
    margin: 0 10px 0 -20px;
}

#fastCartContainer .ProductList li,
#home #fastCartContainer .ProductList li {
    height: auto !important;
    margin: 0;
    padding: 0 0 0 20px;
    width: 25%;
}

#fastCartContainer .ProductList li .ProductPriceRating {
    margin-top: 0;
}

.fastCartThumb,
.fastCartItemBox,
.fastCartSummaryBox {
    width: 33.333333%;
    max-width: none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fastCartThumb {
    text-align: center;
}

.fastCartItemBox {
    margin-left: 0;
    padding: 0 20px;
}

.fastCartSummaryBox {
    padding: 20px;
    text-align: center;
}

.fastCartSummaryBox .ProceedToCheckout {
    margin: 0 0 20px 0;
}

.fastCartSummaryBox .ProceedToCheckout a {
    display: block;
}

.fastCartSummaryBox .subtotal {
    /* These are overrides for __Master */
    clear: none;
    font-size: inherit;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.fastCartSummaryBox .subtotal .ProductPrice {
    font-size: 40px;
    word-wrap: break-word;
}

.fastCartSummaryBox .actionLink {
    margin: 0 0 20px 0;
}

.fastCartSummaryBox .actionLink {
    line-height: 1.5em;
}

.fastCartSummaryBox .actionLink .btn {
    display: block;
}

.fastCartSummaryBox .PayPalExpressCheckout, .fastCartSummaryBox .AmazonPaymentsCheckout {
    text-align: center;
    width: 100%;
}

.modalClose {
    float: left;
    width: 12px!important;
    height: 11px!important;
    text-indent: 999px;
    overflow: hidden;
    right: -10px!important;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon-close.png) no-repeat 0 0!important;
}

#ModalTitle,
.ModalTitle {
    display: none!important;
}

#ModalContainer {
    position: fixed;
    /* The below need importants because we can't stop edit imodal. May be able to replace with another modal popup and implement it better. */
    height: auto !important;
    left: 0 !important;
    margin: 0 auto !important;
    max-height: 95%;
    max-width: 920px !important;
    overflow-x: hidden;
    overflow-y: auto;
    right: 0 !important;
    top: 20px !important;
    width: 100% !important;
}

/* Footer */

.footer {
    text-align: left;
    overflow: hidden;
}

.footer-main li {
    float: left;
    width: 100%;
}

.footer-main .inner {
    padding: 40px 0;
}

.footer-main,
.footer-main .grid__item {
    font-size: 12px;
}

.subscribe_form ul {
    text-align: right;
}

.footer #SideCategoryList li ul,
.footer  #SideCategoryList .sf-menu li ul {
    display: none!important;
}

.footer .subtitle {
    display: none;
}

.footer ul,
.footer-links ul,
.footer #SideCategoryList ul {
    float: left;
    width: 100% !important;
    margin: 0;
    list-style: none;
}

.footer .footer-columns ul {
    margin-bottom: 20px;
}

.footer .footer-columns li {
    padding: 5px 0;
}

/*.footer #SideCategoryList li a,
.footer #SideCategoryList .sf-menu li a,
.footer .CategoryList .sf-menu li a {
    height: auto;
    font-size: inherit;
    font-weight: inherit;
    text-align: left;
    padding: 0 !important;
}*/

.footer-links ul {
    float: left;
    width: 100%;
    margin: 30px 0 0 0!important;
    padding: 15px 0!important;
    border-top: 1px solid #6a6a6a;
}

.footer-links .PageMenu {
    border: none;
}

.footer-links .PageMenu .icon {
    display: none;
}

.footer-links .PageMenu a {
    font-size: 12px;
}

.footer-links .PageMenu ul {
    float: left;
    margin-top: 0!important;
    padding-bottom: 15px!important;
    border-bottom: 1px solid #6a6a6a;
}

.footer-links .PageMenu ul ul {
    display: none!important;
}

.footer-links .PageMenu li {
    float: left;
    width: auto!important;
    margin: 0;
    padding: 0 8px!important;
    border-left: 1px solid #6a6a6a;
    text-transform: none!important;
}

.footer-links .PageMenu #Menu > ul > li > a {
    padding: 0;
}

.footer-links .PageMenu #Menu > ul > li > a:hover {
    border-bottom: 0 none;
}

.footer-links .PageMenu li:first-child {
    border-left: 0;
    padding-left: 0 !important;
}

.footer-links .PageMenu ul ul {
    display: none;
    width: 250px !important;
    top: 30px;
    left: 50%;
    margin-left: -125px !important;
}

.footer-links .PageMenu ul li.over ul {
    display: block !important;
}

.footer-links .PageMenu ul ul li {
    float: none;
}

.footer-links .PageMenu ul ul li a {
    padding: 5px 0 !important;
}

.footer-links .PageMenu li.First {
    border-left: none;
    padding-left: 0!important;
}

.footer-links .PageMenu > div {
    display: block;
}

.footer-links p {
    display: block;
    clear: both;
    padding: 20px 0;
    margin: 0;
    font-size: 11px;
}

.footer .powered-by {
    float: right;
}

.footer .powered-by a {
    background: url('//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/bc_logo_sprite.png') no-repeat;
    background-position: 0 -50px;
    height: 22px;
    width: 95px;
    text-indent: -9999px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-left: 7px;
}

.footer .powered-by a:hover {
    background-position: 0 -75px;
}

#VideoSideContainer {
    display: none;
}

#FeaturedVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#FeaturedVideo iframe,
#FeaturedVideo object,
#FeaturedVideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#VideoList {
    float: none;
    clear: both;
    padding: 0;
}

#VideoList ul {
    height: auto;
    width: auto;
}

#VideoList li {
    padding: 10px;
    height: 69px;
    margin: 0;
    border: solid #fff 0px;
}

.currentVideo {
    background-color: #fff;
    border: 0px;
}

.fullwidth{
    padding: 0 !important;
}

#ProductBreadcrumb ul.last {
    display: block;
}

.Message{
    padding: 20px;
}

.ccode label{
    float: left;
    width: 200px;
    padding: 0 20px;
    text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

#provider_list {
    line-height: 200%;
}

#ChooseShippingAddress, #ChooseBillingAddress {
    position: relative;
}

#ChooseBillingAddress label,
#ChooseShippingAddress label {
    display: block;
}

.SelectBillingAddress,
.SelectShippingAddress {
    margin-bottom: 20px;
}

#multiAddressForm div.selector {
    width: 450px;
}

.CartItemIndividualPrice  {
    text-align: right;
}

.productAttributes {
    margin: 15px 0;
    font-size: 11px;
}

.productAttributes label,
.productAttributes span {
    white-space: nowrap;
}

select.JSHidden {
    opacity: 0 !important;
    filter: ~"alpha(opacity = 0) !important";
}

#fastCartContainer {
    margin: 20px auto 0 auto;
}

.zoomWindow {
    width: 100%;
}

#uniform-eway_ccexpm, #uniform-eway_ccexpy,
#uniform-creditcard_ccexpm, #uniform-creditcard_ccexpy {
    width: 75px !important;
}

.CartCode {
    margin-bottom: 20px;
}

.CartCode > .CouponCode,
.CartCode .GiftCertificate {
    float: left;
    width: 50%;
}

.CartCode .GiftCertificate input.btn, .CartCode .CouponCode input.btn {
    min-width: 35px;
    padding: 0;
    text-align: center;
}

#uniform-EventDateMonth,
#uniform-EventDateDay,
#uniform-EventDateYear {
    width: auto !important;
}

/* Over writes of defaults */

.sf-menu a.sf-with-ul {
    min-width: 0 !important;
    padding-right: 0 !important;
}

.product-nav {
    margin-bottom: 20px;
}

.product-nav #CategoryPagingTop,
.product-nav #CategoryPagingBottom,
.product-nav .CategoryPagination {
    margin: 0;
    line-height: 35px;
}

.fastCartTop {
    padding: 0 10px 0 0;
}

.fastCartBottom {
    padding: 0;
}

.FormFieldLabel {
    margin-right: 5px;
}

.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m {
    padding: 0 2px;
    margin: 0 2px;
}

#ModalContent .btn, .ModalContent .btn,
#ModalContent .btn:hover, .ModalContent .btn:hover {
    color: #fff;
}

.SubBrandListGrid ul {
    padding: 0;
    margin: 0;
}

.SubBrandListGrid ul li {
    padding: 0;
}

#fastCartWrapper {
    padding: 0;
}

html.javascript .productOptionViewRectangle input,
html.javascript .productOptionPickListSwatch input {
    left: -10000px !important;
    opacity: 0 !important;
}

#WishLists {
    position: relative;
}

#sel_billing_address {
    margin-bottom: 20px;
}

/*For Uniform space between buttons and for reflecting this change at only in specified place*/
.addto #SideProductAddToWishList input{
    margin-right: 10px;
}


/* Utilities
-------------------------------------------------------------- */

/* Spacing */

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(10px),medium(20px),large(40px),none(0px)
*/

.ptn,.pvn,.pan{padding-top:0px !important}
.pts,.pvs,.pas{padding-top:10px !important}
.ptm,.pvm,.pam{padding-top:20px !important}
.ptl,.pvl,.pal{padding-top:40px !important}
.prn,.phn,.pan{padding-right:0px !important}
.prs,.phs,.pas{padding-right:10px !important}
.prm,.phm,.pam{padding-right:20px !important}
.prl,.phl,.pal{padding-right:40px !important}
.pbn,.pvn,.pan{padding-bottom:0px !important}
.pbs,.pvs,.pas{padding-bottom:10px !important}
.pbm,.pvm,.pam{padding-bottom:20px !important}
.pbl,.pvl,.pal{padding-bottom:40px !important}
.pln,.phn,.pan{padding-left:0px !important}
.pls,.phs,.pas{padding-left:10px !important}
.plm,.phm,.pam{padding-left:20px !important}
.pll,.phl,.pal{padding-left:40px !important}
.mtn,.mvn,.man{margin-top:0px !important}
.mts,.mvs,.mas{margin-top:10px !important}
.mtm,.mvm,.mam{margin-top:20px !important}
.mtl,.mvl,.mal{margin-top:40px !important}
.mrn,.mhn,.man{margin-right:0px !important}
.mrs,.mhs,.mas{margin-right:10px !important}
.mrm,.mhm,.mam{margin-right:20px !important}
.mrl,.mhl,.mal{margin-right:40px !important}
.mbn,.mvn,.man{margin-bottom:0px !important}
.mbs,.mvs,.mas{margin-bottom:10px !important}
.mbm,.mvm,.mam{margin-bottom:20px !important}
.mbl,.mvl,.mal{margin-bottom:40px !important}
.mln,.mhn,.man{margin-left:0px !important}
.mls,.mhs,.mas{margin-left:10px !important}
.mlm,.mhm,.mam{margin-left:20px !important}
.mll,.mhl,.mal{margin-left:40px !important}
.mra,.mha{margin-right:auto !important}
.mla,.mha{margin-left:auto !important}

/* Original helpers */

.MB10 {margin-bottom:10px;}
.MT0 {margin-top:0px;}
.LH140 {line-height:140%;}
.PLRB5 {padding:0px 5px 5px 5px;}
.PLR10 {padding:0px 10px 0px 10px;}
.PL20 {padding:0px 0px 0px 20px;}
.PL40 {padding:0px 0px 0px 40px;}
.ML20 {margin:0px 0px 0px 20px;}
.MT10 {margin-top:10px;}
.PL10 {padding-left:10px;}
.PB2 {padding-bottom:2px;}
.PTB20 {padding: 20px 0;}
.NoMarginBottom {margin-bottom: 0;}
.HideElement {display: none;}

.FloatRight {
    float: right;
}

.FloatLeft {
    float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.txtC {
    text-align: center;
}

.txtL {
    text-align: left;
}

.txtR {
    text-align: right;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* =Plugins
-------------------------------------------------------------- */

/* ----- UniForm ----- */

div.selector,
div.selector span,
div.checker span,
div.radio span,
div.button,
div.button span {
    background-image: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon_sprite.png);
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}

.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button * {
    margin: 0;
    padding: 0;
}

/* INPUT &amp; TEXTAREA */
input.text,
input.email,
input.password,
textarea.uniform {
    color: #444440;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    padding: 3px;
    border-top: solid 1px #aaa;
    border-left: solid 1px #aaa;
    border-bottom: solid 1px #d6d6d6;
    border-right: solid 1px #d6d6d6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}

input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-color: #999;
}

/* SPRITES */
/* Select */

div.selector,
div.selector span {
    line-height: 25px;
    height: 25px;
}

div.selector select {
    /* change these to adjust positioning of select element */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Checkbox */
div.checker {
    height: 18px;
    width: 18px;
}

div.checker input {
    height: 18px;
    width: 18px;
}

div.checker span {
background-position: 1px -54px;
height: 18px;
width: 18px;
}

div.checker span.checked,
div.checker:active span.checked,
div.checker.active span.checked,
div.checker.focus span.checked,
div.checker:hover span.checked {
    background-position: -22px -54px;
}

/* Radio */
div.radio {
    width: 18px;
    height: 18px;
    background: none;
}

div.radio input {
    width: 18px;
    height: 18px;
}

div.radio span {
    height: 18px;
    width: 18px;
    background-position: 0px -80px;
}

div.radio span.checked,
div.radio:active span.checked,
div.radio.active span.checked,
div.radio.focus span.checked,
div.radio:hover span.checked {
    background-position: -21px -80px;
}

/* Uploader */
div.uploader {
    background-color: #fff;
    height: 35px;
    position: relative;
    overflow: hidden;
    width: 300px;
}

div.uploader span.action {
    background-color: #fff;
    height: 35px;
    line-height: 35px;
    float: right;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
}

div.uploader span.filename {
    height: 37px;
    line-height: 37px;
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    padding-left: 10px;
}

div.uploader input {
    opacity: 0;
    filter: ~"alpha(opacity=0)";
    -moz-opacity: 0;
    position: absolute;
    font-size: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    float: right;
    height: 100px;
    border: none;
    cursor: default;
}

/* Uploader */

div.uploader span.filename {
    color: #777;
    font-size: 11px;
}

div.uploader.disabled span.action {
    color: #aaa;
}

div.uploader.disabled span.filename {
    border-color: #ddd;
    color: #aaa;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
    background-position: 0px -353px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
    background-position: right -437px;
}

div.uploader.active span.action,
div.uploader:active span.action {
    background-position: right -465px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
    background-position: right -493px;
}

div.uploader.disabled {
    background-position: 0px -325px;
}

div.uploader.disabled span.action {
    background-position: right -381px;
}

div.button {
    background-position: 0px -523px;
}

div.button span {
    background-position: right -643px;
}

div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
    background-position: 0px -553px;
}

div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
    background-position: right -673px;
}

div.button.active,
div.button:active {
    background-position: 0px -583px;
}

div.button.active span,
div.button:active span {
    background-position: right -703px;
    color: #555;
}

div.button.disabled,
div.button:disabled {
    background-position: 0px -613px;
}

div.button.disabled span,
div.button:disabled span {
    background-position: right -733px;
    color: #bbb;
    cursor: default;
}

/* PRESENTATION */
/* Button */

div.button {
    height: 30px;
}

div.button span {
    margin-left: 13px;
    height: 22px;
    padding-top: 8px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 2px;
    padding-right: 15px;
}

/* Select */
div.selector {
    font-size: 14px;
    background: #fff url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon_arrow_down.png) no-repeat 90% center !important;
    height: 28px;
    line-height: 28px;
    min-height: 28px !important;
    padding: 3px 0 !important;
}

div.selector select {
    font-size: 12px;
    line-height: 18px;
    border: solid 1px #fff;
    width: 100%;
}

div.selector span {
    padding: 5px 25px 5px 10px !important;
    cursor: pointer;
    background: none;
    line-height: 20px;
}

div.selector.disabled span {
    color: #bbb;
}

/* Checker */
div.checker {
    margin-right: 5px;
}

/* Radio */
div.radio {
    margin-right: 3px;
}

/*
CORE FUNCTIONALITY
Not advised to edit stuff below this line
-----------------------------------------------------
*/
.selector,
.checker,
.button,
.radio,
.uploader {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}

.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
    outline: 0;
}

/* Button */
div.button a,
div.button button,
div.button input {
    position: absolute;
}

div.button {
    cursor: pointer;
    position: relative;
}

div.button span {
    display: -moz-inline-box;
    display: inline-block;
    line-height: 1;
    text-align: center;
}

/* Select */
div.selector {
    float: none;
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

div.selector span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

div.selector select {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    /* use '=' here, not ':' */
    -moz-opacity: 0;
    border: none;
    background: none;
    cursor: pointer;
    height: 100%;
}

/* Checker */
div.checker {
    position: relative;
}

div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
}

div.checker input {
    opacity: 0;
    filter: ~"alpha(opacity=0)";
    -moz-opacity: 0;
    display: inline-block;
    background: none;
}

/* Radio */

div.radio {
    position: relative;
}

div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
}

div.radio input {
    opacity: 0;
    filter: ~"alpha(opacity=0)";
    -moz-opacity: 0;
    text-align: center;
    display: inline-block;
    background: none;
}

/* Custom.css
-------------------------------------------------------------- */

.brand-name{
padding: 5px 0 5px 4%;
text-align: left;
min-height: 44px;

}

.right{
    float: right;
}

.txt24 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.txt24 em {
    font-style: normal !important;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
    left: 50px;
    bottom: 33%;
}

.icon-delete,
.icon-edit,
.icon-share,
#WishLists .txt-hide a {
    float: left;
    width: 18px;
    height: 21px;
    margin-right: 10px;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icons_off.png) no-repeat -170px -152px;
}

.icon-delete:hover,
.icon-edit:hover,
.icon-share:hover,
#WishLists .txt-hide a:hover,
#WishLists .txt-hide .icon-delete:hover,
#WishLists .txt-hide .icon-edit:hover {
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icons_on.png) no-repeat -170px -152px;
    background-color: transparent !important;
}

.icon-edit,
.icon-edit:hover,
#WishLists .txt-hide .icon-edit,
#WishLists .txt-hide .icon-edit:hover {
    background-position: -140px -152px;
}

.icon-delete,
.icon-delete:hover,
#WishLists .txt-hide .icon-delete,
#WishLists .txt-hide .icon-delete:hover {
    background-position: -108px -152px;
}

.c-wrap {
    width: 980px;
    margin: 0 auto;
    display: block;
    clear: both;
}

.txt-center{
    text-align: center!important;
}

.txt-left{
    text-align: left!important;
}

.txt-right{
    text-align: right!important;
}

small{
    font-size: 12px!important;
}

ul{
    margin: 0 0 20px 20px;
}

ul ul ul{
    list-style-image: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/bullet_line.png);
}

.multiStep,
.multiStep li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-image: none;
}

.multiStep {
    text-align: center;
    position: relative;
    min-height: 1px;
    zoom: 1;
}

.multiStep li {
    margin: 0 20px;
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.multiStep li.ActivePage h4 {
    padding-bottom: 0;
    margin-bottom: 1em;
}

.multiStep li .icon  {
    background: url("//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/nav_active.png") no-repeat;
    display: block;
    float: left;
    height: 8px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    bottom: -5px;
    width: 13px;
}

.li-list {
    border-bottom: 1px solid #d6d6d6;
    padding: 20px 0;
}

.li-list h4 {
    position: relative;
    z-index: 1;
}

.li-list form {
    position: relative;
    z-index: 10;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url("//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon_sprite.png") no-repeat 0 -27px;
}

.icon-add {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 36px;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    transition: background-color 150ms ease 0s;
    -moz-transition: background-color 150ms ease;
    -webkit-transition: background-color 150ms ease;
    -o-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
}

.icon-cart {
    height: 20px;
    width: 15px;
    background-position: 0 -23px;
}

.icon-add:hover {
    -moz-transition: background-color 150ms ease;
    -webkit-transition: background-color 150ms ease;
    -o-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
}

.clear {
    clear:both;
    overflow: hidden;
}

/* btn styles */

.Button a {
    color: #ffffff!important;
}

.full-width {
    display: block;
    clear: both;
    padding: 0;
}

.full-width .zeroLeft {
    padding-left: 0 !important
}

.cpage .Content.Wide {
    padding: 30px 0 0 45px;
    border-left: 1px solid #e8e8e8;
}

.productlist-page.Content {
    padding: 0;
}

.productlist-page.Content .product-nav {
    border: none;
}

.nav-prev,
.nav-next {
    float: left;
    width: 12px;
    height: 12px;
    margin: 12px 10px;
    text-indent: 99px;
    overflow: hidden;
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/icon_sprite.png) no-repeat -42px -26px;
}

.nav-next {
    background-position: -54px -27px;
}

.mtop {
    margin-top: 27px;
}

.pbtm {
    padding-bottom: 30px;
}

.no-ptop {
    padding-top: 0!important;
}

.list {
    margin: 0;
    padding: 0 0 10px 0;
    list-style: none;
}

.list-icon,
.list-news {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-icon li {
    line-height: 23px;
    padding: 0 0 10px 0;
}

.list-icon .icon {
    width: 23px;
    height: 23px;
    margin: 0 15px 0 0;
    background-position: -41px 0;
}

.list-news li p {
    margin-bottom: 10px;
}

.form {
    display: block;
    clear: both;
    margin: 0;
    list-style: none;
}

.form li {
    display: block;
    clear: both;
    width: 100%;
    padding: 10px 0;
}

.form li label,
.form dt {
    float: left;
    width: 175px;
    padding: 7px 25px 0 0;
    line-height: 22px;
}

.form dd {
    margin-left: 0;
    float: none;
}

.addto {
    display: block;
    clear: both;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.addto .BulkDiscount {
    display: inline-block;
}

.addto #SideProductAddToWishList {
    display: inline-block;
}

.txt-hide {
    text-indent: -999px;
    overflow: hidden;
    color: #ffffff;
}

.left-content .ProductList .p-name {
    float: left;
    font-size: 12px;
    margin: 5px 0 25px 0;
    padding: 5px 0 3px 5%;
    border-left: 2px solid #d6d6d6;
}

a.CustomizeItemLink {
    font-size: 11px;
}

#CartHeader {
    position: relative;
}
#CartHeader .btn {
    top:50%;
    right: 0;
    margin-top: -20px !important;
    position: absolute;
}

.recaptcha_widget_div {
    margin-bottom: 20px;
}

.recaptchatable {
    background-color: #fff;
}

.productAttributeConfigurablePickListSet ul {
    margin: 0;
}

html.javascript .productOptionViewRectangle label {
    margin: 0 !important;
}

.fileInput {
   margin-bottom: 10px;
}

#TabContentAddressMultiple {
    padding-top: 20px;
}

.login-form label,
.login-form input {
    display: block;
    margin-bottom: 10px;
}

.login-form .actions label,
.login-form .actions input {
    display: inline-block;
    margin: 0 10px 0 0;
}

.login-form input[type=email],
.login-form input[type=password] {
    width: 50%;
}

/*#fancy_outer {
    height: 500px !important;
}*/

div#fancy_overlay {
    background: #000 !important;
    opacity: 0.7 !important;
}

div#fancy_outer {
    position: fixed !important;
    /* The below need importants because we can't stop edit imodal. May be able to replace with another modal popup and implement it better. */
    top: 20px !important;
    bottom: 20px !important;
    left: 0 !important;
    right: 0 !important;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto !important;
    max-width: 920px !important;
    width: 95% !important;

    height: auto !important;
    padding: 0 !important;
}

/* FlexSlider */

.flex-direction-nav a {
    background-position: center center;
    height: auto;
    top: 0;
    bottom: 0;
    border: 0;
    margin: 0;
    width: 25%;
    max-width: 100px;
}

.flex-direction-nav .flex-prev {
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/carousel-left-arrow.png) no-repeat center left;
    top: 0;
    left: 0 !important;
    bottom: 0;
    margin-top: -40px;
}
.flex-direction-nav .flex-next {
    background: url(//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/carousel-right-arrow.png) no-repeat center right;
    top: 0;
    right: 0 !important;
    bottom: 0;
    margin-top: -40px;
}

.CreateAccount ul {
    line-height: 1.8em;
}

.recaptchatable * {
    color: #000 !important;
}

div.FacebookLikeButtonContainer {
    margin: 0 0 20px 0;
}

div.FacebookLikeButtonContainer iframe {
    display: block;
    height: 20px;
    width: 100%;
}

/* Out of stock styling */

/* Out of Stock styling */

/* Gave strike through to text of out of stock options except rectangle styled  */
label.outStock span.name {
    text-decoration: line-through;
}
.productOptionViewRectangle label.outStock span.name {
    text-decoration: none;
}

/* Gave out of stock lists and radio selects 50% transparency */
.productOptionViewRadio .outStock span.name,
.productOptionViewProductPickList .outStock span.name,
.productOptionViewProductPickListWithImage .outStock span.name,
.productOptionViewRectangle .option label.outStock {
    opacity: 0.5;
    -ms-filter:~"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    *zoom: 1;
}

/* Made the container of the strike through image relative */
.productOptionPickListSwatch .outStock .swatchColour,
.productOptionPickListSwatch .outStock .thumbnail,
.productOptionViewRectangle .outStock name {
    position: relative;
}

/* Gave out of stock swatches a strike through background image */
.productOptionPickListSwatch .outStock .swatchColour:after,
.productOptionPickListSwatch .outStock .thumbnail:after,
.productOptionViewRectangle .outStock .name:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/out-of-stock-bg.png") center no-repeat;
    z-index: 999;
    content: "";
}

/*.productOptionViewRectangle .outStock span:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/out-of-stock-bg.png") center no-repeat;
}*/

#ToggleMenu,
#DrawerMenu,
#cart-amount {
    display:none;
}


/* Drawer menu
-------------------------------------------------------------- */

#ToggleMenu {
    /*temp styles*/
    width: 60px;
    height: 60px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-size: 21px;
}

#Header,
.page {
    -webkit-transition: -webkit-transform 100ms ease-out;
    -ms-transition:     -ms-transform 100ms ease-out;
    transition:         transform 100ms ease-out;
}

.page.off-screen {
    -webkit-transform: translateX(80%);
    -ms-transform:     translateX(80%);
    transform:         translateX(80%);
    position: fixed;
    overflow-y: hidden;
}

#Header.off-screen {
    -webkit-transform: translateY(-50px);
    -ms-transform:     translateY(-50px);
    transform:         translateY(-50px);
}

/*----------------------------------------------------------------------------------------------------------
#############################################  DRAWER MENU
----------------------------------------------------------------------------------------------------------*/
#DrawerMenu {
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 0;
    width: 80%;
    background-color: #333;
    color: #fff;
}
    #DrawerMenu.on-screen {
        display: block;
        position: absolute;
        overflow-y: auto;
    }

#DrawerMenu  div {
    margin :0;
}

#DrawerMenu h3 {
    background: #666;
    color: #fff;
    font-size: 0.8em;
    font-weight: normal;
    padding: 10px 15px;
    text-transform: uppercase;
}

#DrawerMenu ul {
    list-style: none;
    margin: 0;
}
    #DrawerMenu li {
        float: none;
        border-bottom: 1px solid #555;
        list-style: none outside none;
    }
        #DrawerMenu a {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            color: #fff;
            font-size: 1.1em;
            font-weight: normal;
            padding: 20px 15px;
        }
            #DrawerMenu li > ul a {
                padding: 15px 15px 15px 1.6em;
            }

    /*# Drawermenu "sign in" options have fixed html, so to align
    the "or" text, do these terrible things. #*/
    #DrawerMenu li > div {
        padding: 0 15px;
    }
        #DrawerMenu li > div > a {
            margin: 0 -15px;
        }

/*# DRAWERMENU EXPANDER #*/
#DrawerMenu .subcat-expand {
    border-left: 1px solid #555;
    position: absolute;
    right: 0;
    top: 0;
    height: 57px;
    width: 55px;
}
    #DrawerMenu .subcat-expand:after {
        color: #fff;
        content: '+';
        display: block;
        font-size: 16px;
        text-align: center;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
        #DrawerMenu .subcat-expand.subcat-expanded:after {
            content: '-'
        }

/*# DRAWERMENU SUB MENUS #*/
#DrawerMenu .drawer-subcat {
    background: #444;
    display: block !important;
    max-height: 0;
    overflow: hidden;
    left: auto;
    top: auto;
    position: relative;
    visibility: visible !important;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    width: 100%;
}
    #DrawerMenu .drawer-subcat.expanded {
        border-top: 1px solid #555;
        max-height: 1000px;
    }

/*# DRAWER MENU CURRENCY SELECTOR #*/

.js-drawermenu-currency-converter {
    color: #ccc;
    font-size: 12px;
    padding: 15px 0;
}
    .js-drawermenu-currency-converter span {
        color: #ccc !important;
    }

#SideAccountNavigation .CurrencyChooser {
    background: none;
    border: none;
    display: block;
    float: none;
    left: auto;
    margin-top: 15px !important;
    padding: 0;
    position: relative;
    padding-bottom: 30px;
    right: auto;
    top: auto;
}
    #SideAccountNavigation #change-currency,
    #SideAccountNavigation h2 {
        display: none
    }

    #SideAccountNavigation .selected-currency {
        background-color: #474747;
        border: 1px solid #5c5c5c;
    }

    #SideAccountNavigation .selected-currency .Text {
        padding: 0 0 0 9px;
    }

    #SideAccountNavigation .CurrencyList {
        display: none;
    }
        #SideAccountNavigation .CurrencyList.open {
            display: block;
        }

    #SideAccountNavigation .CurrencyList dd {
        border: none;
    }
        #SideAccountNavigation .CurrencyList a {
            background: #474747;
            border-bottom: 1px solid #383838;
            display: block;
            font-size: 11px;
            height: 32px;
            line-height: 32px;
            overflow: hidden;
            padding: 0 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            -moz-transition: all 60ms ease;
            -webkit-transition: all 60ms ease;
            -o-transition: all 60ms ease;
            transition: all 60ms ease;
        }
            #SideAccountNavigation .CurrencyList a:hover {
                background-color: none
            }

        #SideAccountNavigation .CurrencyList .Flag {
            display: inline-block;
            float: none;
            padding: 0;
            text-align: left;
            vertical-align: middle;
            zoom: 1;
        }
        #SideAccountNavigation .CurrencyList .Text {
            color: #ccc !important;
            display: inline-block;
            overflow: hidden;
            padding: 0 0 0 5px !important;
            vertical-align: middle;
            white-space: nowrap;
        }


/*# CONTACT, PAYMENT FORM BUTTON ALIGNMENT #*/
#ContactForm dd,
#CheckoutStepPaymentDetails dd {
    float: none;
    margin-left: 200px;
}
#ContactForm .Submit,
#CheckoutStepPaymentDetails .Submit {
    margin: 0 0 20px 200px;
    padding: 0;
}
