@import url(//fonts.googleapis.com/css?family=Audiowide|Freckle+Face|Exo+2|Hammersmith+One|Ceviche+One|Open+Sans|Lato);
/*

!!!!!!!!!! WARNING !!!!!!!!!!

If you edit theme.css, your changes will be overwritten by any compilation of theme.less
Please remember to replicate your changes in init.less, or just make your changes in another file if possible

!!!!!!!!!! WARNING !!!!!!!!!!

*/
/**
 *   Bigcommerce Blueprint with Less
 *   – For the Less variables and functions that you don't want available in the Style Editor, declare them in this file.
 */
/**
 *   Colors
 *   Prefix with '@color-'
 */
/**
 *   Settings
 *   Prefix with '@setting-'
 */
/**
 *   CSS Assignments
 */
/**
 *   Bigcommerce Blueprint with Less
 *
 *   For compatability with the Bigcommerce Style Editor:
 *    + Import your Google fonts first
 *
 *    + Declare your fonts for use in the editor by using '@font-declaration' (JSON format)
 *      eg @font-declaration: '{ "Open Sans":["Open Sans","Arial","sans-serif"], "Freckle Face":["Freckle Face","cursive"] }'
 *
 *    + Declare your color palette for use in the editor by using '@color-declaration'
 *      eg @color-declaration: '["#333", "#333", "#EDEDED", "#FFF"]';
 *
 *    + Prefix fonts with '@font-' for the style editor to make it editable by the end user
 *
 *    + Prefix colors with '@color-' for the style editor to make it editable by the end user
 *
 *    + Prefix settings with '@setting-' for the style editor to make it adjustable by the end user
 */
/**
 *   Import Google Fonts
 */
/**
 *   Declarations
 */
/**
 *   Bigcommerce Classic Next
 *   Style Initialisation
 */
.SortBox {
  color: #999999;
}
.AddToWishlistLink .wishlist-button {
  color: #333333;
}
.PageMenu {
  font-family: "Lato", Arial, Sans-serif;
}
.PageMenu .sf-menu > li > a {
  color: #333333;
}
.PageMenu li ul {
  background: #333333;
}
.PageMenu li ul li a {
  color: #999999;
}
.PageMenu li ul:before {
  border-color: transparent transparent #333333 transparent;
}
.header {
  background: #ffffff;
  /*border-bottom: 1px solid #e3e3e3;*/
}
#Header > .inner {
  background: #ffffff;
}
#SearchForm .Button,
#SearchForm input.Textbox,
#SearchForm {
  border: 1px solid #e3e3e3;
  background-color: #fff;
}
.page {
  background: #ffffff;
}
.footer-main {
  background: #ffffff;
}
.footer-main h4 {
  color: #333333;
}
.footer-main a {
  color: #999999;
}
.footer-main a:hover {
  color: #333333;
}
.footer-links {
  background: #eeeeee;
  color: #999999;
}
.footer-links a {
  color: #999999;
}
.newsletter-subscription {
  border-color: #e3e3e3;
  background-color: #ffffff;
}
.newsletter-subscription h4 {
  color: #333333;
}
#HomeFeaturedProducts h3,
#SideTopSellers h3,
#HomeNewProducts h3 {
  color: #333333;
}
#home .ProductList .pname {
  color: #333333;
}
#home .ProductList .p-price {
  color: #333333;
}
#home .ProductList .btn {
  background-color: #333333;
}
#home .ProductList .btn:hover {
  background-color: #4d4d4d;
}
#ProductDetails h1 {
  color: #333333;
}
.PrimaryProductDetails .ProductPrice {
  color: #333333;
}
.ProductDetailsGrid,
.ProductDescription {
  color: #333333;
}
#prodAccordion h2 {
  color: #333333;
}
.PrimaryProductDetails .btn.add-to-cart {
  background-color: #333333;
}
.PrimaryProductDetails .btn.add-to-cart:hover {
  background-color: #4d4d4d;
}
.PrimaryProductDetails .btn.wishTrigger {
  border-color: #333333;
  color: #333333;
}
.PrimaryProductDetails .btn.wishTrigger:hover {
  border-color: #4d4d4d;
  color: #4d4d4d;
}
#CategoryHeading .TitleHeading {
  color: #333333;
}
#CategoryContent .ProductList .pname,
#CategoryContent .ProductList .p-name a {
  color: #333333;
}
#CategoryContent .ProductList .p-price {
  color: #333333;
}
#CategoryContent .ProductList .ProductActionAdd .btn {
  background-color: #333333;
}
#CategoryContent .ProductList .ProductActionAdd .btn:hover {
  background-color: #4d4d4d;
}
#CategoryContent .CompareButton .btn {
  color: #333333;
  border-color: #333333;
}
#CategoryContent .CompareButton .btn:hover {
  color: #4d4d4d;
  border-color: #4d4d4d;
}
body,
.HorizontalFormContainer dd .selector span,
.fastCartTop div,
.list-icon li {
  color: #333333;
}
input,
select,
textarea,
input.Textbox,
input[type="text"],
#SearchForm input {
  color: #333333;
}
#ModalContent,
.ModalContent,
.CurrencyChooser a span {
  color: #333333 !important;
}
a,
a.NextLink,
.Left li li a,
.Left #SideCategoryList li a,
.Left .slist li a,
.Left .afterSideShopByBrand a,
.Left #GiftCertificatesMenu li a,
.Left #SideAccountMenu li a,
.Left #SideCategoryList li li a,
.Left .slist li li a,
.TabNav li.Active a,
.currency-converter p span,
.page-content #LayoutColumn2 a {
  color: #333333;
}
p a,
.BlockContent.PageContent a {
  color: #999999;
}
p a,
.BlockContent.PageContent h1 a,
p a,
.BlockContent.PageContent h2 a,
p a,
.BlockContent.PageContent h3 a,
p a,
.BlockContent.PageContent h4 a,
p a,
.BlockContent.PageContent h5 a,
p a,
.BlockContent.PageContent h6 a {
  color: #333333;
}
.header-logo a,
.header-logo a:hover {
  color: #333333;
}
.page-content #LayoutColumn2 a.pname,
#ModalContent a,
.ModalContent a,
.recaptchatable a {
  color: #333333;
}
.Left li a.active:hover {
  border-color: #333333;
}
.icon-add:hover {
  background-color: #333333 !important;
}
.multiStep li a {
  color: #737373;
}
.Left li a.active,
a:hover,
a.alt,
.Left #SideCategoryList li a:hover,
.Left .slist li a:hover,
.Left .afterSideShopByBrand a:hover,
.Left #GiftCertificatesMenu li a:hover,
.Left #SideAccountMenu li a:hover,
.ModalContent h4 a:hover {
  color: #999999;
}
.recaptchatable a:hover,
.page-content #LayoutColumn2 a.pname:hover,
#ModalContent a:hover,
.ModalContent a:hover {
  color: #999999;
}
.multiStep li.ActivePage h4 {
  border-bottom: 4px solid #999999;
}
.icon-add {
  background: #999999 url("//cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/add.png") no-repeat scroll 50% 50%;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Lato", Arial, Sans-serif;
  color: #333333;
}
h1,
.h1 {
  font-family: "Lato", Arial, Sans-serif;
  color: #333333;
}
.productOptionViewProductPickListWithImage td {
  border-bottom: 1px dotted #e3e3e3;
}
.TopMenu,
.TopMenu a {
  color: #b3b3b3;
}
.TopMenu .CartLink a {
  color: #333333;
}
.TopMenu li.Flag img.Selected {
  border: 2px solid #e3e3e3;
}
.productOptionViewRectangle .option.selectedValue label {
  border: 1px solid #333333 !important;
}
.productOptionPickListSwatch .selectedValue .textureContainer,
.productOptionPickListSwatch .selectedValue .swatchColours {
  border: 1px solid #e3e3e3 !important;
  border-color: #3d3d3d !important;
}
.productOptionPickListSwatch .textureContainer,
.productOptionPickListSwatch .swatchColours,
.productOptionViewRectangle .option label,
.recaptchatable #recaptcha_response_field,
.zoomWrapper,
#ProductDetails .ProductTinyImageList ul li.selected {
  border: 1px solid #e3e3e3 !important;
}
.CurrencyList dd,
select,
hr,
input.Textbox,
textarea,
input[type="text"],
input[type="password"],
.QuickSearch,
.SharePublicWishList,
.ExpressCheckoutBlock .ExpressCheckoutTitle,
.TabNav li a,
.HowToPay,
.NotifyMessage,
.QuickSearchResult .QuickSearchResultImage,
.CurrencyChooser,
div.uploader,
div.selector {
  border: 1px solid #e3e3e3;
}
.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent,
div.uploader span.action {
  border-left: 1px solid #e3e3e3;
}
.TitleHeading,
.TabNav {
  border-bottom: 1px solid #e3e3e3;
}
.ProductList.List .ProductDetails {
  border-top: 1px solid #e3e3e3;
}
.btn {
  background-color: #333333;
  color: #ffffff;
}
.btn:hover {
  background-color: #4d4d4d;
  color: #ffffff;
}
.btn.alt {
  background-color: transparent;
  border: 3px solid #333333;
  color: #333333;
}
.btn.alt:hover {
  border: 3px solid #999999;
  color: #999999;
}
.btn.text {
  color: #666666;
}
.TopMenu > .inner,
#Header > .inner,
.PageMenu > .inner,
.main > .inner,
.footer-main > .inner,
.footer-links > .inner,
.newsletter-subscription > .inner {
  max-width: 1000px;
  width: 90%;
}
#home .ProductList li,
.productPage .ProductList li {
  width: 20%;
}
.Breadcrumb {
  color: #bebebe;
}
.Breadcrumb a {
  color: #999999;
}
table tbody tr td,
table.General tbody tr td,
table.CartContents tbody tr td,
.CompareFieldName {
  border-bottom: 1px solid #e3e3e3;
}
.phoneIcon {
  color: #333333;
  font-weight: bold;
}
.ProductList li .ProductCompareButton {
  color: #bebebe;
}
.addto {
  border-top: 1px solid #e3e3e3;
}
#prodAccordion .Block {
  border-bottom: 1px solid #e3e3e3;
}
.productOptionViewRectangle .option label {
  color: #999999;
}
.productOptionViewRectangle .option.selectedValue label {
  color: #333333;
}
.ProductDetailsGrid .DetailRow.product-rating {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.Meta {
  color: #999999;
}
.ProductReviewList li {
  border-bottom: 1px solid #e3e3e3;
}
.borderB {
  border-bottom: 1px solid #e3e3e3;
}
.borderR {
  border-right: 1px solid #e3e3e3;
}
.txt24 {
  font-family: "Lato", Arial, Sans-serif;
}
.PageMenu li ul ul {
  border-left: 1px solid #4d4d4d !important;
}
.EstimateShipping {
  border: 1px solid #e3e3e3;
}
.CartContents tfoot .SubTotal td {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.Left #SideCategoryList .SideCategoryListFlyout > ul > li,
ul.side-menu li {
  border-bottom: 1px solid #e3e3e3;
}
/* --- Responsive --- */
@media screen and (max-width: 1024px) {
  #home .ProductList li {
    width: 20% !important;
  }
}
@media screen and (max-width: 1000px) {
  #home .ProductList li {
    width: 25% !important;
  }
}
/* 768px */
@media screen and (max-width: 768px) {
  #home .ProductList li {
    width: 33.333333% !important;
  }
  .TabNav li.Active a {
    border-bottom: 1px solid #e3e3e3;
  }
}
/* 600px */
@media screen and (max-width: 600px) {
  #home .ProductList li {
    width: 50% !important;
  }
  .BillingDetails,
  .ShippingDetails {
    border-top: 1px solid #e3e3e3;
  }
}
/* 480px */
@media screen and (max-width: 480px) {
  #home .ProductList li {
    width: 100% !important;
  }
  #cart-amount .Cart .total {
    background: #333333;
    color: #ffffff;
  }
  #cart-amount .Cart .bag-handle {
    border: 2px solid #333333;
  }
}
/* --- Faceted Search --- */
.facet-container {
  border-bottom: 1px solid #e3e3e3;
}
.facet-container [class^="js-facet-clear"] {
  color: #bebebe;
}
.facet-container [class^="js-facet-clear"]:hover {
  color: #666666;
}
.facet-container .btn-facet-more-options.more {
  color: #333333;
}
.facet-container .facet-option .facet-option-product-count {
  color: #999999;
}
#co-app {
  font-family: "Lato", Arial, Sans-serif;
}
#co-app .co-header {
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}
#co-app .co-header--title > h2 {
  color: #333333;
  font-family: "Lato", Arial, Sans-serif;
}
#co-app .co-steps-nav li.is-active a {
  color: #333333;
}
#co-app .co-steps-nav li.is-disabled a,
#co-app .co-steps-nav li.is-disabled a:hover,
#co-app .co-steps-nav li.is-disabled a:active,
#co-app .co-steps-nav li.is-disabled a:focus {
  color: #333333;
  opacity: 0.5;
}
#co-app .co-steps-nav a {
  color: #333333;
  font-family: "Lato", Arial, Sans-serif;
}
#co-app .co-steps-nav--divider {
  color: #333333;
}
#co-app .bui-modal-content {
  background-color: #ffffff;
}
#co-app .co-selectable-panel {
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#co-app input,
#co-app select {
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#co-app .bui-button {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  letter-spacing: 1px;
  padding: 0 1.2em;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#co-app .bui-button .bui-icon {
  line-height: inherit;
}
#co-app .bui-button-primary {
  border: 1px solid #333333;
  background: #333333;
  color: #ffffff;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#co-app .bui-button.bui-button-primary:hover,
#co-app .bui-button.bui-button-primary:focus {
  border-color: #4d4d4d;
  background: #4d4d4d;
}
#co-app .bui-button-link,
#co-app .bui-button-secondary {
  background-color: transparent;
  border: 3px solid #333333;
  color: #333333;
  line-height: 29px;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#co-app .bui-button.bui-button-link:hover,
#co-app .bui-button.bui-button-link:focus,
#co-app .bui-button.bui-button-secondary:hover,
#co-app .bui-button.bui-button-secondary:focus {
  border: 3px solid #999999;
  background-color: transparent;
  color: #999999;
  text-decoration: none;
}
#co-app .co-side--finishchangeitems {
  height: 21px;
  padding: 3px 6px 3px;
  line-height: 14px;
}
@media (max-width: 1019px) {
  #co-app .co-side {
    background-color: #ffffff;
  }
}
@media (min-width: 1020px) {
  #co-app .co-main {
    border-right: 1px solid #e3e3e3;
  }
}
