<div class="main">
  <div class="inner">

    <div *ngIf="!(this.authService.loggedIn | async);else func">
      <div class="Block Breadcrumb Moveable Panel">
        <ul class="last">
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a href="javascript:history.go(-1)">... Previous Page</a></li>
        </ul>
      </div>
      <h1 class="TitleHeading">You must log in first</h1>

      <div _ngcontent-c6="" class="CreateAccount">
        <h3 _ngcontent-c6="">Or If You Need Create a New Account</h3>
        <div _ngcontent-c6="" style="display: ">
          <p _ngcontent-c6="">Create an account with us and you'll be able to:</p>
          <ul _ngcontent-c6="">
            <li _ngcontent-c6="">Check out faster</li>
            <li _ngcontent-c6="">Save multiple shipping addresses</li>
            <li _ngcontent-c6="">Access your order history</li>
            <li _ngcontent-c6="">Track new orders</li>
            <li _ngcontent-c6="">Save items to your wish list</li>
          </ul>
          <a class="btn alt" routerLink="/creataccount" routerLinkActive="active">Create an account</a>
        </div>

        <hr>
      <div class="box">
        <p>
          <button class="btn btn-default" routerLink="/login" routerLinkActive="active">
            Sign In
          </button>
          <a routerLink="/" routerLinkActive="active">Return to store</a>
        </p>
      </div>
    </div>
    </div>

    <ng-template #func>


      <table class="CartContents Stylize General" cellspacing="0" cellpadding="0">
        <thead>
        <tr class="First Last Odd Even">
          <th colspan="2">Order Summary</th>
          <th>Qty</th>
          <th>Item Price</th>
          <th>Total</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tfoot>
        <tr class="SubTotal gtotal Last">
          <td colspan="6" class="Odd"><div style="float:right">Shipping: {{ 0 | currency}}</div></td>
        </tr>
        <tr class="SubTotal gtotal Last">
          <td colspan="6" class="Odd"><div style="float:right">Tax: {{ getTotal() * discount * 0.0825 | currency}}</div></td>
        </tr>
        <tr class="SubTotal gtotal Last">
          <td colspan="6" class="Odd"><div style="float:right">AFTER Discount: {{ getTotal() * discount | currency}}</div></td>
        </tr>
        <tr class="SubTotal gtotal Last">
          <td colspan="6" class="Odd"><div>Grand Total: {{ (getTotal() * discount) * 1.0825  | currency}}</div></td>

        </tr>

        </tfoot>
        <tbody>
        <tr class="First Odd Even" *ngFor="let product of information">
          <td class="CartThumb Even" style="">

            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-yanagi-knife-270mm-10-6-nami-kasumi/">
              <img src='{{ product.PRO_SRC }}' height="65" width="65"></a>&nbsp;
          </td>
          <td class="ProductName Odd" colspan="1">
            <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-yanagi-knife-270mm-10-6-nami-kasumi/">{{ product.PRO_TITLE }}</a>
            <br>SKU ID: {{ product.PRO_ID }}<br>

            <div class="CartExpectedReleaseDate" style="display: none;">()</div>

            <div style="display: none" class="WrappingOptions">
              Gift Wrapping:

              <a href="#" onclick="Cart.ManageGiftWrapping('92637e98-e119-4e6c-8608-437b588088b6');" style="">Add</a>
              <span style="display: none">
					(<a href="#" onclick="Cart.ManageGiftWrapping('92637e98-e119-4e6c-8608-437b588088b6');">Change</a> or <a href="cart.php?action=remove_giftwrapping&amp;item_id=92637e98-e119-4e6c-8608-437b588088b6" onclick="return Cart.RemoveGiftWrapping();">Remove</a>)
				</span>
              <br>
              <span style="display: none">
					Gift Message:

				</span>
            </div>
          </td>
          <td align="center" class="CartItemQuantity Even">
            <span style="padding: 0; margin: 0;">{{product.PTY}}</span>

          </td>
          <td align="center" class="CartItemIndividualPrice Odd">
            {{product.PRO_PRICE | currency}}
          </td>
          <td align="right" class="CartItemTotalPrice Even"><em class="ProductPrice">{{product.PRO_PRICE * product.PTY| currency}}</em>

          </td>

        </tr>

        </tbody>
      </table>

      <div _ngcontent-c7="" class="CartCode cf">
        <div _ngcontent-c7="" class="GiftCertificate">
          <h3 _ngcontent-c7="">Coupon Code</h3>

          <form #couponCode="ngForm" (submit)="getDiscount(couponCode.value)">
            <div class="GiftCertificateCode">
              <input  type="text" class="Textbox" id="coupon" name="coupon" ngModel>
              <button type="submit" class="btn btn-default">USE</button>
            </div>
          </form>
        </div>
      </div>




      <div class="Block Breadcrumb Moveable Panel" id="CreateAccountBreadcrumb">

      </div>

      <div class="Content Widest" id="LayoutColumn1">
        <div class="Block Moveable Panel no-ptop" id="CreateAccountForm">
          <h1 class="TitleHeading">Checkout</h1>
          <div class="BlockContent BlockContent full-width page-content">
            <p style="display: " class="txt24 blockquote mtm">
              Checkout faster at <em>MTC Kitchen</em> and save multiple addresses in your address book.
            </p>
            <p class="ErrorMessage" style="display:none">
            </p>


            <form #creatForm="ngForm">
              <div class="FormContainer HorizontalFormContainer form">
                <div class="box borderB">
                  <h3>Shipping Details</h3>

                  <p>Enter the name and address you'd like us to ship your order to.</p>

                  <dt>
                    <label>
                      <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                      <span class="FormFieldLabel">Email</span>
                    </label>
                  </dt>
                  <dd>
                    <input type="text" id="email" name="email" value="" aria-required="true" class="Textbox Field200 FormField" ngModel>
                    <font *ngIf="checkEmail" color="red">Please type in a valid email address</font>
                  </dd>

                  <dt>
                    <label>
                      <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                      <span class="FormFieldLabel">First Name</span>
                    </label>
                  </dt>
                  <dd>
                    <input type="text" id="firstName" name="firstName" value="" aria-required="true" class="Textbox Field200 FormField" ngModel>
                    <font *ngIf="checkFirstname" color="red">First name cannot be empty</font>
                  </dd>


                  <dt>
                    <label>
                                            <span class="Required FormFieldRequired"
                                                  style="visibility: visible">*</span>
                      <span class="FormFieldLabel">Last Name</span>
                    </label>
                  </dt>
                  <dd>
                    <input type="text" id="lastName" name="lastName" value=""
                           aria-required="true" class="Textbox Field200 FormField" ngModel>
                    <font *ngIf="checkLastname" color="red">Last name cannot be empty</font>

                  </dd>



                  <dt>
                    <label>
                                            <span class="Required FormFieldRequired"
                                                  style="visibility: visible">*</span>
                      <span class="FormFieldLabel">Street Address</span>
                    </label>
                  </dt>
                  <dd>
                    <input type="text" id="streetAddress" name="streetAddress" value=""
                           aria-required="true" class="Textbox Field200 FormField" ngModel>
                    <font *ngIf="checkStreet" color="red">Street cannot be empty!</font>
                  </dd>


                  <dt>
                    <label>
                                            <span class="Required FormFieldRequired"
                                                  style="visibility: visible">*</span>
                      <span class="FormFieldLabel">Suburb/City</span>
                    </label>
                  </dt>
                  <dd>
                    <input type="text" id="city" name="city" value=""
                           class="Textbox Field200 FormField" ngModel>
                    <font *ngIf="checkCity" color="red">City cannot be empty!</font>

                  </dd>

                  <dt>
                    <label>
                                            <span class="Required FormFieldRequired"
                                                  style="visibility: visible">*</span>
                      <span class="FormFieldLabel">State/Province</span>
                    </label>
                  </dt>
                  <dd>
                    <input type="text" id="state" name="state" value=""
                           aria-required="true" class="Textbox Field200 FormField" ngModel>
                          <font *ngIf="checkState" color="red">State cannot be empty!</font>

                  </dd>


                  <dt>
                    <label>
                                            <span class="Required FormFieldRequired"
                                                  style="visibility: visible">*</span>
                      <span class="FormFieldLabel">Zip/Postcode</span>
                    </label>
                  </dt>
                  <dd>
                    <input type="text" id="zip" name="zip" value=""
                           aria-required="true" class="Textbox Field200 FormField" ngModel>
                    <font *ngIf="checkZip" color="red">Invalid Zip Code!</font>

                  </dd>


                  <dt>
                    <label>
                                            <span class="Required FormFieldRequired"
                                                  style="visibility: visible">*</span>
                      <span class="FormFieldLabel">Phone Number</span>
                    </label>
                  </dt>
                  <dd>
                    <input type="text" id="phone" name="phone" value=""
                           aria-required="true" class="Textbox Field200 FormField"  placeholder="XXX-XXX-XXXX" ngModel>
                    <font *ngIf="checkPhone" color="red">Invalid Phone Number!</font>
                  </dd>

                  <dt>
                    <label>
                      <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                      <span class="FormFieldLabel">CARD NUMBER</span>
                    </label>
                  </dt>
                  <dd>
                    <div class="input-group">
                      <input type="tel" class="Textbox Field200 FormField" id="cardNumber" name="cardNumber" placeholder="Valid Card Number" required="" ngModel>
                      <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                    </div>
                  </dd>

                  <dt>
                    <label>
                      <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                      <span class="visible-xs-inline FormFieldLabel"></span> EXPIRATION DATE</label>
                  </dt>
                  <dd>
                    <input type="tel" class="Textbox Field200 FormField" name="expirationDate" id="expirationDate" placeholder="MM / YY" autocomplete="cc-exp" required="" ngModel>
                  </dd>

                  <dt>
                    <label>
                      <span class="Required FormFieldRequired" style="visibility: visible">*</span>
                      <span class="visible-xs-inline FormFieldLabel"></span>CV CODE</label>
                  </dt>
                  <dd>
                    <input type="tel" class="Textbox Field200 FormField" name="cardCVC" id="cardCVC" placeholder="CVC" autocomplete="cc-csc" required="" ngModel>
                  </dd>

                </div>
                <div class="box">
                  <p style="float: right;">
                    <button type="button" class="btn btn-default" routerLink="/checkout" routerLinkActive="active">PREVIOUS PAGE</button>
                    <button type="submit" class="btn btn-default" (click)="checkout(creatForm.value)">PLACE ORDER</button>
                    <a routerLink="/" routerLinkActive="active">Return to store</a>
                  </p>
                </div>
              </div>
            </form>



            <script type="text/javascript">
              $('.FormField').addClass("Field200 Textbox");
              $(document).ready(function () {
                $('#FormField_11').change(function () {
                  $.uniform.restore('select.JSHidden');
                  $(document).ajaxComplete(function (event, request, settings) {
                    $('select').not('.UniApplied').uniform();
                  });
                });
              });
              $(window).load(function () {
                $('select').not('.UniApplied').uniform();
              });
            </script>
            <script type="text/javascript" src="./Create Account_files/formfield.js.download"></script>
            <script type="text/javascript" src="./Create Account_files/validate.js.download"></script>
            <script type="text/javascript"><!--

            /* Make sure all new account details are filled in */
            function check_create_account_form() {

              var formIdx = [1, 2];
              var emailField, passwordField, confirmField, formfields;

              for (var i = 0; i < formIdx.length; i++) {
                formfields = FormField.GetValues(formIdx[i]);

                for (var j = 0; j < formfields.length; j++) {
                  var rtn = FormField.Validate(formfields[j].field);

                  if (!rtn.status) {
                    alert(rtn.msg);
                    FormField.Focus(formfields[j].field);
                    return false;
                  }

                  if (formIdx[i] == 1) {
                    if (formfields[j].privateId == 'EmailAddress') {
                      emailField = formfields[j];
                    } else if (formfields[j].privateId == 'Password') {
                      passwordField = formfields[j];
                    } else if (formfields[j].privateId == 'ConfirmPassword') {
                      confirmField = formfields[j];
                    }
                  }
                }
              }

              if (!isValidEmailAddress(emailField.value)) {
                alert("Please type in a valid email address, such as joe@example.com");
                FormField.Focus(emailField.field);
                return false;
              }

              if (passwordField.value == "") {
                alert("Please type in a password.");
                FormField.Focus(passwordField.field);
                FormField.Focus(passwordField.field);
                return false;
              }

              if ((passwordField.value != "" || confirmField.value != "") && (passwordField.value != confirmField.value)) {
                alert("Your passwords don't match.");
                FormField.Focus(confirmField.field);
                return false;
              }

              return true;
            }

            lang.CustomFieldsValidationRequired = "The '%s' field is required.";
            lang.CustomFieldsValidationOptionRequired = "Please choose an option for the '%s' field.";
            lang.CustomFieldsValidationNumbersOnly = "The '%s' field must only contain numbers.";
            lang.CustomFieldsValidationNumbersToLow = "The '%s' field cannot be lower than %d.";
            lang.CustomFieldsValidationNumbersToHigh = "The '%s' field cannot be higher than %d.";
            lang.CustomFieldsValidationDateToLow = "The '%s' field cannot be before %s.";
            lang.CustomFieldsValidationDateToHigh = "The '%s' field cannot be after %s.";
            lang.CustomFieldsValidationDateInvalid = "The '%s' field, if in use, must have all the date fields selected.";

            $(document).ready(
              function () {
                $(FormField.GetField(11)).live("change", {
                  "fieldId": 11,
                  "countryId": 11,
                  "stateId": 12
                }, FormFieldEvent.SingleSelectPopulateStates);
              }
            );

            //-->
            </script>

          </div>
        </div>

      </div>
      <div class="clear"></div>
    </ng-template>

  </div>
</div>
