<div class="footer">
  <div class="inner">


    <div class="newsletter-subscription" id="SideNewsletterBox">
      <div class="inner">
        <div class="grid">
          <div class="grid__item one-third">

            <h4>Sign up for our newsletter</h4>
          </div>
          <div class="grid__item two-thirds">

            <form action="https://www.mtckitchen.com/subscribe.php" method="post" id="subscribe_form"
                  class="subscribe_form" name="subscribe_form">
              <input type="hidden" name="action" value="subscribe">
              <div class="grid">
                <div class="grid__item two-fifths">
                  <label for="nl_first_name">Name</label>
                  <input class="Textbox autobox default" value="Name" id="nl_first_name" name="nl_first_name"
                         type="text">
                </div>
                <div class="grid__item two-fifths">
                  <label for="nl_email">Email</label>
                  <input class="Textbox autobox default" value="Email" id="nl_email" name="nl_email" type="email">
                </div>
                <div class="grid__item one-fifth">

                  <input value="Submit" class="btn" type="submit">

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      // <!--
      $('#subscribe_form').submit(function () {
        if ($('#nl_first_name').val() == '') {
          alert('You forgot to type in your first name.');
          $('#nl_first_name').focus();
          return false;
        }

        if ($('#nl_email').val() == '') {
          alert('You forgot to type in your email address.');
          $('#nl_email').focus();
          return false;
        }

        if ($('#nl_email').val().indexOf('@') == -1 || $('#nl_email').val().indexOf('.') == -1) {
          alert('Please enter a valid email address, such as john@example.com.');
          $('#nl_email').focus();
          $('#nl_email').select();
          return false;
        }

        // Set the action of the form to stop spammers
        $('#subscribe_form').append("<input type=\"hidden\" name=\"check\" value=\"1\" \/>");
        return true;

      });
      // -->
    </script>


    <div class="footer-storelocation">
      <div class="inner">
        <div class="footer-columns grid">
          <div class="grid__item one-third">
            <h4>MTC Kitchen Manhattan Store</h4>
            <p>711 3rd Ave,<br>(on 45th between 2nd &amp; 3rd Aves)<br>New York, NY 10017<br>+1 212-661-3333</p>
            <p>&gt;&nbsp;<a href="https://www.mtckitchen.com/manhattan-store/">View more information</a></p>
          </div>
          <div class="grid__item one-third">
            <figure><img
              src="https://s3.us-east-2.amazonaws.com/msi-final-st/Img-Store.jpg"
              alt="MTC Kitchen Store"></figure>
          </div>
          <div class="grid__item one-third">
            <figure><img
              src="https://s3.us-east-2.amazonaws.com/msi-final-st/Img-StoreMap.png"
              alt="MTC Kitchen Store Map"></figure>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-main">
      <div class="inner">
        <div class="footer-columns grid">
          <div class="grid__item one-quarter"><h4>Customer Service</h4>
            <ul>
              <li><a href="https://www.mtckitchen.com/faqs/">Frequently Asked Questions</a></li>
              <li><a href="https://www.mtckitchen.com/shipping-delivery/">Shipping / Delivery</a></li>
              <li><a href="https://www.mtckitchen.com/returns-exchanges/">Returns / Exchanges</a></li>
              <li><a href="https://www.mtckitchen.com/international-orders">International Orders</a></li>
              <li><a href="https://www.mtckitchen.com/reviews">Reviews</a></li>
              <li><a href="https://www.mtckitchen.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="https://www.mtckitchen.com/sales-terms-and-conditions/">Sales Terms and Conditions</a></li>
              <li><a href="https://www.mtckitchen.com/terms-of-use/">Terms of Use</a></li>
              <li><a href="https://www.mtckitchen.com/contact-us/">Contact Us</a></li>
              <li>Inquiries: <br>
                By Email : <a href="mailto:info@mtckitchen.com">info@mtckitchen.com</a><br>
                By Phone : 201-806-1827 (8am-5pm Mon-Fri)
              </li>
            </ul>
            <ul class="gift-certificate">
              <li><a href="https://www.mtckitchen.com/giftcertificates.php">Gift Certificates</a></li>
            </ul>
            <div><img
              src="https://s3.us-east-2.amazonaws.com/msi-final-st/credit-cards.png"
              alt="We accept Visa, Master, Amex, Discover and PayPal" style="max-width: 100%;height: auto;"></div>
          </div>

          <div class="grid__item one-quarter">
            <div class="Block CategoryList Panel">
              <h4>Categories</h4>
              <div class="BlockContent">
                <ul class="sf-menu sf-horizontal sf-js-enabled">
                  <li><a href="https://www.mtckitchen.com/japanese-knives/" class="sf-with-ul">Japanese Knives<span
                    class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/japanese-knives/western-style/" class="sf-with-ul">Western
                        Style<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/japanese-knives/western-style/gyuto-chefs-knife/">Gyuto
                            (Chef's Knife)</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/sujihiki-slicing-knife/">Sujihiki
                            (Slicing Knife)</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/petty-paring-knife/">Petty
                            (Paring Knife)</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/western-style/santoku/">Santoku</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/nakiri/">Nakiri</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/western-style/yo-deba/">Yo-Deba
                            (Fish Knife)</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/bread-knife/">Bread Knife</a>
                          </li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/japanese-knives/japanese-style/" class="sf-with-ul">Japanese
                        Style<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/">Yanagi (Sushi
                            Knife)</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/deba/">Deba</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/usuba/">Usuba</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/japanese-knives/style/honesuki-garasuki-boning-knife/">Honesuki/Garasuki
                            (Boning Knife)</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/kiritsuke/">Kiritsuke</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/takohiki/">Takohiki</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/style/mukimono/">Mukimono</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/japanese-knives/brand/" class="sf-with-ul">Brand<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/tsukiji-masamoto/">Tsukiji
                            Masamoto</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/nenox/">Nenox</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/takamura/">Takamura</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/haku/">Haku</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/sakai-takayuki/">Sakai
                            Takayuki</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/aritsugu/">Aritsugu</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/misono/">Misono</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/seki-kanetsugu/">Seki
                            Kanetsugu</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/caddie/">Caddie</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/ikkaku-donryu/">Ikkaku
                            Donryu</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/shun/">Shun</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/global/">Global</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/sakon/">Sakon</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/kyocera/">Kyocera</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/brand/ajimisaku/">Ajimisaku</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/japanese-knives/accessories/" class="sf-with-ul">Accessories<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/japanese-knives/accessories/knife-bags/">Knife
                            Bags</a></li>
                          <li><a href="https://www.mtckitchen.com/japanese-knives/accessories/knife-covers/">Knife
                            Covers</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/japanese-knives/left-handed/">Left-Handed</a></li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/sharpening-stones/" class="sf-with-ul">Sharpening
                    Stones<span class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/" class="sf-with-ul">Brand<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/king/">King</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/shapton/">Shapton</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/atoma-diamond-plate/">Atoma
                            Diamond Plate</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/suehiro/">Suehiro</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/naniwa/">Naniwa</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/sharpening-stones/brand/arashiyama-1/">Arashiyama</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/tsukiji-masamoto/">Tsukiji
                            Masamoto</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/nenohi/">Nenohi</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/sun-tiger/">Sun Tiger</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/kyocera/">Kyocera</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/others/">Others</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/sharpening-stones/grit/" class="sf-with-ul">Grit<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/grit/coarse/">Coarse</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/grit/medium/">Medium</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/grit/fine/">Fine</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/sharpening-stones/grit/double-sided/">Double-sided</a>
                          </li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/sharpening-stones/material/" class="sf-with-ul">Material<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/material/ceramic/">Ceramic</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/material/diamond/">Diamond</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/material/synthetic/">Synthetic</a>
                          </li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/" class="sf-with-ul">Accessories<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/handy-sharpeners/">Handy
                            Sharpeners</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/polish/">Polish</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/rust-removers/">Rust
                            Removers</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/sharpening-guides/">Sharpening
                            Guides</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/steels/">Steels</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/stone-fixers/">Stone
                            Fixers</a></li>
                          <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/stone-holders/">Stone
                            Holders</a></li>

                        </ul>
                      </li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/sushi-supplies/" class="sf-with-ul">Sushi Supplies<span
                    class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/baran-decorative-plastic-grass/">Baran
                        Decorative Plastic Grass</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/bento-boxes/">Bento Boxes</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/hangiri-rice-barrels-shamoji-spatulas/">Hangiri
                        Rice Barrels &amp; Shamoji Spatulas</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/low-temperature-freezers/">Low
                        Temperature Freezers</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/makisu-sushi-rolling-mats/">Makisu Sushi
                        Rolling Mats</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/mise-en-place-containers/">Mise En Place
                        Containers</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/miso-soup-bowls/">Miso Soup Bowls</a>
                      </li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/"
                             class="sf-with-ul">Rice Cookers &amp; Warmers<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/rice-cookers/">Rice
                            Cookers</a></li>
                          <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/rice-warmers/">Rice
                            Warmers</a></li>
                          <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/spare-pans/">Spare
                            Pans</a></li>
                          <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/spare-parts/">Spare
                            Parts</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-presses-molds/">Rice Presses &amp;
                        Molds</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/serving-trays/">Serving Trays</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/soy-sauce-dishes-dispensers/"
                             class="sf-with-ul">Soy Sauce Dishes &amp; Dispensers<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a
                            href="https://www.mtckitchen.com/sushi-supplies/soy-sauce-dishes-dispensers/soy-sauce-dishes/">Soy
                            Sauce Dishes</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/sushi-supplies/soy-sauce-dishes-dispensers/soy-sauce-dispensers/">Soy
                            Sauce Dispensers</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-sashimi-serveware/">Sushi &amp;
                        Sashimi Serveware</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-cases-accessories/"
                             class="sf-with-ul">Sushi Cases &amp; Accessories<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a
                            href="https://www.mtckitchen.com/sushi-supplies/sushi-cases-accessories/accessories/">Accessories</a>
                          </li>
                          <li><a
                            href="https://www.mtckitchen.com/sushi-supplies/sushi-cases-accessories/sushi-cases/">Sushi
                            Cases</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-robots/">Sushi Robots</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-chef-tools/">Sushi Chef Tools</a>
                      </li>
                      <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-take-out-containers/">Sushi Take
                        Out Containers</a></li>
                      <li><a href="https://www.mtckitchen.com/sushi-essentials/">SUSHI ESSENTIALS</a></li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/kitchenware/" class="sf-with-ul">Kitchenware<span
                    class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/kitchenware/colanders-strainers/">Colanders &amp;
                        Strainers</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/cookware/" class="sf-with-ul">Cookware<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/kitchenware/cookware/pots-pans/">Pots &amp; Pans</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/cookware/lids/">Lids</a></li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/cookware/grills/">Grills</a></li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/cookware/stoves/">Stoves</a></li>
                          <li><a href="https://www.mtckitchen.com/steamers/">Steamers</a></li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/cookware/burners/">Burners</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/cutting-boards/">Cutting Boards</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/deep-frying-utensils/">Deep Frying
                        Utensils</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/fish-bone-tweezers-scalers/">Fish Bone
                        Tweezers &amp; Scalers</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/" class="sf-with-ul">Kitchen
                        Utensils<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/graters/">Graters</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/ladles/">Ladles</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/molds/">Molds</a></li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/peeler/">Peeler</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/chopsticks/">Plating
                            Chopsticks</a></li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/scissors/">Scissors</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/skimmers/">Skimmers</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/spatulas/">Spatulas</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/tongs/">Tongs</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/measuring-tools/">Measuring Tools</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/mise-en-place-containers/">Mise En Place
                        Containers</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/mortar-pestle/">Mortar &amp; Pestle</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/" class="sf-with-ul">Rice
                        Cookers &amp; Warmers<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/rice-cookers/">Rice
                            Cookers</a></li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/rice-warmers/">Rice
                            Warmers</a></li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/spare-pans/">Spare
                            Pans</a></li>
                          <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/spare-parts/">Spare
                            Parts</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/rice-presses-molds/">Rice Presses &amp;
                        Molds</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/skewers-picks/">Skewers &amp; Picks</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/smoking-wood/">Smoking Wood</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/specialty-items/">Specialty Items</a></li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/"
                             class="sf-with-ul">Vegetable Slicers &amp; Mandolines<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a
                            href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/electric-slicers/">Electric
                            Slicers</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/mandolines/">Mandolines</a>
                          </li>
                          <li><a
                            href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/manual-slicers/">Manual
                            Slicers</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/spare-blades/">Spare
                            Blades</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/kitchenware/yakitori-robata-grills/">Yakitori &amp;
                        Robata Grills</a></li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/tableware/" class="sf-with-ul">Tableware<span
                    class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/tableware/new-tableware/">New Tableware</a></li>
                      <li><a href="https://www.mtckitchen.com/tableware/bowls/" class="sf-with-ul">Bowls<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/tableware/bowls/small-bowls/">Small Bowls (&lt; 6"
                            dia)</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/bowls/large-bowls/">Large Bowls (≥ 6"
                            dia)</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/noodle-bowls-plates/ramen-bowls/">Ramen
                            Bowls</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/bowls/soba-udon-bowls-plates/">Soba &amp;
                            Udon Bowls &amp; Plates</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/plates/" class="sf-with-ul">Plates<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/tableware/plates/extra-small-plates-4-1-2/">Extra
                            Small Plates (&lt; 4 1/2")</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/plates/small-plates-4-1-2-6-1-4/">Small
                            Plates (4 1/2"- 6 1/4")</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/plates/medium-plates-6-1-2-8-1-2/">Medium
                            Plates (6 1/2"- 8 1/2")</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/plates/large-plates-8-1-2/">Large Plates (&gt;
                            8 1/2")</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/plates/rectangular/">Rectangular</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/plates/round/">Round</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/plates/square/">Square</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/plates/oval/">Oval</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/soy-sauce-dishes-dispensers/"
                             class="sf-with-ul">Soy Sauce Dishes &amp; Dispensers<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a
                            href="https://www.mtckitchen.com/tableware/soy-sauce-dishes-dispensers/soy-sauce-dishes/">Soy
                            Sauce Dishes</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/tableware/soy-sauce-dishes-dispensers/soy-sauce-dispensers/">Soy
                            Sauce Dispensers</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/glassware/" class="sf-with-ul">Glassware<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/tableware/glassware/tumblers/">Tumblers</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/glassware/sake-cups/">Sake Cups</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/glassware/beer-glasses/">Beer Glasses</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/glassware/rock-glasses/">Rock Glasses</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/glassware/wine-glasses/">Wine Glasses</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/carafes-servers/">Carafes &amp; Servers</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/glassware/bowls/">Bowls</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/glassware/plates/">Plates</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/glassware/soy-sauce-dispensers/">Soy Sauce
                            Dispensers </a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/glassware/tebineri-series/">Tebineri
                            Series</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/chopsticks-rests/" class="sf-with-ul">Chopsticks
                        &amp; Rests<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a
                            href="https://www.mtckitchen.com/tableware/chopsticks-rests/chopsticks/">Chopsticks</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/chopsticks-rests/chopstick-rests/">Chopstick
                            Rests</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/spoons/">Spoons &amp; Forks</a></li>
                      <li><a href="https://www.mtckitchen.com/tableware/teaware/" class="sf-with-ul">Teaware<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/tableware/teaware/hot-water-dispensers/">Hot Water
                            Dispensers</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/teaware/cast-iron-teapots-cups/">Nanbu
                            Cast Iron Teapots &amp; Cups</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/teaware/tea-accessories/">Tea
                            Accessories</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/teaware/tea-cups/">Tea Cups</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/teaware/tea-strainers/">Tea Strainers</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/teaware/teapots/">Teapots</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/sakeware/" class="sf-with-ul">Sakeware<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/tableware/sakeware/sake-coolers/">Sake Coolers</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/sakeware/sake-cups/">Sake Cups</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/sakeware/sake-servers/">Sake Servers</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/sakeware/sake-warmers/">Sake Warmers</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/sakeware/shochu-cups-servers/">Shochu Cups
                            &amp; Servers</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/bambooware/">Bambooware</a></li>
                      <li><a href="https://www.mtckitchen.com/tableware/bento-boxes/">Bento Boxes</a></li>
                      <li><a href="https://www.mtckitchen.com/tableware/serving-trays/">Serving Trays</a></li>
                      <li><a href="https://www.mtckitchen.com/tableware/sushi-sashimi-serveware/">Sushi &amp; Sashimi
                        Serveware</a></li>
                      <li><a href="https://www.mtckitchen.com/tableware/tabletop-cookware/" class="sf-with-ul">Tabletop
                        Cookware<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/tableware/tabletop-cookware/pots-casseroles/">Pots
                            &amp; Casseroles</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/tabletop-cookware/serving-utensils/">Serving
                            Utensils</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/tabletop-cookware/tonsui-dipping-saucer/">Tonsui
                            Dipping Saucer</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/japanese-clay-pots/">Japanese Clay Pots</a>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/"
                             class="sf-with-ul">White Porcelain Tableware<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a
                            href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/plates/">Plates</a>
                          </li>
                          <li><a
                            href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/small-bowls-6-dia/">Small
                            Bowls (&lt; 6" dia)</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/large-bowls-6-dia/">Large
                            Bowls (≥ 6" dia)</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/other-tableware/">Other
                            Tableware</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/"
                             class="sf-with-ul">Melamine Plastic Dinnerware<span
                        class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a
                            href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/bowls/">Bowls</a>
                          </li>
                          <li><a
                            href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/cups/">Cups</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/plates/">Plates</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/spoons/">Spoons</a>
                          </li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/ramen-essentials/" class="sf-with-ul">Ramen
                        Essentials<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/ramen-bowls/">Ramen
                            Bowls</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/spoons-chopsticks/">Spoons
                            &amp; Chopsticks</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/noodle-strainers/">Noodle
                            Strainers</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/ladles/">Ladles</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/soup-pots/">Soup Pots</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/yakumi-mise-en-place/">Yakumi
                            Mise En Place Pan</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/soup-refractometers/">Soup
                            Refractometers</a></li>
                          <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/others/">Others</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/specialty-tableware/">Specialty Tableware</a>
                      </li>
                      <li><a href="https://www.mtckitchen.com/tableware/table-mats-coasters-towel-trays/">Table Mats,
                        Coasters &amp; Towel Trays</a></li>
                      <li><a href="https://www.mtckitchen.com/tableware/collection/"
                             class="sf-with-ul">Collection<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a
                            href="https://www.mtckitchen.com/tableware/collection/kayanama-yaki/">Kayanama-yaki</a>
                          </li>

                        </ul>
                      </li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/bartools/" class="sf-with-ul">Bar Tools<span
                    class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/bar-tools/shakers/">Shakers</a></li>
                      <li><a href="https://www.mtckitchen.com/bar-tools/strainers/">Strainers</a></li>
                      <li><a href="https://www.mtckitchen.com/barware/jiggers/">Jiggers</a></li>
                      <li><a href="https://www.mtckitchen.com/bar-tools/barspoons/">Barspoons</a></li>
                      <li><a href="https://www.mtckitchen.com/barware/bitters-bottles/">Bitters Bottles</a></li>
                      <li><a href="https://www.mtckitchen.com/barware/ice-picks-other-accessories/">Ice Picks &amp;
                        Other Accessories</a></li>
                      <li><a href="https://www.mtckitchen.com/barware/mixing-glasses/">Mixing Glasses</a></li>
                      <li><a href="https://www.mtckitchen.com/bar-tools/muddler/">Muddler &amp; Whisk</a></li>
                      <li><a href="https://www.mtckitchen.com/barware/sommelier-knives/">Sommelier Knives</a></li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/disposables/" class="sf-with-ul">Disposables<span
                    class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/" class="sf-with-ul">Take
                        Out Containers<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/sushi-trays/">Sushi
                            Trays</a></li>
                          <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/bowls/">Bowls</a>
                          </li>
                          <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/bento-boxes/">Bento
                            Boxes</a></li>
                          <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/sushi-platters/">Sushi
                            Platters</a></li>
                          <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/deli-containers/">Deli
                            Containers</a></li>
                          <li><a
                            href="https://www.mtckitchen.com/disposables/take-out-containers/condiment-containers/">Condiment
                            Containers</a></li>
                          <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/microwaveable/">Microwaveable</a>
                          </li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/disposables/back-of-the-house-supplies/">Back of the
                        House Supplies</a></li>
                      <li><a href="https://www.mtckitchen.com/disposables/baran-decorative-plastic-grass/">Baran
                        Decorative Plastic Grass</a></li>
                      <li><a href="https://www.mtckitchen.com/disposables/chopsticks/"
                             class="sf-with-ul">Chopsticks<span class="sf-sub-indicator"> »</span></a>
                        <ul style="display: none; visibility: hidden;">
                          <li><a href="https://www.mtckitchen.com/disposables/chopsticks/bamboo/">Bamboo</a></li>
                          <li><a href="https://www.mtckitchen.com/disposables/chopsticks/birch/">Birch</a></li>
                          <li><a href="https://www.mtckitchen.com/disposables/chopsticks/cedar/">Cedar</a></li>
                          <li><a href="https://www.mtckitchen.com/disposables/chopsticks/pine/">Pine</a></li>
                          <li><a href="https://www.mtckitchen.com/disposables/chopsticks/poplar/">Poplar</a></li>

                        </ul>
                      </li>
                      <li><a href="https://www.mtckitchen.com/disposables/chopstick-sleeves/">Chopstick Sleeves</a>
                      </li>
                      <li><a href="https://www.mtckitchen.com/disposables/chopstick-helpers/">Chopstick Helpers</a>
                      </li>
                      <li><a href="https://www.mtckitchen.com/disposables/skewers-picks/">Skewers &amp; Picks</a></li>
                      <li><a href="https://www.mtckitchen.com/disposables/gloves/">Gloves</a></li>
                      <li><a href="https://www.mtckitchen.com/disposables/serving-pieces/">Serving Pieces</a></li>
                      <li><a href="https://www.mtckitchen.com/disposables/hand-towels/">Hand Towels</a></li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/" class="sf-with-ul">Uniforms,
                    Decorations &amp; Books<span class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/aprons/">Aprons</a></li>
                      <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/books/">Books</a></li>
                      <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/chef-coats/">Chef Coats</a>
                      </li>
                      <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/chochin-lanterns/">Chochin
                        Lanterns</a></li>
                      <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/decorations/">Decorations</a>
                      </li>
                      <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/happi-coats/">Happi Coats</a>
                      </li>
                      <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/headwear/">Headwear</a></li>
                      <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/noren-curtains/">Noren
                        Curtains</a></li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/clearance/" class="sf-with-ul">Clearance<span
                    class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/clearance/take-out-containers/">Take Out Containers</a>
                      </li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/food/" class="sf-with-ul">Foods<span
                    class="sf-sub-indicator"> »</span></a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="https://www.mtckitchen.com/food/shio-salt/">Shio (Salt)</a></li>
                      <li><a href="https://www.mtckitchen.com/food/shoyu-soy-sauce/">Shoyu (Soy Sauce)</a></li>
                      <li><a href="https://www.mtckitchen.com/food/oil/">Oil</a></li>
                      <li><a href="https://www.mtckitchen.com/food/konbu-kelp/">Konbu (Kelp)</a></li>
                      <li><a href="https://www.mtckitchen.com/food/dashi-packs/">Dashi Packs</a></li>
                      <li><a href="https://www.mtckitchen.com/food/sauce/">Sauce</a></li>
                      <li><a href="https://www.mtckitchen.com/food/kuzu/">Kuzu</a></li>
                      <li><a href="https://www.mtckitchen.com/food/ingredients-for-soba-and-udon-noodle-soup/">Ingredients
                        for Soba and Udon Noodle Soup</a></li>

                    </ul>
                  </li>
                  <li><a href="https://www.mtckitchen.com/new-items/">New Items</a></li>
                  <li><a href="https://www.mtckitchen.com/free-shipping-with-over-100-knives-purchase/">Free Shipping
                    with over $100 Knives Purchase</a></li>
                  <li><a href="https://www.mtckitchen.com/items-eligible-for-international-shipping/">Eligible Items
                    for International Shipping</a></li>

                </ul>

              </div>
            </div>
          </div>

          <div class="grid__item one-quarter"><h4>Cutlery 101</h4>
            <ul>
              <li><a href="https://www.mtckitchen.com/about-our-knife-brands/">About our knife brands</a></li>
              <li><a href="https://www.mtckitchen.com/about-japanese-knives/">About Japanese knives</a></li>
              <li><a href="https://www.mtckitchen.com/knife-styles/">Knife Styles</a></li>
              <li><a href="https://www.mtckitchen.com/choosing-a-knife/">Choosing a knife</a></li>
              <li><a href="https://www.mtckitchen.com/how-to-sharpen-your-knife/">How to sharpen your knife</a></li>
              <li><a href="https://www.mtckitchen.com/quick-tips-for-sharpening/">Quick tips for sharpening</a></li>
              <li><a href="https://www.mtckitchen.com/how-to-care-for-your-knife/">How to care for your knife</a></li>
              <li><a href="https://www.mtckitchen.com/tsukiji-masamoto-sharpening-stones/">Tsukiji Masamoto Sharpening
                Stones</a></li>
              <li><a href="https://www.mtckitchen.com/product-tutorial-videos/">Product / Tutorial Videos</a></li>
              <li><a href="https://www.mtckitchen.com/japanese-kitchen-knife-faq/">Japanese Kitchen Knife FAQ</a></li>
            </ul>
          </div>

          <div class="grid__item one-quarter">
            <h4>Company Information</h4>
            <ul>
              <li><a href="https://www.mtckitchen.com/about-us/">About Us</a></li>
              <li><a href="https://www.mtckitchen.com/corporate-history/">Corporate History</a></li>
              <li><a href="https://www.mtckitchen.com/branches-networks/">Branches &amp; Networks</a></li>
              <li><a href="https://www.mtckitchen.com/greetings/">Greetings</a></li>
              <!--<li><a href="https://www.mtckitchen.com/manhattan-store/">Manhattan Store</a></li>-->
            </ul>
            <!--<h4>Manhattan Store&nbsp;&nbsp;<a href="https://drive.google.com/open?id=1vQKPHpHbvsfqqR2xYAY4Rj2o17M&usp=sharing" target="_blank"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/bt_footermap.png?t=1509569864" width="38" height="15" alt="MAP" /></a></h4>
                  <p>711 3rd Avenue<br />
                  (on 45th between 2nd &amp; 3rd Aves.)<br />
                  Mon-Fri, 10am-7pm<br />
                  Closed on weekends and public holidays<br />
                  Tel: 212-661-3333</p>-->

            <h4>Links</h4>
            <ul>
              <li><a href="http://lamtc.com/publish20140721/" target="_blank">Online Catalog</a></li>
              <li><a href="http://www.nymtc.com/" target="_blank">NY Mutual Trading, INC.</a></li>
              <li><a href="http://www.mtcsake.com/welcome" target="_blank">MTC SAKE</a></li>
            </ul>
            <div id="socnet" class="Block SocialConnect Moveable Panel">
              <ul>
                <li><a href="https://www.instagram.com/mtckitchen/" target="_blank" class="icon-social icon-instagram"
                       title="Instagram">Instagram</a></li>
                <li><a href="https://www.facebook.com/mtckitchen/" target="_blank" class="icon-social icon-facebook"
                       title="Facebook">Facebook</a></li>
                <li><a href="https://twitter.com/MTCKitchen" target="_blank" class="icon-social icon-twitter"
                       title="Twitter">Twitter</a></li>
                <li><a href="https://www.youtube.com/user/MTCKitchen" target="_blank" class="icon-social icon-youtube"
                       title="YouTube">YouTube</a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-links">
      <div class="inner">
        <p>
          <span id="currencyPrices">All prices are in <span title="US Dollars">USD</span>.</span> © 2017 MTC Kitchen.
          <span id="sitemap"><a href="https://www.mtckitchen.com/sitemap/"><span>Sitemap</span></a>
</span>
        </p>

      </div>
    </div>

  </div>
</div>
