<div class="header">
  <div class="inner">

    <div id="AjaxLoading">
      <div class="ajax-loader">
        <img
          src="https://s3.us-east-2.amazonaws.com/msi-final-st/loader.png"
          alt="">&nbsp;Loading... Please wait...
      </div>
    </div>


    <div class="TopMenu">

      <div class="inner">
        <ul style="display:">

          <li style="display:" *ngIf="!checker">
            <div><a routerLink="/login" routerLinkActive="active">Sign in</a> or
              <a routerLink="/creataccount" routerLinkActive="active">Create an account</a>
            </div>
          </li>

            <li style="display:" *ngIf="checker">
              <div>Welcome to MTC! <a routerLink="/login" routerLinkActive="active" (click)="logout()">Log out</a></div>
            </li>



          <li style="display:" class="First">
            <a href="https://www.mtckitchen.com/account.php">My Account</a>
          </li>
          <li style="display:" class="wishLink">
            <a href="https://www.mtckitchen.com/wishlist.php">Wish Lists</a>
          </li>
          <li class="last CartLink js-drawermenu-cart" style="display:">
            <i class="icon icon-cart" title="View Cart">&nbsp;</i>
            <a routerLink="/checkout" routerLinkActive="active"><span> ({{ this.ordersService.totalItems | async }} items)</span></a>
          </li>
          <!--<li id="igFlag"><p><span>Ship To:</span><img onclick="ig_showTheSplash();"-->
          <!--src="https://s3.us-east-2.amazonaws.com/msi-final-st/US.png"-->
          <!--class="igWelcomeFlagHeader" alt="Select your country."></p>-->
          <!--</li>-->
        </ul>
      </div>
    </div>

    <div id="Header">
      <div class="inner">
        <div id="ToggleMenu" class="fa fa-bars normal"></div>
        <div class="header-logo">
          <a routerLink="/" routerLinkActive="active">
            <img
            src="https://s3.us-east-2.amazonaws.com/msi-final-st/mtc-logo_1463504634__44776.png"
            border="0" id="LogoImage" alt="MTC Kitchen"></a>

        </div>
        <div class="header-secondary">
          <div id="SearchForm" class="cf">
            <form action="https://www.mtckitchen.com/search-results" method="get"
                  onsubmit="return check_small_search_form()">
              <label for="search_query">Search</label>
              <span role="status" aria-live="polite"
                    class="isp_polite_powered_by_id ui-helper-hidden-accessible"></span><input type="text" name="q"
                                                                                               id="search_query"
                                                                                               class="Textbox autobox default ui-autocomplete-input"
                                                                                               placeholder="Search"
                                                                                               onfocus="this.placeholder = &#39;&#39;"
                                                                                               onblur="this.placeholder = &#39;Search&#39;"
                                                                                               autocomplete="OfF"
                                                                                               autocorrect="off"
                                                                                               autocapitalize="off"
                                                                                               isp_ac="OfF">
              <input type="submit" class="Button" value="" name="Search" title="Search">
            </form>
          </div>

          <script type="text/javascript">
            var QuickSearchAlignment = 'right';
            var QuickSearchWidth = '390px';
            lang.EmptySmallSearch = "You forgot to enter some search keywords.";
            // uniform() is deprecated in Blueprint theme; remove binding below when removing uniform
            $(document).ajaxComplete(function () {
              $('input[type=checkbox], select').not('.UniApplied').uniform();
            });
          </script>
        </div>
        <div id="cart-amount">
          <div id="igFlag-mobile"><p><span>Ship To:</span><img onclick="ig_showTheSplash();"
                                                               src="https://s3.us-east-2.amazonaws.com/msi-final-st/US.png"
                                                               class="igWelcomeFlagHeader" alt="Select your country.">
          </p></div>
          <a href="https://www.mtckitchen.com/cart.php" class="Cart"><span class="bag-handle"></span><span
            class="total">2</span></a>
        </div>
      </div>
    </div>

    <nav class="PageMenu">
      <div class="inner">
        <div class="CategoryList" id="SideCategoryList">
          <h3>Categories</h3>
          <div class="BlockContent">
            <div class="SideCategoryListFlyout">
              <ul class="sf-menu sf-horizontal sf-js-enabled">
                <li><a routerLink="/products" routerLinkActive="active">Japanese
                  Knives<span class="sf-sub-indicator"> »</span></a>
                  <ul style="display: none; visibility: hidden;">
                    <li><a href="https://www.mtckitchen.com/japanese-knives/western-style/" class="hasSub sf-with-ul">Western
                      Style<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/japanese-knives/western-style/gyuto-chefs-knife/">Gyuto
                          (Chef's Knife)</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/sujihiki-slicing-knife/">Sujihiki
                          (Slicing Knife)</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/petty-paring-knife/">Petty
                          (Paring Knife)</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/western-style/santoku/">Santoku</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/nakiri/">Nakiri</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/western-style/yo-deba/">Yo-Deba (Fish
                          Knife)</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/bread-knife/">Bread Knife</a>
                        </li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/japanese-knives/japanese-style/"
                           class="hasSub sf-with-ul">Japanese Style<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/">Yanagi (Sushi
                          Knife)</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/deba/">Deba</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/usuba/">Usuba</a></li>
                        <li><a
                          href="https://www.mtckitchen.com/japanese-knives/style/honesuki-garasuki-boning-knife/">Honesuki/Garasuki
                          (Boning Knife)</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/kiritsuke/">Kiritsuke</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/takohiki/">Takohiki</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/style/mukimono/">Mukimono</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/japanese-knives/brand/"
                           class="hasSub sf-with-ul">Brand<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/tsukiji-masamoto/">Tsukiji
                          Masamoto</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/nenox/">Nenox</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/takamura/">Takamura</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/haku/">Haku</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/sakai-takayuki/">Sakai
                          Takayuki</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/aritsugu/">Aritsugu</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/misono/">Misono</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/seki-kanetsugu/">Seki
                          Kanetsugu</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/caddie/">Caddie</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/ikkaku-donryu/">Ikkaku
                          Donryu</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/shun/">Shun</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/global/">Global</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/sakon/">Sakon</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/kyocera/">Kyocera</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/brand/ajimisaku/">Ajimisaku</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/japanese-knives/accessories/" class="hasSub sf-with-ul">Accessories<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/japanese-knives/accessories/knife-bags/">Knife
                          Bags</a></li>
                        <li><a href="https://www.mtckitchen.com/japanese-knives/accessories/knife-covers/">Knife
                          Covers</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/japanese-knives/left-handed/">Left-Handed</a></li>

                  </ul>
                </li>
                <li class=""><a href="https://www.mtckitchen.com/sharpening-stones/" class="hasSub sf-with-ul">Sharpening
                  Stones<span class="sf-sub-indicator"> »</span></a>
                  <ul style="visibility: hidden; display: none;">
                    <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/"
                           class="hasSub sf-with-ul">Brand<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/king/">King</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/shapton/">Shapton</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/atoma-diamond-plate/">Atoma
                          Diamond Plate</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/suehiro/">Suehiro</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/naniwa/">Naniwa</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/arashiyama-1/">Arashiyama</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/tsukiji-masamoto/">Tsukiji
                          Masamoto</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/nenohi/">Nenohi</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/sun-tiger/">Sun Tiger</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/kyocera/">Kyocera</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/brand/others/">Others</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/sharpening-stones/grit/"
                           class="hasSub sf-with-ul">Grit<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/grit/coarse/">Coarse</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/grit/medium/">Medium</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/grit/fine/">Fine</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/grit/double-sided/">Double-sided</a>
                        </li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/sharpening-stones/material/" class="hasSub sf-with-ul">Material<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/material/ceramic/">Ceramic</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/material/diamond/">Diamond</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/material/synthetic/">Synthetic</a>
                        </li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/" class="hasSub sf-with-ul">Accessories<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/handy-sharpeners/">Handy
                          Sharpeners</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/polish/">Polish</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/rust-removers/">Rust
                          Removers</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/sharpening-guides/">Sharpening
                          Guides</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/steels/">Steels</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/stone-fixers/">Stone
                          Fixers</a></li>
                        <li><a href="https://www.mtckitchen.com/sharpening-stones/accessories/stone-holders/">Stone
                          Holders</a></li>

                      </ul>
                    </li>

                  </ul>
                </li>
                <li><a href="https://www.mtckitchen.com/sushi-supplies/" class="hasSub sf-with-ul">Sushi Supplies<span
                  class="sf-sub-indicator"> »</span></a>
                  <ul style="display: none; visibility: hidden;">
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/baran-decorative-plastic-grass/">Baran
                      Decorative Plastic Grass</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/bento-boxes/">Bento Boxes</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/hangiri-rice-barrels-shamoji-spatulas/">Hangiri
                      Rice Barrels &amp; Shamoji Spatulas</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/low-temperature-freezers/">Low Temperature
                      Freezers</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/makisu-sushi-rolling-mats/">Makisu Sushi
                      Rolling Mats</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/mise-en-place-containers/">Mise En Place
                      Containers</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/miso-soup-bowls/">Miso Soup Bowls</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/"
                           class="hasSub sf-with-ul">Rice Cookers &amp; Warmers<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/rice-cookers/">Rice
                          Cookers</a></li>
                        <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/rice-warmers/">Rice
                          Warmers</a></li>
                        <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/spare-pans/">Spare
                          Pans</a></li>
                        <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-cookers-warmers/spare-parts/">Spare
                          Parts</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/rice-presses-molds/">Rice Presses &amp;
                      Molds</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/serving-trays/">Serving Trays</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/soy-sauce-dishes-dispensers/"
                           class="hasSub sf-with-ul">Soy Sauce Dishes &amp; Dispensers<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a
                          href="https://www.mtckitchen.com/sushi-supplies/soy-sauce-dishes-dispensers/soy-sauce-dishes/">Soy
                          Sauce Dishes</a></li>
                        <li><a
                          href="https://www.mtckitchen.com/sushi-supplies/soy-sauce-dishes-dispensers/soy-sauce-dispensers/">Soy
                          Sauce Dispensers</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-sashimi-serveware/">Sushi &amp;
                      Sashimi Serveware</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-cases-accessories/"
                           class="hasSub sf-with-ul">Sushi Cases &amp; Accessories<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-cases-accessories/accessories/">Accessories</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-cases-accessories/sushi-cases/">Sushi
                          Cases</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-robots/">Sushi Robots</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-chef-tools/">Sushi Chef Tools</a>
                    </li>
                    <li><a href="https://www.mtckitchen.com/sushi-supplies/sushi-take-out-containers/">Sushi Take Out
                      Containers</a></li>
                    <li><a href="https://www.mtckitchen.com/sushi-essentials/">SUSHI ESSENTIALS</a></li>

                  </ul>
                </li>
                <li><a href="https://www.mtckitchen.com/kitchenware/" class="hasSub sf-with-ul">Kitchenware<span
                  class="sf-sub-indicator"> »</span></a>
                  <ul style="display: none; visibility: hidden;">
                    <li><a href="https://www.mtckitchen.com/kitchenware/colanders-strainers/">Colanders &amp;
                      Strainers</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/cookware/"
                           class="hasSub sf-with-ul">Cookware<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/kitchenware/cookware/pots-pans/">Pots &amp; Pans</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/cookware/lids/">Lids</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/cookware/grills/">Grills</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/cookware/stoves/">Stoves</a></li>
                        <li><a href="https://www.mtckitchen.com/steamers/">Steamers</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/cookware/burners/">Burners</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/cutting-boards/">Cutting Boards</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/deep-frying-utensils/">Deep Frying
                      Utensils</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/fish-bone-tweezers-scalers/">Fish Bone
                      Tweezers &amp; Scalers</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/" class="hasSub sf-with-ul">Kitchen
                      Utensils<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/graters/">Graters</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/ladles/">Ladles</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/molds/">Molds</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/peeler/">Peeler</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/chopsticks/">Plating
                          Chopsticks</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/scissors/">Scissors</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/skimmers/">Skimmers</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/spatulas/">Spatulas</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/kitchen-utensils/tongs/">Tongs</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/measuring-tools/">Measuring Tools</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/mise-en-place-containers/">Mise En Place
                      Containers</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/mortar-pestle/">Mortar &amp; Pestle</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/"
                           class="hasSub sf-with-ul">Rice Cookers &amp; Warmers<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/rice-cookers/">Rice
                          Cookers</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/rice-warmers/">Rice
                          Warmers</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/spare-pans/">Spare
                          Pans</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/rice-cookers-warmers/spare-parts/">Spare
                          Parts</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/rice-presses-molds/">Rice Presses &amp;
                      Molds</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/skewers-picks/">Skewers &amp; Picks</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/smoking-wood/">Smoking Wood</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/specialty-items/">Specialty Items</a></li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/"
                           class="hasSub sf-with-ul">Vegetable Slicers &amp; Mandolines<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a
                          href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/electric-slicers/">Electric
                          Slicers</a></li>
                        <li><a href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/mandolines/">Mandolines</a>
                        </li>
                        <li><a
                          href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/manual-slicers/">Manual
                          Slicers</a></li>
                        <li><a
                          href="https://www.mtckitchen.com/kitchenware/vegetable-slicers-mandolines/spare-blades/">Spare
                          Blades</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/kitchenware/yakitori-robata-grills/">Yakitori &amp; Robata
                      Grills</a></li>

                  </ul>
                </li>
                <li class=""><a href="https://www.mtckitchen.com/tableware/" class="hasSub sf-with-ul">Tableware<span
                  class="sf-sub-indicator"> »</span></a>
                  <ul style="visibility: hidden; display: none;">
                    <li><a href="https://www.mtckitchen.com/tableware/new-tableware/">New Tableware</a></li>
                    <li><a href="https://www.mtckitchen.com/tableware/bowls/" class="hasSub sf-with-ul">Bowls<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/tableware/bowls/small-bowls/">Small Bowls (&lt; 6"
                          dia)</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/bowls/large-bowls/">Large Bowls (≥ 6"
                          dia)</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/noodle-bowls-plates/ramen-bowls/">Ramen
                          Bowls</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/bowls/soba-udon-bowls-plates/">Soba &amp;
                          Udon Bowls &amp; Plates</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/plates/" class="hasSub sf-with-ul">Plates<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/tableware/plates/extra-small-plates-4-1-2/">Extra
                          Small Plates (&lt; 4 1/2")</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/plates/small-plates-4-1-2-6-1-4/">Small
                          Plates (4 1/2"- 6 1/4")</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/plates/medium-plates-6-1-2-8-1-2/">Medium
                          Plates (6 1/2"- 8 1/2")</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/plates/large-plates-8-1-2/">Large Plates (&gt;
                          8 1/2")</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/plates/rectangular/">Rectangular</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/plates/round/">Round</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/plates/square/">Square</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/plates/oval/">Oval</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/soy-sauce-dishes-dispensers/"
                           class="hasSub sf-with-ul">Soy Sauce Dishes &amp; Dispensers<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a
                          href="https://www.mtckitchen.com/tableware/soy-sauce-dishes-dispensers/soy-sauce-dishes/">Soy
                          Sauce Dishes</a></li>
                        <li><a
                          href="https://www.mtckitchen.com/tableware/soy-sauce-dishes-dispensers/soy-sauce-dispensers/">Soy
                          Sauce Dispensers</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/glassware/"
                           class="hasSub sf-with-ul">Glassware<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/tableware/glassware/tumblers/">Tumblers</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/glassware/sake-cups/">Sake Cups</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/glassware/beer-glasses/">Beer Glasses</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/tableware/glassware/rock-glasses/">Rock Glasses</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/tableware/glassware/wine-glasses/">Wine Glasses</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/carafes-servers/">Carafes &amp; Servers</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/glassware/bowls/">Bowls</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/glassware/plates/">Plates</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/glassware/soy-sauce-dispensers/">Soy Sauce
                          Dispensers </a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/glassware/tebineri-series/">Tebineri
                          Series</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/chopsticks-rests/" class="hasSub sf-with-ul">Chopsticks
                      &amp; Rests<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/tableware/chopsticks-rests/chopsticks/">Chopsticks</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/tableware/chopsticks-rests/chopstick-rests/">Chopstick
                          Rests</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/spoons/">Spoons &amp; Forks</a></li>
                    <li><a href="https://www.mtckitchen.com/tableware/teaware/" class="hasSub sf-with-ul">Teaware<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/tableware/teaware/hot-water-dispensers/">Hot Water
                          Dispensers</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/teaware/cast-iron-teapots-cups/">Nanbu Cast
                          Iron Teapots &amp; Cups</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/teaware/tea-accessories/">Tea
                          Accessories</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/teaware/tea-cups/">Tea Cups</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/teaware/tea-strainers/">Tea Strainers</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/tableware/teaware/teapots/">Teapots</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/sakeware/"
                           class="hasSub sf-with-ul">Sakeware<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/tableware/sakeware/sake-coolers/">Sake Coolers</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/tableware/sakeware/sake-cups/">Sake Cups</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/sakeware/sake-servers/">Sake Servers</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/tableware/sakeware/sake-warmers/">Sake Warmers</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/tableware/sakeware/shochu-cups-servers/">Shochu Cups
                          &amp; Servers</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/bambooware/">Bambooware</a></li>
                    <li><a href="https://www.mtckitchen.com/tableware/bento-boxes/">Bento Boxes</a></li>
                    <li><a href="https://www.mtckitchen.com/tableware/serving-trays/">Serving Trays</a></li>
                    <li><a href="https://www.mtckitchen.com/tableware/sushi-sashimi-serveware/">Sushi &amp; Sashimi
                      Serveware</a></li>
                    <li><a href="https://www.mtckitchen.com/tableware/tabletop-cookware/" class="hasSub sf-with-ul">Tabletop
                      Cookware<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/tableware/tabletop-cookware/pots-casseroles/">Pots
                          &amp; Casseroles</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/tabletop-cookware/serving-utensils/">Serving
                          Utensils</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/tabletop-cookware/tonsui-dipping-saucer/">Tonsui
                          Dipping Saucer</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/japanese-clay-pots/">Japanese Clay Pots</a></li>
                    <li><a href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/"
                           class="hasSub sf-with-ul">White Porcelain Tableware<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a
                          href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/plates/">Plates</a>
                        </li>
                        <li><a
                          href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/small-bowls-6-dia/">Small
                          Bowls (&lt; 6" dia)</a></li>
                        <li><a
                          href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/large-bowls-6-dia/">Large
                          Bowls (≥ 6" dia)</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/white-porcelain-tableware/other-tableware/">Other
                          Tableware</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/"
                           class="hasSub sf-with-ul">Melamine Plastic Dinnerware<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a
                          href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/bowls/">Bowls</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/cups/">Cups</a>
                        </li>
                        <li><a
                          href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/plates/">Plates</a>
                        </li>
                        <li><a
                          href="https://www.mtckitchen.com/tableware/melamine-plastic-dinnerware/spoons/">Spoons</a>
                        </li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/ramen-essentials/" class="hasSub sf-with-ul">Ramen
                      Essentials<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/ramen-bowls/">Ramen
                          Bowls</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/spoons-chopsticks/">Spoons
                          &amp; Chopsticks</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/noodle-strainers/">Noodle
                          Strainers</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/ladles/">Ladles</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/soup-pots/">Soup Pots</a>
                        </li>
                        <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/yakumi-mise-en-place/">Yakumi
                          Mise En Place Pan</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/soup-refractometers/">Soup
                          Refractometers</a></li>
                        <li><a href="https://www.mtckitchen.com/tableware/ramen-essentials/others/">Others</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/specialty-tableware/">Specialty Tableware</a>
                    </li>
                    <li><a href="https://www.mtckitchen.com/tableware/table-mats-coasters-towel-trays/">Table Mats,
                      Coasters &amp; Towel Trays</a></li>
                    <li><a href="https://www.mtckitchen.com/tableware/collection/" class="hasSub sf-with-ul">Collection<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/tableware/collection/kayanama-yaki/">Kayanama-yaki</a>
                        </li>

                      </ul>
                    </li>

                  </ul>
                </li>
                <li class=""><a href="https://www.mtckitchen.com/bartools/" class="hasSub sf-with-ul">Bar Tools<span
                  class="sf-sub-indicator"> »</span></a>
                  <ul style="visibility: hidden; display: none;">
                    <li><a href="https://www.mtckitchen.com/bar-tools/shakers/">Shakers</a></li>
                    <li><a href="https://www.mtckitchen.com/bar-tools/strainers/">Strainers</a></li>
                    <li><a href="https://www.mtckitchen.com/barware/jiggers/">Jiggers</a></li>
                    <li><a href="https://www.mtckitchen.com/bar-tools/barspoons/">Barspoons</a></li>
                    <li><a href="https://www.mtckitchen.com/barware/bitters-bottles/">Bitters Bottles</a></li>
                    <li><a href="https://www.mtckitchen.com/barware/ice-picks-other-accessories/">Ice Picks &amp;
                      Other Accessories</a></li>
                    <li><a href="https://www.mtckitchen.com/barware/mixing-glasses/">Mixing Glasses</a></li>
                    <li><a href="https://www.mtckitchen.com/bar-tools/muddler/">Muddler &amp; Whisk</a></li>
                    <li><a href="https://www.mtckitchen.com/barware/sommelier-knives/">Sommelier Knives</a></li>

                  </ul>
                </li>
                <li class=""><a href="https://www.mtckitchen.com/disposables/"
                                class="hasSub sf-with-ul">Disposables<span class="sf-sub-indicator"> »</span></a>
                  <ul style="visibility: hidden; display: none;">
                    <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/"
                           class="hasSub sf-with-ul">Take Out Containers<span class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/sushi-trays/">Sushi
                          Trays</a></li>
                        <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/bowls/">Bowls</a></li>
                        <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/bento-boxes/">Bento
                          Boxes</a></li>
                        <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/sushi-platters/">Sushi
                          Platters</a></li>
                        <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/deli-containers/">Deli
                          Containers</a></li>
                        <li><a
                          href="https://www.mtckitchen.com/disposables/take-out-containers/condiment-containers/">Condiment
                          Containers</a></li>
                        <li><a href="https://www.mtckitchen.com/disposables/take-out-containers/microwaveable/">Microwaveable</a>
                        </li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/disposables/back-of-the-house-supplies/">Back of the House
                      Supplies</a></li>
                    <li><a href="https://www.mtckitchen.com/disposables/baran-decorative-plastic-grass/">Baran
                      Decorative Plastic Grass</a></li>
                    <li><a href="https://www.mtckitchen.com/disposables/chopsticks/" class="hasSub sf-with-ul">Chopsticks<span
                      class="sf-sub-indicator"> »</span></a>
                      <ul style="display: none; visibility: hidden;">
                        <li><a href="https://www.mtckitchen.com/disposables/chopsticks/bamboo/">Bamboo</a></li>
                        <li><a href="https://www.mtckitchen.com/disposables/chopsticks/birch/">Birch</a></li>
                        <li><a href="https://www.mtckitchen.com/disposables/chopsticks/cedar/">Cedar</a></li>
                        <li><a href="https://www.mtckitchen.com/disposables/chopsticks/pine/">Pine</a></li>
                        <li><a href="https://www.mtckitchen.com/disposables/chopsticks/poplar/">Poplar</a></li>

                      </ul>
                    </li>
                    <li><a href="https://www.mtckitchen.com/disposables/chopstick-sleeves/">Chopstick Sleeves</a></li>
                    <li><a href="https://www.mtckitchen.com/disposables/chopstick-helpers/">Chopstick Helpers</a></li>
                    <li><a href="https://www.mtckitchen.com/disposables/skewers-picks/">Skewers &amp; Picks</a></li>
                    <li><a href="https://www.mtckitchen.com/disposables/gloves/">Gloves</a></li>
                    <li><a href="https://www.mtckitchen.com/disposables/serving-pieces/">Serving Pieces</a></li>
                    <li><a href="https://www.mtckitchen.com/disposables/hand-towels/">Hand Towels</a></li>

                  </ul>
                </li>
                <li class=""><a href="https://www.mtckitchen.com/uniforms-decorations-books/"
                                class="hasSub sf-with-ul">Uniforms, Decorations &amp; Books<span
                  class="sf-sub-indicator"> »</span></a>
                  <ul style="visibility: hidden; display: none;">
                    <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/aprons/">Aprons</a></li>
                    <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/books/">Books</a></li>
                    <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/chef-coats/">Chef Coats</a>
                    </li>
                    <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/chochin-lanterns/">Chochin
                      Lanterns</a></li>
                    <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/decorations/">Decorations</a>
                    </li>
                    <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/happi-coats/">Happi Coats</a>
                    </li>
                    <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/headwear/">Headwear</a></li>
                    <li><a href="https://www.mtckitchen.com/uniforms-decorations-books/noren-curtains/">Noren
                      Curtains</a></li>

                  </ul>
                </li>
                <li class=""><a href="https://www.mtckitchen.com/clearance/" class="hasSub sf-with-ul">Clearance<span
                  class="sf-sub-indicator"> »</span></a>
                  <ul style="visibility: hidden; display: none;">
                    <li><a href="https://www.mtckitchen.com/clearance/take-out-containers/">Take Out Containers</a>
                    </li>

                  </ul>
                </li>
                <li class=""><a href="https://www.mtckitchen.com/food/" class="hasSub sf-with-ul">Foods<span
                  class="sf-sub-indicator"> »</span></a>
                  <ul style="visibility: hidden; display: none;">
                    <li class=""><a href="https://www.mtckitchen.com/food/shio-salt/">Shio (Salt)</a></li>
                    <li class=""><a href="https://www.mtckitchen.com/food/shoyu-soy-sauce/">Shoyu (Soy Sauce)</a></li>
                    <li class=""><a href="https://www.mtckitchen.com/food/oil/">Oil</a></li>
                    <li class=""><a href="https://www.mtckitchen.com/food/konbu-kelp/">Konbu (Kelp)</a></li>
                    <li class=""><a href="https://www.mtckitchen.com/food/dashi-packs/">Dashi Packs</a></li>
                    <li><a href="https://www.mtckitchen.com/food/sauce/">Sauce</a></li>
                    <li class=""><a href="https://www.mtckitchen.com/food/kuzu/">Kuzu</a></li>
                    <li class=""><a href="https://www.mtckitchen.com/food/ingredients-for-soba-and-udon-noodle-soup/">Ingredients
                      for Soba and Udon Noodle Soup</a></li>

                  </ul>
                </li>
                <li><a href="https://www.mtckitchen.com/new-items/">New Items</a></li>
                <li><a href="https://www.mtckitchen.com/free-shipping-with-over-100-knives-purchase/">Free Shipping
                  with over $100 Knives Purchase</a></li>
                <li><a href="https://www.mtckitchen.com/items-eligible-for-international-shipping/">Eligible Items for
                  International Shipping</a></li>

              </ul>

            </div>
          </div>
        </div>

      </div>
    </nav>

  </div>

  <div class="SecPromo"><a
    href="https://www.mtckitchen.com/free-shipping-with-over-100-knives-purchase?utm_source=mtckitchen&amp;utm_campaign=knife_freeship&amp;utm_medium=top-head-banner">Free
    Shipping on Orders Over $100 for Knives within the Contiguous U.S.</a></div>

</div>
