<div class="main">
  <div class="inner">
    <div class="Content Widest" id="LayoutColumn1">
      <div class="Block Moveable Panel Breadcrumb" id="CartBreadcrumb">
        <ul class="last">
          <li><a href="https://www.mtckitchen.com/">Home</a></li><li><a href="javascript:history.go(-1)">... Previous Page</a></li><li>Your Shopping Cart</li>
        </ul>
      </div>




      <div class="Block Moveable Panel" id="CartHeader">
        <h1 class="TitleHeading">
          Your Shopping Cart
        </h1>
      </div>
      <div class="txtR" style=";">
        <a class="btn" href="https://www.mtckitchen.com/checkout.php" onclick="" title="Click here to proceed to checkout">Proceed To Checkout</a>

      </div>


      <div class="fullwidth">
        <div class="Block Moveable Panel" id="CartStatusMessage" style="display:none;"></div>
        <script type="text/javascript">
          lang.InvalidQuantity = "Please enter a valid product quantity.";
          lang.Calculating = "Estimating..."
          lang.CalculateShipping = "Estimate Shipping &amp; Tax"
          lang.ChooseShippingMethod = "Please choose a shipping method."
          lang.CartRemoveConfirm = 'Are you sure you want to remove this item from your cart?';
          lang.ConfirmRemoveGiftWrapping = 'Are you sure you want to remove the gift wrapping from this item?';
          lang.SelectCountry = 'Please choose your country.';
          lang.SelectState = 'Please choose a state/province.';
          lang.EnterZip = 'Please type in your zip/postcode.';
        </script>
        <script src="https://cdn6.bigcommerce.com/r-f6aaf3462fdfeac2f4adca6b61526eb3ec93a5ac/javascript/jquery/plugins/imodal/imodal.js?" type="text/javascript"></script>
        <div class="Block Moveable Panel" id="CartContent">
          <div class="BlockContent">
            <div style="display: ">
              <form enctype="multipart/form-data" onsubmit="return Cart.ValidateQuantityForm(this);" action="cart.php" name="cartForm" id="cartForm" method="post">
                <input type="hidden" name="action" value="update">
                <table class="CartContents Stylize General" cellspacing="0" cellpadding="0">
                  <thead>
                  <tr class="First Last Odd Even">
                    <th colspan="2">Cart Items</th>
                    <th>Qty</th>
                    <th>Item Price</th>
                    <th>Total</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tfoot>
                  <!--<tr class="SubTotal First">-->
                    <!--<td colspan="5" class="Even"><div>Subtotal</div></td>-->
                    <!--<td class="Odd"><div><em class="ProductPrice">{{ getTotal() | async | currency}}</em></div></td>-->
                  <!--</tr>-->
                  <!--<tr class="SubTotal Odd Even" style="display: none">-->
                    <!--<td colspan="5" class="Even"><div>Gift Wrapping</div></td>-->
                    <!--<td class="Odd"><div><em class="ProductPrice"></em></div></td>-->
                  <!--</tr>-->

                  <!--<tr class="SubTotal" style="display: none">-->
                    <!--<td colspan="5" class="Even"><div>Discount</div></td>-->
                    <!--<td class="Odd"><div><em class="ProductPrice"></em></div></td>-->
                  <!--</tr>-->
                  <!--<tr class="SubTotal Odd Even" style="">-->
                    <!--<td colspan="6" class="Even">-->
                      <!--<div>-->
                        <!--&lt;!&ndash;<p style="font-size:14px;color: #bc0100;float:left;line-height:35px;margin-bottom:0;">* For outside of U.S. orders, please skip this step and PROCEED to CHECKOUT.</p>&ndash;&gt;-->
                        <!--<a href="#" class="EstimateShippingLink btn alt" onclick="ToggleShippingEstimation2(); return false;">Estimate Shipping &amp; Tax</a>-->
                        <!--<div class="EstimateShipping" style="display: none;">-->

                          <!--<dl class="form">-->
                            <!--<dt><span class="Required">*</span>&nbsp;Country:</dt>-->
                            <!--<dd>-->
                              <!--<div class="selector fixedWidth" id="uniform-shippingZoneCountry"><span style="user-select: none;">United States</span><select name="shippingZoneCountry" id="shippingZoneCountry" onchange="Cart.ToggleShippingEstimateCountry();">-->
                                <!--<option value="0">&#45;&#45; Choose a Country &#45;&#45;</option><option value="1">Afghanistan</option><option value="2">Albania</option><option value="3">Algeria</option><option value="4">American Samoa</option><option value="5">Andorra</option><option value="6">Angola</option><option value="7">Anguilla</option><option value="8">Antarctica</option><option value="9">Antigua and Barbuda</option><option value="10">Argentina</option><option value="11">Armenia</option><option value="12">Aruba</option><option value="13">Australia</option><option value="14">Austria</option><option value="15">Azerbaijan</option><option value="16">Bahamas</option><option value="17">Bahrain</option><option value="18">Bangladesh</option><option value="19">Barbados</option><option value="20">Belarus</option><option value="21">Belgium</option><option value="22">Belize</option><option value="23">Benin</option><option value="24">Bermuda</option><option value="25">Bhutan</option><option value="26">Bolivia</option><option value="247">Bonaire, Sint Eustatius and Saba</option><option value="27">Bosnia and Herzegovina</option><option value="28">Botswana</option><option value="29">Bouvet Island</option><option value="30">Brazil</option><option value="31">British Indian Ocean Territory</option><option value="32">Brunei Darussalam</option><option value="33">Bulgaria</option><option value="34">Burkina Faso</option><option value="35">Burundi</option><option value="36">Cambodia</option><option value="37">Cameroon</option><option value="38">Canada</option><option value="39">Cape Verde</option><option value="40">Cayman Islands</option><option value="41">Central African Republic</option><option value="42">Chad</option><option value="43">Chile</option><option value="44">China</option><option value="45">Christmas Island</option><option value="46">Cocos (Keeling) Islands</option><option value="47">Colombia</option><option value="48">Comoros</option><option value="49">Congo</option><option value="50">Congo, the Democratic Republic of the</option><option value="51">Cook Islands</option><option value="52">Costa Rica</option><option value="246">Cote d'Ivoire</option><option value="54">Croatia</option><option value="55">Cuba</option><option value="56">Cyprus</option><option value="57">Czech Republic</option><option value="58">Denmark</option><option value="59">Djibouti</option><option value="60">Dominica</option><option value="61">Dominican Republic</option><option value="62">Ecuador</option><option value="63">Egypt</option><option value="64">El Salvador</option><option value="65">Equatorial Guinea</option><option value="66">Eritrea</option><option value="67">Estonia</option><option value="68">Ethiopia</option><option value="69">Falkland Islands (Malvinas)</option><option value="70">Faroe Islands</option><option value="71">Fiji</option><option value="72">Finland</option><option value="73">France</option><option value="74">French Guiana</option><option value="75">French Polynesia</option><option value="76">French Southern Territories</option><option value="77">Gabon</option><option value="78">Gambia</option><option value="79">Georgia</option><option value="80">Germany</option><option value="81">Ghana</option><option value="82">Gibraltar</option><option value="83">Greece</option><option value="84">Greenland</option><option value="85">Grenada</option><option value="86">Guadeloupe</option><option value="87">Guam</option><option value="88">Guatemala</option><option value="242">Guernsey</option><option value="89">Guinea</option><option value="90">Guinea-Bissau</option><option value="91">Guyana</option><option value="92">Haiti</option><option value="93">Heard Island and Mcdonald Islands</option><option value="94">Holy See (Vatican City State)</option><option value="95">Honduras</option><option value="96">Hong Kong</option><option value="97">Hungary</option><option value="98">Iceland</option><option value="99">India</option><option value="100">Indonesia</option><option value="101">Iran, Islamic Republic of</option><option value="102">Iraq</option><option value="103">Ireland</option><option value="240">Isle of Man</option><option value="104">Israel</option><option value="105">Italy</option><option value="106">Jamaica</option><option value="107">Japan</option><option value="241">Jersey</option><option value="108">Jordan</option><option value="109">Kazakhstan</option><option value="110">Kenya</option><option value="111">Kiribati</option><option value="244">Korea, Democratic People's Republic of</option><option value="113">Korea, Republic of</option><option value="114">Kuwait</option><option value="115">Kyrgyzstan</option><option value="243">Lao People's Democratic Republic</option><option value="117">Latvia</option><option value="118">Lebanon</option><option value="119">Lesotho</option><option value="120">Liberia</option><option value="121">Libyan Arab Jamahiriya</option><option value="122">Liechtenstein</option><option value="123">Lithuania</option><option value="124">Luxembourg</option><option value="125">Macao</option><option value="126">Macedonia, the Former Yugoslav Republic of</option><option value="127">Madagascar</option><option value="128">Malawi</option><option value="129">Malaysia</option><option value="130">Maldives</option><option value="131">Mali</option><option value="132">Malta</option><option value="133">Marshall Islands</option><option value="134">Martinique</option><option value="135">Mauritania</option><option value="136">Mauritius</option><option value="137">Mayotte</option><option value="138">Mexico</option><option value="139">Micronesia, Federated States of</option><option value="140">Moldova, Republic of</option><option value="141">Monaco</option><option value="142">Mongolia</option><option value="245">Montenegro</option><option value="143">Montserrat</option><option value="144">Morocco</option><option value="145">Mozambique</option><option value="146">Myanmar</option><option value="147">Namibia</option><option value="148">Nauru</option><option value="149">Nepal</option><option value="150">Netherlands</option><option value="151">Netherlands Antilles</option><option value="152">New Caledonia</option><option value="153">New Zealand</option><option value="154">Nicaragua</option><option value="155">Niger</option><option value="156">Nigeria</option><option value="157">Niue</option><option value="158">Norfolk Island</option><option value="159">Northern Mariana Islands</option><option value="160">Norway</option><option value="161">Oman</option><option value="162">Pakistan</option><option value="163">Palau</option><option value="164">Palestinian Territory, Occupied</option><option value="165">Panama</option><option value="166">Papua New Guinea</option><option value="167">Paraguay</option><option value="168">Peru</option><option value="169">Philippines</option><option value="170">Pitcairn</option><option value="171">Poland</option><option value="172">Portugal</option><option value="173">Puerto Rico</option><option value="174">Qatar</option><option value="248">Republic of Kosovo</option><option value="175">Reunion</option><option value="176">Romania</option><option value="177">Russian Federation</option><option value="178">Rwanda</option><option value="179">Saint Helena</option><option value="180">Saint Kitts and Nevis</option><option value="181">Saint Lucia</option><option value="182">Saint Pierre and Miquelon</option><option value="183">Saint Vincent and the Grenadines</option><option value="184">Samoa</option><option value="185">San Marino</option><option value="186">Sao Tome and Principe</option><option value="187">Saudi Arabia</option><option value="188">Senegal</option><option value="189">Serbia</option><option value="190">Seychelles</option><option value="191">Sierra Leone</option><option value="192">Singapore</option><option value="193">Slovakia</option><option value="194">Slovenia</option><option value="195">Solomon Islands</option><option value="196">Somalia</option><option value="197">South Africa</option><option value="198">South Georgia and the South Sandwich Islands</option><option value="199">Spain</option><option value="200">Sri Lanka</option><option value="201">Sudan</option><option value="202">Suriname</option><option value="203">Svalbard and Jan Mayen</option><option value="204">Swaziland</option><option value="205">Sweden</option><option value="206">Switzerland</option><option value="207">Syrian Arab Republic</option><option value="208">Taiwan</option><option value="209">Tajikistan</option><option value="210">Tanzania, United Republic of</option><option value="211">Thailand</option><option value="212">Timor-Leste</option><option value="213">Togo</option><option value="214">Tokelau</option><option value="215">Tonga</option><option value="216">Trinidad and Tobago</option><option value="217">Tunisia</option><option value="218">Turkey</option><option value="219">Turkmenistan</option><option value="220">Turks and Caicos Islands</option><option value="221">Tuvalu</option><option value="222">Uganda</option><option value="223">Ukraine</option><option value="224">United Arab Emirates</option><option value="225">United Kingdom</option><option value="226" selected="selected">United States</option><option value="227">United States Minor Outlying Islands</option><option value="228">Uruguay</option><option value="229">Uzbekistan</option><option value="230">Vanuatu</option><option value="231">Venezuela</option><option value="232">Viet Nam</option><option value="233">Virgin Islands, British</option><option value="234">Virgin Islands, U.S.</option><option value="235">Wallis and Futuna</option><option value="236">Western Sahara</option><option value="237">Yemen</option><option value="238">Zambia</option><option value="239">Zimbabwe</option>-->
                              <!--</select></div>-->
                            <!--</dd>-->

                            <!--<dt><span class="Required" id="shippingZoneStateRequired">*</span>&nbsp;State/Province:</dt>-->
                            <!--<dd>-->
                              <!--<div class="selector fixedWidth" id="uniform-shippingZoneState"><span style="user-select: none;">Choose a State</span><select style="display: " name="shippingZoneState" id="shippingZoneState">-->
                                <!--<option value="0">Choose a State</option><option value="1">Alabama</option><option value="2">Alaska</option><option value="3">American Samoa</option><option value="4">Arizona</option><option value="5">Arkansas</option><option value="6">Armed Forces Africa</option><option value="7">Armed Forces Americas</option><option value="8">Armed Forces Canada</option><option value="9">Armed Forces Europe</option><option value="10">Armed Forces Middle East</option><option value="11">Armed Forces Pacific</option><option value="12">California</option><option value="13">Colorado</option><option value="14">Connecticut</option><option value="15">Delaware</option><option value="16">District of Columbia</option><option value="17">Federated States Of Micronesia</option><option value="18">Florida</option><option value="19">Georgia</option><option value="20">Guam</option><option value="21">Hawaii</option><option value="22">Idaho</option><option value="23">Illinois</option><option value="24">Indiana</option><option value="25">Iowa</option><option value="26">Kansas</option><option value="27">Kentucky</option><option value="28">Louisiana</option><option value="29">Maine</option><option value="30">Marshall Islands</option><option value="31">Maryland</option><option value="32">Massachusetts</option><option value="33">Michigan</option><option value="34">Minnesota</option><option value="35">Mississippi</option><option value="36">Missouri</option><option value="37">Montana</option><option value="38">Nebraska</option><option value="39">Nevada</option><option value="40">New Hampshire</option><option value="41">New Jersey</option><option value="42">New Mexico</option><option value="43">New York</option><option value="44">North Carolina</option><option value="45">North Dakota</option><option value="46">Northern Mariana Islands</option><option value="47">Ohio</option><option value="48">Oklahoma</option><option value="49">Oregon</option><option value="50">Palau</option><option value="51">Pennsylvania</option><option value="52">Puerto Rico</option><option value="53">Rhode Island</option><option value="54">South Carolina</option><option value="55">South Dakota</option><option value="56">Tennessee</option><option value="57">Texas</option><option value="58">Utah</option><option value="59">Vermont</option><option value="60">Virgin Islands</option><option value="61">Virginia</option><option value="62">Washington</option><option value="63">West Virginia</option><option value="64">Wisconsin</option><option value="65">Wyoming</option>-->
                              <!--</select></div>-->
                              <!--<input style="display: none" type="text" class="Textbox" name="shippingZoneStateName" id="shippingZoneStateName" value="">-->
                            <!--</dd>-->

                            <!--<dt>Suburb/City:</dt>-->
                            <!--<dd><input type="text" class="Textbox" name="shippingZoneCity" id="shippingZoneCity" value=""></dd>-->

                            <!--<dt><span class="Required">*</span>&nbsp;Zip/Postcode:</dt>-->
                            <!--<dd><input type="text" class="Textbox" name="shippingZoneZip" id="shippingZoneZip" value=""></dd>-->

                            <!--<dd class="Submit EstimateShippingButtons">-->
                              <!--<input type="button" onclick="Cart.EstimateShipping();" value="Estimate Shipping &amp; Tax" class="btn alt">-->
                              <!--<br>-->
                              <!--<a href="#" onclick="ToggleShippingEstimation2(); return false;" class="txt-link">Cancel</a>-->
                            <!--</dd>-->
                          <!--</dl>-->

                          <!--<div class="EstimatedShippingMethods" style="display: none;">-->
                            <!--<div class="ShippingMethodList">-->
                            <!--</div>-->

                          <!--</div>-->
                        <!--</div>-->

                      <!--</div>-->
                    <!--</td>-->
                  <!--</tr>-->
                  <!--<tr style="display:none" class="SubTotal">-->
                    <!--<td colspan="5" class="Odd"><div>Shipping ()</div></td>-->
                    <!--<td class="Even"><div><em class="ProductPrice"></em></div></td>-->
                  <!--</tr>-->

                  <!--<tr style="display: none" class="SubTotal Odd Even">-->
                    <!--<td colspan="5" class="Odd"><div>Handling</div></td>-->
                    <!--<td class="Even"><div><em class="ProductPrice"></em></div></td>-->
                  <!--</tr>-->


                  <!--<tr class="SubTotal gtotal Last">-->
                    <!--<td colspan="6" class="Odd"><div>Grand Total {{ getTotal() | async | currency}}<em class="ProductPrice"></em></div></td>-->
                  <!--</tr>-->
                  <tr class="SubTotal gtotal Last">
                  <td colspan="6" class="Odd"><div>Grand Total {{ getTotal() | currency}}</div></td>
                  </tr>

                  </tfoot>
                  <tbody>
                  <tr class="First Odd Even" *ngFor="let product of information">
                    <td class="CartThumb Even" style="">

                      <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-yanagi-knife-270mm-10-6-nami-kasumi/">
                        <img src='{{ product.PRO_SRC }}'></a>&nbsp;
                    </td>
                    <td class="ProductName Odd" colspan="1">
                      <a href="https://www.mtckitchen.com/tsukiji-masamoto-white-steel-yanagi-knife-270mm-10-6-nami-kasumi/">{{ product.PRO_TITLE }}</a>
                      <br>SKU ID: {{ product.PRO_ID }}<br>

                      <div class="CartExpectedReleaseDate" style="display: none;">()</div>

                      <div style="display: none" class="WrappingOptions">
                        Gift Wrapping:

                        <a href="#" onclick="Cart.ManageGiftWrapping('92637e98-e119-4e6c-8608-437b588088b6');" style="">Add</a>
                        <span style="display: none">
					(<a href="#" onclick="Cart.ManageGiftWrapping('92637e98-e119-4e6c-8608-437b588088b6');">Change</a> or <a href="cart.php?action=remove_giftwrapping&amp;item_id=92637e98-e119-4e6c-8608-437b588088b6" onclick="return Cart.RemoveGiftWrapping();">Remove</a>)
				</span>
                        <br>
                        <span style="display: none">
					Gift Message:

				</span>
                      </div>
                    </td>
                    <td align="center" class="CartItemQuantity Even">
                      <span style="padding: 0; margin: 0;"><input type="text" size="2" name="qty[92637e98-e119-4e6c-8608-437b588088b6]" id="text_qty_92637e98-e119-4e6c-8608-437b588088b6" class="qtyInput quantityInput" value="4" value='{{product.PTY}}'></span>

                    </td>
                    <td align="center" class="CartItemIndividualPrice Odd">
                      {{product.PRO_PRICE | currency}}
                    </td>
                    <td align="right" class="CartItemTotalPrice Even"><em class="ProductPrice">{{product.PRO_PRICE * product.PTY| currency}}</em>

                    </td>

                    <td class="Odd">
                      <div style="">
                        <a (click)="removeProduct(product.PRO_ID)" class="CartRemoveLink" title="Remove">&nbsp;</a>
                      </div>
                    </td>

                  </tr>

                  </tbody>
                </table>
                <div style="display: none">
                  <input class="btn" type="submit" value="Update Cart" title="Update">
                </div>
              </form>


              <!--<div class="CartCode cf">-->
                <!--<div class="CouponCode">-->
                  <!--<h3>Have a promo code?&lt;!&ndash;Coupon Code&ndash;&gt;</h3>-->
                  <!--<script type="text/javascript">-->
                    <!--lang.EnterCouponCode = "Please enter your coupon code.";-->
                  <!--</script>-->
                  <!--<form onsubmit="return Cart.CheckCouponCode()" action="https://www.mtckitchen.com/cart.php" method="post">-->
                    <!--<input type="hidden" name="action" value="applycoupon">-->
                    <!--<div class="CouponCode">-->
                      <!--<input type="text" name="couponcode" id="couponcode" class="Textbox Field100">-->
                      <!--<input type="submit" value="Apply" class="btn">-->
                    <!--</div>-->
                  <!--</form>-->
                <!--</div>-->

                <!--<div class="GiftCertificate">-->
                  <!--<h3>Redeem Gift Certificate</h3>-->
                  <!--<script type="text/javascript">-->
                    <!--lang.EnterGiftCertificateCode = "Please enter your gift certificate code.";-->
                  <!--</script>-->
                  <!--<form onsubmit="return Cart.CheckGiftCertificateCode()" action="https://www.mtckitchen.com/cart.php" method="post">-->
                    <!--<input type="hidden" name="action" value="applygiftcertificate">-->
                    <!--<div class="GiftCertificateCode">-->
                      <!--<input type="text" name="giftcertificatecode" id="giftcertificatecode" class="Textbox">-->
                      <!--<input type="submit" value="Use" class="btn">-->
                    <!--</div>-->
                  <!--</form>-->
                <!--</div>-->
              <!--</div>-->

              <!--Checkout part-->
              <div class="ProceedToCheckout">
                <div class="CheckoutButton" style="">
                  <a class="btn" routerLink="/payment" routerLinkActive="active">Proceed To Checkout</a>
                </div>
                <div class="AlternativeCheckout" style="display: none">
                  <p class="PTB20"><span style=""> or </span><a href="https://www.mtckitchen.com/checkout.php?action=multiple"><strong>check out with multiple addresses</strong></a></p>
                </div>
              </div>



              <div class="KeepShopping">
                <a routerLink="/products" routerLinkActive="active" class="btn alt">Click here to keep shopping</a>
              </div>
              <div class="clear"></div>
            </div>

            <div class="clear"></div>
            <div style="display: none">
              <p class="InfoMessage">
                There are no products in your cart.
              </p>
              To add a product to your cart, first browse for it or use the search box and then click its "Add to Cart" button.
              <br>
              <a href="https://www.mtckitchen.com/">Continue Shopping</a> on the MTC Kitchen home page.
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
