<div class="main">
  <div class="inner">

    <div class="Block Moveable Panel Breadcrumb" id="CategoryBreadcrumb">
      <ul class="last">
        <li><a href="https://www.mtckitchen.com/">Home</a></li><li><a href="https://www.mtckitchen.com/japanese-knives/">Japanese Knives</a></li><li><a href="https://www.mtckitchen.com/japanese-knives/japanese-style/">Japanese Style</a></li><li>Yanagi (Sushi Knife)</li>
      </ul>
    </div>
    <div class="productlist-page">

      <div id="CategoryHeading">

        <h1 class="TitleHeading">Yanagi (Sushi Knife)</h1>

        <div class="CategoryDescription">

          <p>The <em>Yanagi</em>&nbsp;is the essential tool for Japanese <em>Sushi</em>&nbsp;chefs. Created for slicing raw fish and seafood, the length and sharpness of the single bevel blade allow you to make one smooth pull to cleanly cut through delicate ingredients with very little force- resulting in perfect, glossy slices with no bruises, no rough surfaces. The&nbsp;<em>Yanagi</em>&nbsp;is the fish slicer traditionally used in Japan’s&nbsp;<em>Kansai</em>&nbsp;region (<em>Osaka</em>&nbsp;and&nbsp;<em>Kyoto</em>).&nbsp;</p>

          <div class="SubCategoryList mobile" style="display: none;">
            <div class="selector fixedWidth"><span style="user-select: none;">Select sub-category</span><select>
              <option value="" selected="selected">Select sub-category</option>
            </select></div>
          </div>
          <script language="javascript" type="text/javascript">//<![CDATA[
          $(document).ready(function() {
            // create the dropdown for mobile
            $('.SubCategoryList ul li').each(function(){
              $('.SubCategoryList select').append(new Option($(this).find('a').html(), $(this).find('a').attr('href')));
            });
            $('.SubCategoryList.mobile select option:first').attr('selected','selected');
            $('.SubCategoryList.mobile select').prev().html($('.SubCategoryList.mobile select option:first').html());

            if( !$('.SubCategoryList ul li').length ) {
              $('.SubCategoryList.mobile').hide();
            }

            // page redirect on change
            $('.SubCategoryList.mobile select').change(function(){
              var href = $(this).find('option:selected').val();
              if(href!='') {
                window.location.replace(href);
                window.location.href = href;
              }
            });
          });
          //]]></script>

        </div>
      </div>

      <button class="js-faceted-search-action btn">Filter by</button>
      <div class="Left fleft js-faceted-search-column">

        <link href="https://cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/Styles/faceted-search.css" rel="stylesheet" type="text/css" media="all">

        <div class="js-faceted-showing-container">
          <div class="facet-container">
            <div class="facet-header">
              <h4 class="facet-header-title">Refine by</h4>
            </div>
            <div class="facet-body">
              <ul class="facet-labels-list">

                <li class="facet-label">
                  <a data-id="362" href="#" class="js-facet-label">Tsukiji Masamoto</a>
                </li>

              </ul>

              <a class="js-facet-clear-all" href="#">Clear all</a>

            </div>
          </div>

        </div>

        <div class="js-faceted-search-container"><div class="js-facet-wrapper">
          <div class="facet-container facet-container-multi open">
            <div class="facet-header js-facet-accordion-action">
              <h6 class="facet-header-title">Brand</h6>

              <a herf="#" class="js-facet-clear">Clear</a>

            </div>
            <div class="facet-body">
              <ul class="facet-options-list">

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="366">
                    <div class="checker" id="uniform-366"><span><input class="js-facet-option-checkbox" type="checkbox" name="366" id="366"></span></div>
                    Aritsugu

                    <span class="facet-option-product-count">
                                (3)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="420">
                    <div class="checker" id="uniform-420"><span><input class="js-facet-option-checkbox" type="checkbox" name="420" id="420"></span></div>
                    Caddie

                    <span class="facet-option-product-count">
                                (1)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="418">
                    <div class="checker" id="uniform-418"><span><input class="js-facet-option-checkbox" type="checkbox" name="418" id="418"></span></div>
                    Global

                    <span class="facet-option-product-count">
                                (2)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="372">
                    <div class="checker" id="uniform-372"><span><input class="js-facet-option-checkbox" type="checkbox" name="372" id="372"></span></div>
                    Kanetsugu

                    <span class="facet-option-product-count">
                                (2)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="364">
                    <div class="checker" id="uniform-364"><span><input class="js-facet-option-checkbox" type="checkbox" name="364" id="364"></span></div>
                    Nenox

                    <span class="facet-option-product-count">
                                (5)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="363">
                    <div class="checker" id="uniform-363"><span><input class="js-facet-option-checkbox" type="checkbox" name="363" id="363"></span></div>
                    Sakai Takayuki

                    <span class="facet-option-product-count">
                                (7)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="419">
                    <div class="checker" id="uniform-419"><span><input class="js-facet-option-checkbox" type="checkbox" name="419" id="419"></span></div>
                    Sakon

                    <span class="facet-option-product-count">
                                (6)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="417">
                    <div class="checker" id="uniform-417"><span><input class="js-facet-option-checkbox" type="checkbox" name="417" id="417"></span></div>
                    Shun

                    <span class="facet-option-product-count">
                                (2)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option  selected " style="display: list-item;">
                  <label for="362">
                    <div class="checker" id="uniform-362"><span class="checked"><input class="js-facet-option-checkbox" type="checkbox" name="362" id="362" checked="checked"></span></div>
                    Tsukiji Masamoto

                    <span class="facet-option-product-count">
                                (22)
                            </span>

                  </label>
                </li>

              </ul>

            </div>
          </div>

        </div><div class="js-facet-wrapper">
          <div class="facet-container facet-container-multi open">
            <div class="facet-header js-facet-accordion-action">
              <h6 class="facet-header-title">Size</h6>

            </div>
            <div class="facet-body">
              <ul class="facet-options-list">

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="size-240mm-94-852402896">
                    <div class="checker" id="uniform-size-240mm-94-852402896"><span><input class="js-facet-option-checkbox" type="checkbox" name="size-240mm-94-852402896" id="size-240mm-94-852402896"></span></div>
                    240mm (9.4")

                    <span class="facet-option-product-count">
                                (5)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="size-270mm-106-494783711">
                    <div class="checker" id="uniform-size-270mm-106-494783711"><span><input class="js-facet-option-checkbox" type="checkbox" name="size-270mm-106-494783711" id="size-270mm-106-494783711"></span></div>
                    270mm (10.6")

                    <span class="facet-option-product-count">
                                (7)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="size-300mm-118-1690840308">
                    <div class="checker" id="uniform-size-300mm-118-1690840308"><span><input class="js-facet-option-checkbox" type="checkbox" name="size-300mm-118-1690840308" id="size-300mm-118-1690840308"></span></div>
                    300mm (11.8")

                    <span class="facet-option-product-count">
                                (7)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="size-330mm-13-450041185">
                    <div class="checker" id="uniform-size-330mm-13-450041185"><span><input class="js-facet-option-checkbox" type="checkbox" name="size-330mm-13-450041185" id="size-330mm-13-450041185"></span></div>
                    330mm (13")

                    <span class="facet-option-product-count">
                                (1)
                            </span>

                  </label>
                </li>

              </ul>

            </div>
          </div>

        </div><div class="js-facet-wrapper">
          <div class="facet-container facet-container-multi open">
            <div class="facet-header js-facet-accordion-action">
              <h6 class="facet-header-title">Style</h6>

            </div>
            <div class="facet-body">
              <ul class="facet-options-list">

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="style-yanagi-sushi-knife-620312201">
                    <div class="checker" id="uniform-style-yanagi-sushi-knife-620312201"><span><input class="js-facet-option-checkbox" type="checkbox" name="style-yanagi-sushi-knife-620312201" id="style-yanagi-sushi-knife-620312201"></span></div>
                    Yanagi (Sushi Knife)

                    <span class="facet-option-product-count">
                                (20)
                            </span>

                  </label>
                </li>

              </ul>

            </div>
          </div>

        </div><div class="js-facet-wrapper">
          <div class="facet-container facet-container-multi open">
            <div class="facet-header js-facet-accordion-action">
              <h6 class="facet-header-title">Material</h6>

            </div>
            <div class="facet-body">
              <ul class="facet-options-list">

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="material-blue-steel-1-548123306">
                    <div class="checker" id="uniform-material-blue-steel-1-548123306"><span><input class="js-facet-option-checkbox" type="checkbox" name="material-blue-steel-1-548123306" id="material-blue-steel-1-548123306"></span></div>
                    Blue Steel 1

                    <span class="facet-option-product-count">
                                (4)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="material-carbon-steel-100679336">
                    <div class="checker" id="uniform-material-carbon-steel-100679336"><span><input class="js-facet-option-checkbox" type="checkbox" name="material-carbon-steel-100679336" id="material-carbon-steel-100679336"></span></div>
                    Carbon Steel

                    <span class="facet-option-product-count">
                                (18)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="material-silver-3-527019008">
                    <div class="checker" id="uniform-material-silver-3-527019008"><span><input class="js-facet-option-checkbox" type="checkbox" name="material-silver-3-527019008" id="material-silver-3-527019008"></span></div>
                    Silver 3

                    <span class="facet-option-product-count">
                                (2)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="material-stain-resistant-2088667746">
                    <div class="checker" id="uniform-material-stain-resistant-2088667746"><span><input class="js-facet-option-checkbox" type="checkbox" name="material-stain-resistant-2088667746" id="material-stain-resistant-2088667746"></span></div>
                    Stain Resistant

                    <span class="facet-option-product-count">
                                (2)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="material-white-steel-1-1598195173">
                    <div class="checker" id="uniform-material-white-steel-1-1598195173"><span><input class="js-facet-option-checkbox" type="checkbox" name="material-white-steel-1-1598195173" id="material-white-steel-1-1598195173"></span></div>
                    White Steel 1

                    <span class="facet-option-product-count">
                                (6)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="material-white-steel-2-1598195174">
                    <div class="checker" id="uniform-material-white-steel-2-1598195174"><span><input class="js-facet-option-checkbox" type="checkbox" name="material-white-steel-2-1598195174" id="material-white-steel-2-1598195174"></span></div>
                    White Steel 2

                    <span class="facet-option-product-count">
                                (2)
                            </span>

                  </label>
                </li>

                <li class="facet-option js-facet-option " style="display: list-item;">
                  <label for="material-white-steel-3-1598195175">
                    <div class="checker" id="uniform-material-white-steel-3-1598195175"><span><input class="js-facet-option-checkbox" type="checkbox" name="material-white-steel-3-1598195175" id="material-white-steel-3-1598195175"></span></div>
                    White Steel 3

                    <span class="facet-option-product-count">
                                (6)
                            </span>

                  </label>
                </li>

              </ul>

            </div>
          </div>

        </div><div class="js-facet-wrapper" style="display: none;"></div><div class="js-facet-wrapper" style="display: none;"></div><div class="js-facet-wrapper" style="display: none;"></div><div class="js-facet-wrapper" style="display: none;"></div><div class="js-facet-wrapper" style="display: none;"></div><div class="js-facet-wrapper" style="display: none;"></div><div class="js-facet-wrapper" style="display: none;"></div><div class="js-facet-wrapper" style="display: none;"></div></div>

        <script id="js-template-facet-showing" type="text/x-handlebars-template">
          <div class="facet-container">
            <div class="facet-header">
              <h4 class="facet-header-title">Refine by</h4>
            </div>
            <div class="facet-body">
              <ul class="facet-labels-list">
                {{#each facets}}
                <li class="facet-label">
                  <a data-id="{{ id }}" href="#" class="js-facet-label">{{ attributes.title }}</a>
                </li>
                {{else}}
                <li>No filters applied</li>
                {{/each}}
              </ul>
              {{#if facets}}
              <a class="js-facet-clear-all" href="#">Clear all</a>
              {{/if}}
            </div>
          </div>

        </script>

        <script id="js-template-facet-category" type="text/x-handlebars-template">
          <div class="facet-container facet-container-category {{ facetState }} {{ facetLevels }}">
            <div class="facet-header js-facet-accordion-action">
              <h6 class="facet-header-title">{{ title }}</h6>
              {{#if showClearButton}}
              <a herf="#" class="js-facet-clear">Clear</a>
              {{/if}}
            </div>
            <div class="facet-body">
              <ul class="facet-options-list">
                {{#options}}
                <li class="facet-option js-facet-option {{ attributes.level }} {{#if attributes.selected }} selected {{/if}}">
                  <a data-id="{{ attributes.id }}"
                     href="#"
                     class="facet-category-option js-facet-category-option {{#if attributes.has_sub_categories }} facet-category-option-has-children {{/if}}" >
                    {{ attributes.title }}

                    {{#if ../showCount}}
                    {{#if attributes.count}}
                    <span class="facet-option-product-count">
                                    ({{ attributes.count }})
                                </span>
                    {{/if}}
                    {{/if}}
                  </a>
                </li>
                {{/options}}
              </ul>
              {{#if showMoreButton}}
              <div class="js-facet-more-options">
                <button type="button" class="btn btn-facet-more-options {{ showMoreState }}"></button>
              </div>
              {{/if}}
            </div>
          </div>

        </script>

        <script id="js-template-facet-multi" type="text/x-handlebars-template">
          <div class="facet-container facet-container-multi {{ facetState }}">
            <div class="facet-header js-facet-accordion-action">
              <h6 class="facet-header-title">{{ title }}</h6>
              {{#if showClearButton}}
              <a herf="#" class="js-facet-clear">Clear</a>
              {{/if}}
            </div>
            <div class="facet-body">
              <ul class="facet-options-list">
                {{#options}}
                <li class="facet-option js-facet-option {{#if attributes.selected }} selected {{/if}}" >
                  <label for="{{ attributes.id }}">
                    <input
                      class="js-facet-option-checkbox"
                      type="checkbox"
                      name="{{ attributes.id }}"
                      id="{{ attributes.id }}"
                      {{#if attributes.selected }} checked="checked" {{/if}}
                    />
                    {{ attributes.title }}
                    {{#if ../showCount}}
                    <span class="facet-option-product-count">
                                ({{ attributes.count }})
                            </span>
                    {{/if}}
                  </label>
                </li>
                {{/options}}
              </ul>
              {{#if showMoreButton}}
              <div class="js-facet-more-options">
                <button type="button" class="btn btn-facet-more-options {{ showMoreState }}"></button>
              </div>
              {{/if}}
            </div>
          </div>

        </script>

        <script id="js-template-facet-range" type="text/x-handlebars-template">
          <div class="facet-container facet-container-range js-accordion-container {{ facetState }}">
            <div class="facet-header js-facet-accordion-action">
              <h6 class="facet-header-title">{{ title }}</h6>
            </div>
            <div class="facet-body">
              <form action="" id="facet-range-form" class="facet-form js-facet-range-from {{#if currentViewRange }} current {{/if}}">
                <fieldset>
                  <input
                    placeholder="Min."
                    min="0"
                    class="js-facet-range-input-from"
                    required
                    type="number"
                    {{#if currentViewRange }} value="{{ currentViewRange.attributes.from }}" {{/if}}
                  />
                  -
                  <input
                    placeholder="Max."
                    min="0"
                    class="js-facet-range-input-to"
                    required
                    type="number"
                    {{#if currentViewRange }} value="{{ currentViewRange.attributes.to }}" {{/if}}
                  />
                  <button class="btn js-btn-facet-range-update" type="submit">Update</button>
                  <a href="#" class="btn js-btn-facet-range-clear">Clear</a>
                </fieldset>
              </form>
              <ul class="facet-options-list">
                {{#options}}
                <li class="facet-option js-facet-option {{#if attributes.selected }} selected {{/if}}" >
                  <a data-id="{{ attributes.id }}" href="#" class="js-facet-range-option">
                    {{ attributes.title }}
                    {{#if ../showCount}}
                    <span class="facet-option-product-count">({{ attributes.count }})</span>
                    {{/if}}
                  </a>
                </li>
                {{/options}}
              </ul>
            </div>
          </div>

        </script>

        <script id="js-template-facet-rating" type="text/x-handlebars-template">
          <div class="facet-container facet-container-rating js-accordion-container {{ facetState }}">
            <div class="facet-header js-facet-accordion-action">
              <h6 class="facet-header-title">{{ title }}</h6>
              {{#if showClearButton}}
              <a herf="#" class="js-facet-clear">Clear</a>
              {{/if}}
            </div>
            <div class="facet-body">
              <ul class="facet-options-list">
                {{#options}}
                <li class="facet-option js-facet-option {{#if attributes.selected }} selected {{/if}}" >
                  <label for="{{ attributes.id }}">
                    <input
                      class="js-facet-option-checkbox"
                      type="checkbox"
                      name="{{ attributes.id }}"
                      id="{{ attributes.id }}"
                      value="{{ attributes.value }}"
                      {{#if attributes.selected }} checked="checked" {{/if}}
                    />
                    <img
                      class="facet-option-rating-stars"
                      src="https://cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/IcoRating{{ attributes.value }}.png"
                      alt="{{ attributes.title }}"
                    />
                    &amp; up
                    {{#if ../showCount}}
                    <span class="facet-option-product-count">
                                ({{ attributes.count }})
                            </span>
                    {{/if}}
                  </label>
                </li>
                {{/options}}
              </ul>
            </div>
          </div>

        </script>

        <script id="js-template-facet-single" type="text/x-handlebars-template">
          <div class="facet-container facet-container-single {{ facetState }}">
            <div class="facet-header js-facet-accordion-action">
              <h6 class="facet-header-title">{{ title }}</h6>
              {{#if showClearButton}}
              <a herf="#" class="js-facet-clear">Clear</a>
              {{/if}}
            </div>
            <div class="facet-body">
              <ul class="facet-options-list">
                {{#options}}
                <li class="facet-option js-facet-option {{#if attributes.selected }} selected {{/if}}" >
                  <a data-id="{{ id }}" href="#" class="js-facet-single-option">
                    {{ attributes.title }}
                    {{#if ../showCount}}
                    <span class="facet-option-product-count">({{ attributes.count }})</span>
                    {{/if}}
                  </a>
                </li>
                {{/options}}
              </ul>
            </div>
            {{#if showMoreButton}}
            <div class="js-facet-more-options">
              <button type="button" class="btn btn-facet-more-options {{ showMoreState }}"></button>
            </div>
            {{/if}}
          </div>

        </script>

        <script id="js-template-product-list" type="text/x-handlebars-template">
          <ul class="ProductList List">
            {{#variants}}
            <li class="ListView QuickView" data-product="{{ product.id }}">
              <div class="ProductImage">
                <a href="{{ product.url }}">
                  <img src="{{ product.default_image.thumbnail_url }}" alt="{{ product.name }}" />
                </a>
              </div>
              <div class="ProductDetails">
                <div class="ProductRightCol">
                  {{#if product.rating}}
                  <div class="ProductPriceRating">
                            <span class="Rating Rating{{ product.rating }}">
                                <img src="https://cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/IcoRating{{ product.rating }}.png" alt="" style="" />
                            </span>
                  </div>
                  {{/if}}
                </div>
                <p class="p-name"><a href="{{ product.url }}">{{ product.name }}</a></p>
                <em class="p-price">
                  {{{ formatProductCatalogPrice . }}}
                </em>
                <p class="ProductDescription">{{{  product.description }}}</p>
                {{#if product.add_text }}
                <div class="ProductActionAdd">
                  <a href="{{ product.add_url }}" class="btn icon-{{ product.add_text }}" title="{{ product.add_text }}">{{ product.add_text }}</a>
                </div>
                {{/if}}
                {{#ifStoreConfig 'EnableProductComparisons'}}
                <div class="ProductCompareButton">
                  <input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_{{ product.id }}" value="{{ product.id }}" onclick="product_comparison_box_changed(this.checked)" />
                  <label for="compare_{{ product.id }}">{{ getLang 'compare' }}</label>
                </div>
                {{/ifStoreConfig}}
              </div>
            </li>
            {{/variants}}
          </ul>

        </script>

        <script id="js-template-product-grid" type="text/x-handlebars-template">
          <ul class="ProductList">
            {{#variants}}
            <li>
              <div class="ProductImage QuickView" data-product="{{ product.id }}">
                <a href="{{ product.url }}">
                  <img src="{{ product.default_image.thumbnail_url }}" alt="{{ product.name }}" />
                </a>
              </div>
              <div class="ProductDetails">
                <a href="{{ product.url }}" class="pname">{{ product.name }}</a>
              </div>
              <em class="p-price">
                {{{ formatProductCatalogPrice . ../storeConfig.taxDefaultTaxDisplayCatalog }}}
              </em>
              {{#ifStoreConfig 'ShowProductRating'}}
              <div class="ProductPriceRating">
                    <span class="Rating Rating{{ product.rating }}">
                        <img src="https://cdn6.bigcommerce.com/r-aac0322435b2c359692a75125d3d27d3de5e69cb/themes/ClassicNext/images/IcoRating{{ product.rating }}.png" alt="" style="" />
                    </span>
              </div>
              {{/ifStoreConfig}}
              {{#ifStoreConfig 'EnableProductComparisons'}}
              <div class="ProductCompareButton">
                <input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_{{ product.id }}" value="{{ product.id }}" onclick="product_comparison_box_changed(this.checked)" />
                <label for="compare_{{ product.id }}">{{ getLang 'compare' }}</label>
              </div>
              {{/ifStoreConfig}}
              {{#if product.add_text}}
              <div class="ProductActionAdd">
                <a href="{{ product.add_url }}" class="btn icon-{{ product.add_text }}" title="{{ product.add_text }}">{{ product.add_text }}</a>
              </div>
              {{/if}}
            </li>
            {{/variants}}
          </ul>

        </script>

        <script id="js-template-pagination" type="text/x-handlebars-template">
          <div class="js-pagination {{ paginationClass }}">
            {{#paginate pagination type="previous"}}
            {{^if disabled}}<a href="#" class="nav-prev js-paginate" data-page="{{n}}">&laquo; Previous</a>{{/if}}
            {{/paginate}}
            <ul class="js-paging-list {{ pagingListClass }}">
              {{#paginate pagination type="middle" limit="7"}}
              {{#if active}}
              <li class="ActivePage">{{n}}</li>
              {{else}}
              <li><a href="#" class="js-paginate" data-page="{{n}}">{{n}}</a></li>
              {{/if}}
              {{/paginate}}
            </ul>
            {{#paginate pagination type="next"}}
            {{^if disabled}}<a href="#" class="nav-next js-paginate" data-page="{{n}}">Next &raquo;</a>{{/if}}
            {{/paginate}}
          </div>

        </script>

        <script id="js-template-facet-list-page" type="text/x-handlebars-template">
          <div class="facet-container facet-container-view-all">
            <h1 class="facet-quickfind-heading">{{ title }}</h1>
            <form class="facet-quickfind-form">
              <fieldset>
                <input type="text" class="facet-value-list-quickfind" placeholder="Find...">
              </fieldset>
            </form>

            <div class="facet-body">
              <ul class="facet-options-list facet-options-columns">
                {{#options}}
                <li class="facet-option js-facet-option {{#if attributes.selected }} selected {{/if}}" >
                  <a class="facet-option-link" data-facet-id="{{ attributes.id }}">
                    {{ attributes.title }}
                    <span class="facet-option-product-count">
                        ({{ attributes.count }})
                    </span>
                  </a>
                </li>
                {{/options}}
              </ul>
            </div>
          </div>


        </script>

        <script>
          var lang = lang || {};
          lang.compare = 'Compare';
          lang.ProductChooseOptionLink = 'Choose Options';
          lang.ProductPreOrderCartLink = 'Pre-Order Now';
          lang.ProductAddToCartLink = 'Add To Cart';
          lang.CatalogPriceIncTaxLabel = ' (inc :label)';
          lang.CatalogPriceExTaxLabel = ' (ex :label)';

          // assignment of a value via `return` prevents JS to break in case of empty %%GLOBAL%% variable
          var facetedSearchOptions = function(){return {"storeConfig":{"FacetListModalEnabled":true,"ProductsPerPage":100,"DisplayMode":"grid","SortOrder":"featured","ShowAddToCartLink":1,"ShowProductPrice":1,"AllowPurchasing":1,"ShowProductRating":1,"EnableProductComparisons":1,"taxDefaultTaxDisplayCatalog":1,"taxLabel":"Tax","ProductOutOfStockBehavior":"do_nothing","OutOfStockMessage":"Temporarily out of stock","ProductOptionCountsEnabled":true},"facetedSearchState":{"category":{"base":3572},"page_context":"category"},"facetedSearchConfig":{"enabled":true,"groups":[{"facet":"category","type":"term","is_product_option":false,"title":"Category","visible":false,"sort_order":"alphabetically","items_count":15,"start_collapsed":false,"show_product_counts":true,"display":"hierarchy"},{"facet":"brand","type":"term","is_product_option":false,"title":"Brand","visible":true,"sort_order":"alphabetically","items_count":15,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Size","type":"term","is_product_option":true,"title":"Size","visible":true,"sort_order":"alphabetically","items_count":15,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Style","type":"term","is_product_option":true,"title":"Style","visible":true,"sort_order":"alphabetically","items_count":15,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Material","type":"term","is_product_option":true,"title":"Material","visible":true,"sort_order":"alphabetically","items_count":15,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Grit#","type":"term","is_product_option":true,"title":"Grit#","visible":true,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Grain","type":"term","is_product_option":true,"title":"Grain","visible":true,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Feature","type":"term","is_product_option":true,"title":"Feature","visible":true,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Blades for","type":"term","is_product_option":true,"title":"Blades For","visible":true,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Blade Style","type":"term","is_product_option":true,"title":"Blade Style","visible":true,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Special Feature","type":"term","is_product_option":true,"title":"Special Feature","visible":true,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Capacity","type":"term","is_product_option":true,"title":"Capacity","visible":true,"sort_order":"alphabetically","items_count":15,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Color","type":"term","is_product_option":true,"title":"Color","visible":true,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"rating","type":"term","is_product_option":false,"title":"Rating","visible":false,"start_collapsed":true,"show_product_counts":true,"display":"rating"},{"facet":"COLOR","type":"term","is_product_option":true,"title":"COLOR","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Mateiral","type":"term","is_product_option":true,"title":"NO USE","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Dimensions","type":"term","is_product_option":true,"title":"Dimensions","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"price","type":"range","title":"Price","visible":false,"start_collapsed":false,"show_product_counts":true,"display":"range"},{"facet":"SIZE","type":"term","is_product_option":true,"title":"SIZE","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"bool","type":"bool","title":"Other","items":[{"id":"has_free_shipping","title":"Has Free Shipping","visible":true},{"id":"is_featured","title":"Is Featured","visible":true},{"id":"in_stock","title":"In Stock","visible":true}],"visible":false,"start_collapsed":true,"show_product_counts":true,"display":"multi"},{"facet":"Grit#2000","type":"term","is_product_option":true,"title":"Grit#2000","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Spare Parts for","type":"term","is_product_option":true,"title":"Spare Parts For","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Purpose","type":"term","is_product_option":true,"title":"Purpose","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"N","type":"term","is_product_option":true,"title":"N","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Add Saya Cover for Nenox SD Paring Knife 100mm (4.0\")","type":"term","is_product_option":true,"title":"Add Saya Cover For Nenox SD Paring Knife 100mm (4.0\")","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"},{"facet":"Need a Matching Cover?","type":"term","is_product_option":true,"title":"Need A Matching Cover?","visible":false,"sort_order":"alphabetically","items_count":10,"start_collapsed":false,"show_product_counts":true,"display":"multi"}]}}}() || {};
          facetedSearchOptions.reloadCallback = function () {
            if (typeof($('.QuickView').quickview) === "function") {
              $('.QuickView').quickview({
                buttonText: "",
                buttonColor: "",
                gradientColor: "",
                textColor: ""
              });
            }

            if (typeof(setProductListHeights) === 'function') {
              setProductListHeights();
            }
          };

          (function() {
            //try and make sure require and faceted-search loads after everything on a theme page.
            var fs = document.createElement('script');
            fs.async = true;
            fs.setAttribute('data-main', 'https://cdn5.bigcommerce.com/shared/js/faceted-search-4fe12f499a5934edcf98c26b3e2150713083d066.js');
            fs.src = 'https://cdn5.bigcommerce.com/shared/js/faceted-search-4fe12f499a5934edcf98c26b3e2150713083d066.js';
            var s = document.getElementsByTagName('body')[0]; s.appendChild(fs);
          })();
        </script>

        <figure class="SideBanner"><a href="https://www.mtckitchen.com/blog/nakamura-japanese-ramen-noodle-in-lower-eastside-new-york-whats-the-tool-you-cant-live-without?utm_source=mtckitchen&amp;utm_campaign=blog&amp;utm_medium=Side-Banner"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/SD-Blog.jpg?t=1509987879" alt="Nakamura Japanese Ramen Noodle in Lower Eastside, New York What’s the tool you can’t live without?"></a></figure>
        <figure class="SideBanner"><a href="https://www.mtckitchen.com/tableware/collection/kayanama-yaki?utm_medium=Side-Banner&amp;utm_campaign=tableware"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/SD-NewItems03.jpg?t=1509987879" alt="New Tableware from Japanese pottery"></a></figure>
        <figure class="SideBanner"><a href="https://www.mtckitchen.com/food?utm_source=mtckitchen&amp;utm_medium=Side-Banner&amp;utm_campaign=food"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/SD-Food.jpg?t=1509987879" alt="Japanese premium food is available now!"></a></figure>
        <figure class="SideBanner"><a href="https://www.mtckitchen.com/free-shipping-with-over-100-knives-purchase?utm_source=mtckitchen&amp;utm_campaign=knife_freeship&amp;utm_medium=Side-Banner"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/SD-FreeShip.jpg?t=1509987879" alt="Free Shipping on Knives Orders Over $100 within the contiguous U.S."></a></figure>
        <figure class="SideBanner"><a href="https://www.mtckitchen.com/disposables/take-out-containers?utm_source=mtckitchen&amp;utm_campaign=takeout&amp;utm_medium=Side-Banner"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/SD-BulkPricing.jpg?t=1509987879" alt="New Bulk Pricing for Take out containers"></a></figure>
      </div>
      <div class="Content Wide " id="LayoutColumn1">
        <!--<div class="product-nav">
            <div class="FloatRight SortBox">
<form action="https://www.mtckitchen.com/japanese-knives/style/yanagi/" method="get">

<label>Sort by:</label>
<select name="sort" id="sort" onchange="this.form.submit()">
<option selected="selected" value="featured">Featured Items</option>
<option  value="newest">Newest Items</option>
<option  value="bestselling">Bestselling</option>
<option  value="alphaasc">Alphabetical: A to Z</option>
<option  value="alphadesc">Alphabetical: Z to A</option>
<option  value="avgcustomerreview">Avg. Customer Review</option>
<option  value="priceasc">Price: Low to High</option>
<option  value="pricedesc">Price: High to Low</option>
</select>
</form>
</div>

            <div class="Block Moveable Panel" id="CategoryPagingTop" style="display:none;"></div>
            <div class="clear"></div>
        </div>-->
        <div class="Block CategoryContent Moveable Panel" id="CategoryContent">

          <h4 style="font-weight: 600;padding-bottom: 8px; border-bottom: 1px solid #7c9526;font-size: 18px;margin-bottom: 20px;">3 things to know why our Japanese style knives are the best</h4>
          <div class="clear" style="margin-bottom: 30px;">
            <section style="float: left;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/PG-OctApp01.jpg?t=1509987879" style="width:100%;" alt="Urasuki"><p style="font-size: 14px; margin-top: 12px;">Urasuki refers to the concave shape of the back side of the blade that is traditionally found on wa-bocho (single bevel knives). The purpose of the urasuki is to minimize food sticking to the blade (reducing the drag while slicing) hence it has the same effect as perforated and hollow-ground blades.<br><br>
              It is essential for the rim of the urasuki to be perfectly flat and level for it to have full effect. The process of maintaining the rim is known as uraoshi.</p></section>
            <section style="float: right;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/PG-OctApp02.png?t=1509987879" style="width:100%;" alt="30% Off Yanagi Knives Essential Toos for Sushi Chefs"></section>
          </div>

          <div class="clear" style="margin-bottom: 30px;">
            <section style="float: left;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/PG-OctApp03.png?t=1509987879" style="width:100%;" alt="Ago Polishing"><p style="font-size: 14px; margin-top: 12px;">Grinding and polishing the ago of the knife makes it more comfortable for the fingers to be pressed against it hence creates a better grip.<br><br>This part is usually just machine punched and no final polishing is done to the final product.</p></section>
            <section style="float: right;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/PG-OctApp04.jpg?t=1509987879" style="width:100%;" alt="Ago Polishing"></section>
          </div>

          <div class="clear" style="margin-bottom: 50px;">
            <section style="float: left;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/PG-OctApp05.png?t=1509987879" style="width:100%;" alt="The Spine Finish"><p style="font-size: 14px;">It is vital to align the spine of the knife and make sure that it is not bent at all. The spine should be of equal thickness along its full length.</p></section>
            <section style="float: right;"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/PG-OctApp06.jpg?t=1509987879" style="width:100%;" alt="The Spine Finish"></section>
          </div>

          <h3>Search by Brand</h3>
          <ul class="CategoryList">
            <li class="Odd">
              <div class="CatImage">
                <a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/?search_query=&amp;page=1&amp;limit=100&amp;sort=featured&amp;brand=362&amp;category=3572&amp;is_category_page=1"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/Yanagi-Masamoto.jpg?t=1509987879" alt="Tsukiji Masamoto Yanagi Knives"></a>
                <h2>Tsukiji Masamoto Yanagi Knives</h2>
              </div>
            </li>

            <li class="Even">
              <div class="CatImage">
                <a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/?search_query=&amp;page=1&amp;limit=100&amp;sort=featured&amp;brand=364&amp;category=3572&amp;is_category_page=1"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/Yanagi-Nenohi.jpg?t=1509987879" alt="Nenohi Yanagi Knives"></a>
                <h2>Nenohi Yanagi Knives</h2>
              </div>
            </li>

            <li class="Odd">
              <div class="CatImage">
                <a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/?search_query=&amp;page=1&amp;limit=100&amp;sort=featured&amp;brand=366&amp;category=3572&amp;is_category_page=1"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/Yanagi-Aritsugu.jpg?t=1509987879" alt="Aritsugu Yanagi Knives"></a>
                <h2>Aritsugu Yanagi Knives</h2>
              </div>
            </li>

            <li class="Even">
              <div class="CatImage">
                <a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/?search_query=&amp;page=1&amp;limit=100&amp;sort=featured&amp;brand=363&amp;category=3572&amp;is_category_page=1"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/Yanagi-Takayuki.jpg?t=1509987879" alt="Sakai Takayuki Yanagi Knives"></a>
                <h2>Sakai Takayuki Yanagi Knives</h2>
              </div>
            </li>

            <li class="Odd">
              <div class="CatImage">
                <a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/?search_query=&amp;page=1&amp;limit=100&amp;sort=featured&amp;brand=419&amp;category=3572&amp;is_category_page=1"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/Yanagi-Sakon.jpg?t=1509987879" alt="Sakon Yanagi Knives"></a>
                <h2>Sakon Yanagi Knives</h2>
              </div>
            </li>

            <li class="Even">
              <div class="CatImage">
                <a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/?search_query=&amp;page=1&amp;limit=100&amp;sort=featured&amp;brand=372&amp;category=3572&amp;is_category_page=1"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/Yanagi-Kanetsugu.jpg?t=1509987879" alt="Seki Kanetsugu Yanagi Knives"></a>
                <h2>Seki Kanetsugu Yanagi Knives</h2>
              </div>
            </li>

            <li class="Odd">
              <div class="CatImage">
                <a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/?search_query=&amp;page=1&amp;limit=100&amp;sort=featured&amp;brand=417&amp;category=3572&amp;is_category_page=1"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/Yanagi-Shun.jpg?t=1509987879" alt="Shun Yanagi Knives"></a>
                <h2>Shun Yanagi Knives</h2>
              </div>
            </li>

            <li class="Even">
              <div class="CatImage">
                <a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/?search_query=&amp;page=1&amp;limit=100&amp;sort=featured&amp;brand=418&amp;category=3572&amp;is_category_page=1"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/Yanagi-Global.jpg?t=1509987879" alt="Global Yanagi Knives"></a>
                <h2>Global Yanagi Knives</h2>
              </div>
            </li>

            <li class="Odd">
              <div class="CatImage">
                <a href="https://www.mtckitchen.com/japanese-knives/style/yanagi/?search_query=&amp;page=1&amp;limit=100&amp;sort=featured&amp;brand=420&amp;category=3572&amp;is_category_page=1"><img src="https://cdn6.bigcommerce.com/s-ih7nl5lym4/templates/__custom/images/Yanagi-Caddie.jpg?t=1509987879" alt="Caddie Yanagi Knives"></a>
                <h2>Caddie Yanagi Knives</h2>
              </div>
            </li>

          </ul>

          <div class="product-nav">
            <div class="FloatRight SortBox">
              <form method="get">

                <label>Sort by:</label>
                <div id="uniform-sort">
                 <select name="sort" id="sort" (change)="sortList($event.target.value)">
                  <option selected="selected" value="alphaasc" (click)="asc()">Alphabetical: A to Z</option>
                  <option value="alphadesc">Alphabetical: Z to A</option>
                  <option value="avgcustomerreview">Avg. Customer Review</option>
                  <option value="priceasc">Price: Low to High</option>
                  <option value="pricedesc">Price: High to Low</option>
                </select>
                </div>
              </form>
            </div>

            <div class="Block Moveable Panel" id="CategoryPagingTop" style="display:none;">
              <div class="js-pagination CategoryPagination">
                <ul class="js-paging-list PagingList">
                  <li class="ActivePage">1</li>
                </ul>

              </div>

            </div>
            <div class="clear"></div>
          </div>

          <script type="text/javascript">
            lang.CompareSelectMessage = 'Please choose at least 2 products to compare.';
            lang.PleaseSelectAProduct = 'Please select at least one product to add to your cart.';
            config.CompareLink = 'https://www.mtckitchen.com/compare/';
          </script>

          <form name="frmCompare" id="frmCompare">

          <ul class="ProductList">
            <li style="min-height: 386px;" *ngFor="let product of products" (click)="goDetail(product)">
            <div class="ProductImage QuickView" data-product="20967">
            <a style="height: 285px;">
            <img src="{{ product.pro_SRC}}">
            </a>
            </div>
            <div class="ProductDetails" style="min-height: 77px;">
            <a class="pname">{{ product.pro_TITLE}}</a>
            </div>
            <em class="p-price">
              {{ product.pro_PRICE | currency }}
            </em>

            <div class="ProductPriceRating">
            <span class="Rating Rating4">
            <img src="{{ product.pro_RATING }}" alt="" style="">
            </span>
            </div>

            <!--<div class="ProductActionAdd">-->
            <!--<a href="https://www.mtckitchen.com/tsukiji-masamoto-junkou-honyaki-yanagi-knife-300mm-11-8/" class="btn icon-Temporarily out of stock" title="Temporarily out of stock">Temporarily out of stock</a>-->
            <!--</div>-->

            </li>
          </ul>
          </form>


        </div>
      </div>
      <div class="clear"></div>

    </div>
  </div>
</div>
