<div class="main">
  <div class="inner">

    <div class="Content Widest" id="LayoutColumn1">

      <div class="Block Moveable Panel Breadcrumb" id="LoginBreadcrumb">
        <ul class="last">
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a href="javascript:history.go(-1)">... Previous Page</a></li>
          <li>Sign in</li>
        </ul>
      </div>


          <h1 class="TitleHeading">Sign in or Create Account</h1>

          <div class="login-form Block container" id="LoginForm">
            <div class="grid">
              <div class="grid__item one-half">
                <div class="CreateAccount">
                  <h3>Create a New Account</h3>
                  <div style="display:none">
                    <p>If this is your first purchase from MTC Kitchen please click the "Continue." button to get started.</p>
                    <form action="https://www.mtckitchen.com/login.php" method="get">
                      <input type="hidden" name="action" value="create_account">
                      <input type="hidden" name="checking_out" value="yes">
                      <input type="submit" value="Continue »" style="padding:2px 10px 2px 10px">
                    </form>
        </div>

        <div style="display: ">
          <p>Create an account with us and you'll be able to:</p><ul><li>Check out faster</li><li>Save multiple shipping addresses</li><li>Access your order history</li><li>Track new orders</li><li>Save items to your wish list</li></ul>
          <a class="btn alt" routerLink="/creataccount" routerLinkActive="active">Create an account</a>
        </div>

      </div>
    </div>


    <div class="grid__item one-half">
      <div class="AccountLogin">
        <h3>Sign In</h3>
        <form #loginForm="ngForm">
          <div class="FormContainer">
            <p style="display: none" class="SuccessMessage">
            </p>
            <fieldset>
              <label for="username">Email Address:</label>
              <input type="email" class="form-control Textbox InitialFocus" id="username" name="username" ngModel>
              <font *ngIf="checkEmail" color="red">The Username or Password is incorrect !</font>
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" ngModel>
              <font *ngIf="checkPassword" color="red">The Password cannot be empty</font>
            </fieldset>
            <fieldset class="actions">
              <!--<input id="LoginButton" class="btn alt" type="submit" value="Sign In">-->
              <button type="submit" class="btn btn-default" (click)="newlogin(loginForm.value)">Sign In</button>
              <a class="alt">Forgot your password?</a>
            </fieldset>
          </div>
        </form>
      </div>

      <!--<div class="col-sm-6">-->
        <!--<h3>Reactive Form</h3>-->
        <!--<form [formGroup]="myFormGroup">-->
          <!--<div class="form-group">-->
            <!--<label for="name">Name:</label>-->
            <!--<input type="text" class="form-control" id="name" formControlName="name">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="age">Age:</label>-->
            <!--<input type="number" class="form-control" id="age" formControlName="age">-->
          <!--</div>-->
          <!--<button type="button" class="btn btn-default" (click)="onSubmit()">Submit</button>-->
        <!--</form>-->
      <!--</div>-->

    </div>




  </div>
</div>



    </div>
  </div>
</div>
